/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Full width buttons.
 *
 * 1. Force 100% width for <button> in some browsers.
 */
.o-btn {
    @include starterized-unselectable;
    background: none;
    border: none;
    display: inline-block;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    transition: all .2s ease;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    :disabled {
        cursor: default;
    }
}

/**
 * Full width buttons.
 *
 * 1. Force 100% width for <button> in some browsers.
 */
.o-btn--full {
    box-sizing: border-box;
    display: block;
    width: 100%; /* [1] */
}
