/* --------------------------------------------------------------------------------------
+
+ JUSTIFIZE
+
-------------------------------------------------------------------------------------- */

/**
 * 1. IE 10, 11 FIX
 */

/*
    http://www.css-101.org/articles/responsive-boxes/magic-boxes.php

    <div class="o-justifize">
      <div class="o-justifize__box">
        justifize box content
      </div>
      <div class="o-justifize__box">
        justifize box content
      </div>
      <div class="o-justifize__box">
        justifize box content
      </div>
    </div>
*/

//JUSTIFIZE
.o-#{$inuit-namespace}justifize,
%#{$inuit-namespace}justifize {
    font-size: 0;
    text-justify: distribute-all-lines; /* [1] */
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

//JUSTIFIZE BOX
.o-#{$inuit-namespace}justifize__box,
%#{$inuit-namespace}justifize__box {
    @include inuit-font-size($inuit-base-font-size, none);
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    //GENERAL VERTICAL ALIGNMENT FOR JUSTIFIZE BOX
    .o-#{$inuit-namespace}justifize--top &,
    %#{$inuit-namespace}justifize--top & {
        vertical-align: top;
    }

    .o-#{$inuit-namespace}justifize--bottom &,
    %#{$inuit-namespace}justifize--bottom & {
        vertical-align: bottom;
    }
}
