{# Icon Macro #}
{% macro icon(name, size, classModifier) %}
<svg role="img" class="o-icon {{ classModifier }} {{ "o-icon--" + size if size }}">
  <use xlink:href="icons/icons.svg#{{ name }}"></use>
</svg>
{% endmacro %}

{# Logo Macro #}
{% macro logo(url, alt, classModifier, href) %}
<a class="c-logo {{ classModifier }}" href="{{ href }}">
  <img alt="{{ alt }}" src="{{ url }}">
</a>
{% endmacro %}

{# Input Macro #}
{% macro input(class, id, name, type, placeholder, value, disabled, error) %}
<div class="c-field {{ class }} {{ "has-error" if error }}">
  <input
    class="c-input c-field__input js-input"
    type="{{ type | default("text") }}"
    {% if id %}
    id="{{ id }}"
    {% endif %}
    placeholder="{{ placeholder | default("Enter text")}}"
    {% if name %}
    name="{{ name }}"
    {% endif %}
    {% if value %}
    value="{{ value }}"
    {% endif %}
    {{ "disabled" if disabled }}>
  <label class="c-field__label" for="{{ id }}">
    {{ placeholder | default("Enter text")}}
  </label>
  <p class="c-field__message">
    {{ error if error }}
  </p>
</div>
{% endmacro %}

{# Textarea Macro #}
{% macro textarea(class, id, name, placeholder, value, disabled, error) %}
<div class="c-field {{ class }} {{ "has-error" if error }}">
  <textarea
    class="c-textarea c-field__input js-input js-textarea"
    {% if id %}
    id="{{ id }}"
    {% endif %}
    {% if name %}
    name="{{ name }}"
    {% endif %}
    {{ "disabled" if disabled }}>{{ value if value }}</textarea>
  <label class="c-field__label"
    {% if id %}
    for="{{ id }}"
    {% endif %}>
    {{ placeholder | default("Enter text")}}
  </label>
  <p class="c-field__message">
    {{ error if error }}
  </p>
</div>
{% endmacro %}

{# Radio button Macro #}
{% macro radio(class, id, name, placeholder, disabled, checked, focus) %}
<label class="c-radio {{ class }} {{ "is-disabled" if disabled }}">
  <input
    class="c-radio__input {{ "is-focus" if focus }}"
    {% if id %}
    id="{{ id }}"
    {% endif %}
    {% if name %}
    name="{{ name }}"
    {% endif %}
    type="radio"
    {{ "disabled" if disabled }}
    {{ "checked" if checked }}>
  <span class="c-radio__mark"></span>
  {{ placeholder }}
</label>
{% endmacro %}

{# Check button Macro #}
{% macro checkbox(class, id, name, placeholder, disabled, checked, focus) %}
<label class="c-checkbox {{ class }} {{ "is-disabled" if disabled }}">
  <input
    class="c-checkbox__input {{ "is-focus" if focus }}"
    {% if id %}
    id="{{ id }}"
    {% endif %}
    {% if name %}
    name="{{ name }}"
    {% endif %}
    type="checkbox"
    {{ "disabled" if disabled }}
    {{ "checked" if checked }}>
  <span class="c-checkbox__mark"></span>
  {{ placeholder }}
</label>
{% endmacro %}

{# Carousel macro #}
{% macro carousel(items, pagination, navigation) %}
<div class="swiper-container js-carousel">
  {{ pagination | safe}}
  <div class="swiper-wrapper">
    {{ items | safe}}
  </div>
  {{ navigation | safe}}
</div>
{% endmacro %}

{# Ingredient Macro #}
{% macro ingredient(name, href) %}
<a href="{{ href }}" class="c-nav-link u-block u-pl0 u-pb- js-ingredient">
  <span class="u-align-middle">{{ name }}</span>
  {{ icon("chevron-right", "small") }}
</a>
{% endmacro %}

{# Drop Macro #}
{% macro drop(href) %}
<a class="c-drop js-drop js-ingredient" href="{{ href }}">
  {{ icon("drop", "small") }}
</a>
{% endmacro %}

{# Product name macro #}
{% macro productname(name) %}
<h1 class="u-type--capitalize u-pb-- u-mt">{{ name }}</h1>
{% endmacro %}
