<script id="cart-template" type="x-tmpl-mustache">
    <table class="c-product-table">
        <tr class="c-product-table__row c-product-table__row--border">
        <th class="c-product-table__head u-text-left">Product</th>
        <th class="c-product-table__head">Price</th>
        <th class="c-product-table__head">Quantity</th>
        <th class="c-product-table__head">Subtotal</th>
        <th></th>
        </tr>
        <%#items%>
        <tr class="c-product-table__row c-product-table__row--border">
        <td class="c-product-table__cell c-product-table__cell--res u-text-center" title="product">
            <img src="<% thumb %>" alt="product-small">
            <div class="u-inline-block u-align-middle large-and-up-pl u-ml--">
            <a href="<% href %>"><h4 class="u-type--capitalize u-secondary-font-family u-max-width-85 u-text-left"><% title %></h4></a>
            </div>
        </td>
        <td class="c-product-table__cell c-product-table__cell--res" title="price"><i>$<% price %></i></td>
        <td class="c-product-table__cell c-product-table__cell--res" title="quantity">
            <a class="update-cart c-spinner c-spinner--icon u-mr-" href="" data-product-id="<% product_id %>" data-action="remove" data-toggle-quantity="true">{{ macro.icon("minus", "small") }}</a>
            <span class="c-spinner u-align-middle"><% quantity %></span>
            <a class="update-cart c-spinner c-spinner--icon u-ml-" href="" data-product-id="<% product_id %>" data-toggle-quantity="true">{{ macro.icon("plus", "small") }}</a>
        </td>
        <td class="c-product-table__cell c-product-table__cell--res" title="subtotal"><i>$<% subtotal %></i></td>
        <td class="c-product-table__cell c-product-table__cell--res"><a href="" data-product-id="<% product_id %>" data-trash="true" class="update-cart">{{ macro.icon("trash") }}</a></td>
        </tr>
        <%/items%>
        <tr class="c-product-table__row u-text-right">
        <td class="c-product-table__cell c-product-table__cell--hidden"></td>
        <td class="c-product-table__cell c-product-table__cell--hidden"></td>
        <td class="c-product-table__cell c-product-table__cell--secondary u-type--uppercase u-secondary-font-family">Shipping</td>
        <td class="c-product-table__cell c-product-table__cell--secondary"><i>$<% shipping %></i></td>
        <td class="c-product-table__cell--hidden"></td>
        </tr>
        <tr class="c-product-table__row u-text-right">
        <td class="c-product-table__cell c-product-table__cell--hidden"></td>
        <td class="c-product-table__cell c-product-table__cell--hidden"></td>
        <td class="c-product-table__cell c-product-table__cell--secondary u-type--uppercase u-secondary-font-family"><b>Total</b></td>
        <td class="c-product-table__cell c-product-table__cell--secondary"><b><i>$<% total %></i></b></td>
        <td class="c-product-table__cell--hidden"></td>
        </tr>
    </table>
</script>


<form id='form-2co' action='https://sandbox.2checkout.com/checkout/purchase' method='post' style='display: none; visibility: hidden'>
    <input type="hidden" id="sid" value="901342686" name="sid" />
    <input type="hidden" id="mode" value="2CO" name="mode" />
    <button type="submit" id="form-2co-submit"></button>
</form>

<script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>