/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.o-icon {
    fill: currentColor;
}

@each $modifier, $size in $icon-sizes {
    @if ($modifier == 'normal') {
        $modifier: '';
    } @else {
        $modifier: '--' + $modifier;
    }

    .o-icon#{$modifier} {
        width: $size;
        height: $size;
    }
}
