/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/

.o-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: $spacing-unit--large $spacing-unit;
}

.o-wrapper--medium {
    max-width: 1000px;
}

.o-wrapper--large {
    max-width: 1200px;
}

.o-wrapper--small {
    max-width: 600px;
}

.o-wrapper--extrasmall {
    max-width: 440px;
}

.o-wrapper--product {
    max-width: 750px;
}

.o-wrapper--left {
    margin-left: 0;
}
