/*------------------------------------*\
           #COLUMN GRID
\*------------------------------------*/

.o-column-grid {
    column-count: 2;
    column-gap: $spacing-unit;
    column-width: 275px;
}
