/*------------------------------------*\
           #FIXED BOTTOM
\*------------------------------------*/

.o-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}

.o-fixed-bottom--right {
    left: auto;
    right: 0;
}

.o-fixed-bottom--responsive {
    position: static;

    @include media-query(large-and-up) {
        position: fixed;
    }
}
