/*------------------------------------*\
       #CENTER FILL OBJECT
\*------------------------------------*/

.o-center-fill {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
