/*------------------------------------*\
           #FIXED MIDDLE
\*------------------------------------*/

.o-fixed-middle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

    /**
     * 1. Resolved problem of content overlap.
     */
    .o-fixed-middle__item {
        pointer-events: auto; /* [1] */
    }

.o-fixed-middle--right {
    left: auto;
    right: 0;
}
