/*------------------------------------*\
    #STYLEGUIDE STYLES
\*------------------------------------*/

/**
 * These styles are used only for styleguide page, not for production.
 */

// scss-lint:disable SelectorFormat
/**
 * Styleguide container.
 */
.styleguide-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

/**
 * Styleguide block.
 */
.styleguide-block {
    border-bottom: 1px solid rgba(#dddcdc, .5);
    margin-bottom: 40px;
    padding-bottom: 40px;

    // scss-lint:disable QualifyingElement
    a[name] {
        color: #89969f;

        &,
        &:hover {
            text-decoration: none;
        }
    }

    > h2 {
        margin-bottom: 20px;
    }
}

/**
 * Styleguide header.
 */
.styleguide-header {
    border-bottom: 2px solid #f8f8f8;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 24px;

    .o-justifize__box {
        width: 100%;

        @media (min-width: 40em) {
            width: auto;
        }
    }
}

/**
 * Saturized block.
 */
.styleguide-saturized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #dd4446;
    color: #fff;
    text-transform: uppercase;
    height: 80px;
    line-height: 1.2;
    padding: 0 20px;

    strong,
    span {
        display: block;
    }

    strong {
        font-size: 20px;
    }

    span {
        font-size: 11px;
        font-weight: 600;
    }

    &:hover {
        color: #fff;
        background: lighten(#dd4446, 10%);
        text-decoration: none;
    }
}

.styleguide-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    font-size: 24px;
    line-height: 1.2;
    padding: 0 20px;

    a {
        text-decoration: none;
    }

    small {
        display: block;
        font-size: 12px;
        color: #828282;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * As seen on http://paularmstrong.github.io/swig/docs/tags, remixed with
 * http://prismjs.com/ okaidia theme.
 */
pre,
code,
samp,
var,
kbd {
    background: #272822;
    color: #f8f8f8;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px;
}

pre {
    border-collapse: separate;
    margin-bottom: 3rem;
    overflow: auto;
    padding: 1.5em 0;
}

code {
    direction: ltr;
    padding: 1.5em;
    text-align: left;
    text-shadow: 0 1px rgba(0,0,0,.3);
    white-space: pre;
    word-break: normal;
    word-spacing: normal;

    tab-size: 4;

    hyphens: none;


    .token--comment,
    .token--prolog,
    .token--doctype,
    .token--cdata {
        color: #708090;
    }

    .token--punctuation {
        color: #f8f8f2;
    }

    .token--namespace {
        opacity: .7;
    }

    .token--property,
    .token--tag,
    .token--constant,
    .token--symbol {
        color: #f92672;
    }

    .token--boolean,
    .token--number {
        color: #ae81ff;
    }

    .token--macro,
    .token--selector,
    .token--attr-name,
    .token--string,
    .token--builtin {
        color: #9b703f;
    }


    .token--operator,
    .token--entity,
    .token--url,
    .language-css .token--string,
    .style .token--string,
    .token--variable {
        color: #f8f8f2;
    }

    .token--atrule,
    .token--attr-value {
        color: #e6db74;
    }


    .token--keyword {
        color: #66d9ef;
    }

    .token--regex,
    .token--important {
        color: #fd971f;
    }

    .token--important {
        font-weight: bold;
    }

    .token--entity {
        cursor: help;
    }
}

.table-of-contents {
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        padding: 5px 20px;
    }
}

.back-to-top {
    font-size: 14px;
    float: right;
    padding-top: 10px;
}
