/* --------------------------------------------------------------------------------------
+
+ TEXT HELPER CLASSES
+
-------------------------------------------------------------------------------------- */

//NICER AMPERSAND
.u-amp {
    font-family: Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: normal;
}

//QUICK TEXT ALIGNING
.u-text-center {
    text-align: center !important;
}

.u-text-left {
    text-align: left !important;
}

.u-text-right {
    text-align: right !important;
}

//TRIM TEXT
.u-text-trim {
    text-overflow: ellipsis !important;
    overflow: hidden;
    white-space: nowrap;
}
