/* --------------------------------------------------------------------------------------
+
+ HELPER CLASSES
+
-------------------------------------------------------------------------------------- */

//IMAGE REPLACEMENT
%img-replace {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
}

//HIDING CLASSES

//Hide for both screenreaders and browsers
.is-hidden {
    display: none !important;
}

//Hide only visually, but have it available for screenreaders
.u-visuallyhidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}


//Hide visually and from screenreaders, but maintain layout
.is-invisible {
    visibility: hidden !important;
}

//NO TRANSITION CLASS
.has-no-transition {
    &,
    * {
        transition: none !important;
    }
}

//QUICK FLOATING
.u-float-left {
    float: left !important;
}

.u-float-right {
    float: right !important;
}

//QUICK VERTICAL ALIGNMENT
.u-align-top {
    vertical-align: top !important;
}

.u-align-middle {
    vertical-align: middle !important;
}

.u-align-bottom {
    vertical-align: bottom !important;
}

.u-block {
    display: block !important;
}

.u-inline-block {
    display: inline-block !important;
}
