/* --------------------------------------------------------------------------------------
+
+ SCROLL HELPER CLASSES
+
-------------------------------------------------------------------------------------- */

//NO SCROLL (PREVENTS SCROLL. NEDDED FOR SOME JQUERY FUNCTIONS)
.is-not-scrollable {
    overflow: hidden !important;
}

//SCROLL
.is-scrollable {
    overflow: auto !important;
}

.is-scrollable-visible {
    overflow: visible !important;
}

//SCROLL Y
.is-scrollable-y {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

//SCROLL X
.is-scrollable-x {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
