{%- set stylesheet = '/css/screen.css' %}

{%- include "../_includes/meta-head.html" %}

{% import "../_includes/components.html" as macro %}

<div class="c-page">
  {% block beforeContent %}{% endblock %}
  <main class="c-page__main {{ contentModifier }}" id="barba-wrapper" data-anim="fadeIn">
    <div class="barba-container"
      data-anim-in="fadeIn" data-anim-out="fadeOut"
      data-canvas-anim="{{ canvasAnim }}"
      data-no-header="{{ noHeader }}"
      data-namespace="leclair">
      {% block content %}{% endblock %}
    </div>
  </main>
  {% block afterContent %}{% endblock %}
</div>

{% block javascripts %}
{% include "../_includes/javascripts.html" -%}
{% endblock %}

{% include "../_includes/meta-foot.html" -%}
