{% set contentModifier = "u-visuallyhidden js-page" %}
{% extends './templates.default.html' %}

{% block beforeContent %}
<div class="c-bg-video">
  <video class="js-bg-video" hidden></video>
</div>
<div class="c-canvas c-canvas--fixed">
  <canvas class="u-transparent js-canvas js-animated"
    data-anim="fadeIn" data-anim-in="fadeIn" data-anim-out="fadeOut"></canvas>
</div>
{% include "01-molecules/loader.html" %}
{% include "02-organisms/organism.header.html" %}
{% endblock %}
{% block afterContent %}
{% include "02-organisms/organism.footer.html" %}
{% endblock %}
