/* --------------------------------------------------------------------------------------
+
+ MIXINS
+
-------------------------------------------------------------------------------------- */

//INVISIBLE
@mixin starterized-invisible {
    opacity: 0;
    visibility: hidden;
}

//VISIBLE
@mixin starterized-visible {
    opacity: 1;
    visibility: visible;
}

//VISUALLY HIDE TEXT
// Completely remove from the flow but leave available to screen readers and
// keyboard users (if input is visually hidden).
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
@mixin starterized-visually-hidden {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

//UNSELECTABLE
@mixin starterized-unselectable {
    user-select: none;
}

//WORD BREAK
@mixin starterized-break-words {
    // scss-lint:disable DuplicateProperty
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

@mixin starterized-trim-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

//PLACEHOLDER INPUT
@mixin starterized-input-placeholder {
    &::placeholder {
        @content;
    }
}

//FONT SMOOTHING
@mixin starterized-font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

//MEDIA QUERIES MIXINS
//USAGE: @include starterized-screen(320px, 768px) { ... }
@mixin starterized-screen($res-min, $res-max) {
    @media screen and (min-width: $res-min) and (max-width: $res-max) {
        @content;
    }
}

//USAGE: @include starterized-max-screen(768px) { ... }
@mixin starterized-max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

//USAGE: @include starterized-min-screen(320px) { ... }
@mixin starterized-min-screen($res) {
    @media screen and (min-width: $res) {
        @content;
    }
}
