/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * 1. Normalize browser defaults.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300; /* [1] */

    > a {
        color: inherit;
    }
}

h1,
h3 {
    font-family: $secondary-font-family;
}

h4 {
    font-weight: 500;
}
