/*------------------------------------*\
    #TEXT ELEMENTS
\*------------------------------------*/

$bullet-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgNSAxNCI+ICA8Y2lyY2xlIGN4PSIyLjUiIGN5PSI5LjUiIHI9IjIuNSIgZmlsbD0iI2ZmYjBiMCIvPjwvc3ZnPg==);
$bullet-icon-secondary: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgNSAxNCI+ICA8Y2lyY2xlIGN4PSIyLjUiIGN5PSI5LjUiIHI9IjIiIHN0cm9rZT0iI2ZmYjBiMCIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIi8+PC9zdmc+);

p + p {
    margin-top: $spacing-unit;
}

ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: $spacing-unit--large;

    @include media-query(medium-and-up) {
        list-style-image: $bullet-icon;
        list-style-position: outside;
        padding-left: $spacing-unit;
        padding-right: 0;
    }

    ul {
        list-style-image: $bullet-icon-secondary;
    }
}

ol {
    list-style: none;
    counter-reset: list;
    margin-left: -$spacing-unit;

    li {
        counter-increment: list;

        &:before {
            color: color('pink');
            content: counter(list) '.\a';
            font-weight: 700;
            margin-right: $spacing-unit;
            margin-left: $spacing-unit--tiny;
        }
    }
}

li {
    padding-left: 0;

    @include media-query(large-and-up) {
        padding-left: $spacing-unit;
    }
}

// scss-lint:disable SelectorFormat
.list-bare,
.list-inline {
    > li {
        padding-left: 0;
    }
}
// scss-lint:enable SelectorFormat
