/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: $base-font-family;
}

/**
 * Fix bad flexbox behavior on IE 11 for child elements that are
 * displayed as flexbox
 */
body {
    display: flex;
    flex-direction: column;
}
