{% set activeNavItem = 'beauty advice' %}
{% extends "03-templates/templates.page.html" %}
{% block content %}
<div class="o-wrapper o-wrapper--large">
  <h1 class="c-heading-underlined u-mb">Beauty Advice</h1>
  <div class="js-tabs">
    <a class="c-link u-type--uppercase u-mr js-tabs__link" href="#testimonials">Testimonials</a>
    <a class="c-link u-type--uppercase js-tabs__link is-active" href="#skin-care">Skin care</a>
    <div class="c-tabs">
      <div class="c-tabs__tab js-tabs__target is-active" id="testimonials">
        {% include "02-organisms/organism.testimonials.html" %}
      </div>
      <div class="c-tabs__tab js-tabs__target" id="skin-care">
        {% include "02-organisms/organism.skin-care.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
