{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--large c-opacity-white-background c-opacity-white-background--static large-and-up-ph++">
  <div class="o-justifize">
    <div class="o-justifize__box u-mv-">
      <h3 class="u-type--capitalize u-align-middle u-type--semibold u-inline-block u-secondary-font-family u-mr-">Checkout</h3>
      <p class="u-inline-block u-align-middle">Your personal details are always protected.</p>
    </div>
    <div class="o-justifize__box u-mv-">
      <span class="u-type--bold u-secondary-font-family u-type--uppercase u-mr-">Total</span>
      <span class="u-type--bold"><i>$408.00</i></span>
    </div>
  </div>

  <hr class="c-horizontal-line c-horizontal-line--gray u-mb+">

  <div class="layout layout--huge">
    <div class="layout__item u-1/2-large-and-up">
      <p class="u-type--uppercase u-secondary-font-family u-mb">Customer info</p>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Name*") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Last Name*") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Phone*") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Email*") }}
        </div>
      </div>
    </div>
    <div class="layout__item u-1/2-large-and-up">
      <div class="o-justifize u-mb-">
        <div class="o-justifize__box">
          <p class="u-type--uppercase u-secondary-font-family">Payments</p>
        </div>
        <div class="o-justifize__box">
          {{ macro.icon("visa", "small c-icon-card") }}
          {{ macro.icon("mastercard", "small c-icon-card") }}
        </div>
      </div>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Card Number*") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Card Holder*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="MM / YY*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="CVV*") }}
        </div>
      </div>

      <div class="o-justifize u-mt u-mb+">
        <div class="o-justifize__box u-mb-">
          <p class="u-type--uppercase u-secondary-font-family u-inline-block">Or checkout with paypal</p>
        </div>
        <div class="o-justifize__box u-mb-">
          <a href="#">
            <img src="./images/paypal.png" alt="paypal">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="layout layout--huge">
    <div class="layout__item u-1/2-large-and-up">
      <p class="u-type--uppercase u-secondary-font-family u-mb-">Shipping address</p>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Address*") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="ZIP Code*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="City*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="Country*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="State*") }}
        </div>
      </div>
    </div>
    <div class="layout__item u-1/2-large-and-up">
      <div class="o-justifize">
        <div class="o-justifize__box u-mb-">
          <p class="u-type--uppercase u-secondary-font-family">Billing Address</p>
        </div>
        <div class="o-justifize__box u-mb-">
          {{ macro.checkbox(placeholder="Same as shipping address", checked=false) }}
        </div>
      </div>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Address*") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="ZIP Code*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="City*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="Country*") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="State*") }}
        </div>
      </div>
    </div>
  </div>

  <div class="u-text-right u-mt+">
    <a class="u-type--capitalize c-link u-mr-" href="my-bag-ultimative-rejuvenating.html">Go To My Bag</a>
    <a href="checkout-thank-you.html" class="c-btn o-btn u-mv-">Finish your order</a>
  </div>

</div>

{% endblock %}
