{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--large c-opacity-white-background c-opacity-white-background--static large-and-up-ph++">
  <div class="o-justifize">
    <div class="o-justifize__box u-mv-">
      <h3 class="u-type--capitalize u-type--semibold u-inline-block u-secondary-font-family u-mr- u-align-middle">Checkout</h3>
      <p class="u-inline-block u-align-middle">Your personal details are always protected.</p>  
    </div>
    <div class="o-justifize__box u-mv-">
      <span class="u-type--bold u-secondary-font-family u-type--uppercase u-mr-">Total</span>
      <span class="cart-total u-type--bold"><i>$0.00</i></span>
    </div>
  </div>

  <hr class="c-horizontal-line c-horizontal-line--gray u-mb+">
  <form id="order-form">
  <div class="layout layout--huge u-mb+">
    <div class="layout__item u-1/2-large-and-up">
      <p class="u-type--uppercase u-secondary-font-family u-mb">Customer info</p>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Name*",name="first_name") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Last Name*",name="last_name") }}
        </div>
      </div>
    </div>
    <div class="layout__item u-1/2-large-and-up">
      <div class="o-justifize u-mb-">
          <p class="u-type--uppercase u-secondary-font-family u-mb"></p>
      </div>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Phone*",name="phone") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Email*",name="email") }}
        </div>
      </div>
    </div>
  </div>

  <div class="layout layout--huge">
    <div class="layout__item u-1/2-large-and-up">
      <p class="u-type--uppercase u-secondary-font-family u-mb-">Billing address</p>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Address*",name="line1") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="ZIP Code*",name="postal_code") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="City*",name="city") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up select-custom">
          {% if countries %}
           <div class="c-field">
            <select class="c-input" name="country_code">
            {% for c in countries %}
              <option value="{{ c.code }}">{{ c.name }}</option>
            {% endfor %}
            </select>
           </div>
          {% else %}
            {{ macro.input(placeholder="Country*",name="country_code") }}
          {% endif %}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="State*",name="state") }}
        </div>
      </div>
    </div>
    <div class="layout__item u-1/2-large-and-up">
      <div class="o-justifize">
        <div class="o-justifize__box u-mb-">
          <p class="u-type--uppercase u-secondary-font-family">Shipping Address</p>
        </div>
        <div class="o-justifize__box u-mb-">
          {{ macro.checkbox(placeholder="Ship to my billing address", checked=true, name="same_as_billing") }}
        </div>
      </div>
      <div class="layout">
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="Address*",name="shipping_line1") }}
        </div>
        <div class="layout__item u-1/2-medium-and-up">
          {{ macro.input(placeholder="ZIP Code*",name="shipping_postal_code") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="City*",name="shipping_city") }}
        </div>
        <div class="layout__item u-1/3-medium-and-up select-custom">
          {% if countries %}
            <div class="c-field">
              <select class="c-input" name="shipping_country_code">
              {% for c in countries %}
                <option value="{{ c.code }}">{{ c.name }}</option>
              {% endfor %}
              </select>
            </div>
          {% else %}
           {{ macro.input(placeholder="Country*",name="shipping_country_code") }}
          {% endif %}
        </div>
        <div class="layout__item u-1/3-medium-and-up">
          {{ macro.input(placeholder="State*",name="shipping_state") }}
        </div>
      </div>
    </div>
  </div>

  <div class="u-text-right u-mt+">
    <a class="u-type--capitalize c-link u-mr-" href="my-bag">Go To My Bag</a>
    <button type="submit" class="c-btn o-btn u-mv-">Finish your order</button>
  </div>
  </form>

</div>

{% endblock %}
