{% set canvasAnim = "intro" %}
{% set noHeader = "true" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
<div class="o-center-fill">
  <h1 class="c-hero-title">Thank You</h1>
  <p class="u-mb">Your purchase is being processed.</p>
  <a class="u-secondary-font-family u-type--uppercase u-type--semibold" href="products.html">Go to Products</a>
</div>
{% endblock %}
