{% set canvasAnim = "intro" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="layout layout--flush">
  <div class="layout__item u-2/3-large-and-up">
  <div class="o-wrapper o-wrapper--small u-text-center">
    <h3 class="u-type--normal">Thank you for your message.</h3>
    <p class="u-block u-mb">
      We will send you our answer soon as we can. <br>
      Keep exploring our website.
    </p>
    {% include "00-atoms/atom.horizontal-line--center.html" %}
    <a class="c-link u-type--capitalize u-block u-mt-" href="products.html">Explore cosmetics</a>
  </div>
  </div>
  <div class="layout__item u-1/3-large-and-up u-pl+ c-opacity-white-background c-opacity-white-background--right u-transparent js-animated" data-anim="fadeInRight">
    <p class="u-secondary-font-family u-type--semibold u-pt u-mb-">LECLAIR'S OFFICE</p>
    {% include "00-atoms/atom.horizontal-line.html" %}
    <p class="u-mt-">Denkmaschinenstrasse 1024</p>
    <p class="u-m0">4096 Zürich</p>
    <p class="u-m0">SWITZERLAND</p>
    <p class="u-secondary-font-family u-type--semibold u-mt+ u-mb-">EMAIL US</p>
    {% include "00-atoms/atom.horizontal-line.html" %}
    <a class="c-link u-block u-pb u-mt-" href="mailto:leclair.info@email.com">leclair.info@email.com</a>
  </div>
</div>

{% endblock %}
