{% set canvasAnim = "product" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
{% include "02-organisms/organism.left-navigation.html" %}
<div class="c-product-page">
  <div class="c-product-page__section js-product-section is-active" id="specs">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item
        u-1/3-medium-and-up u-1/2-large-and-up
        u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeInLeft">
          <img class="c-product-image" src="./images/product-large.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item
        u-2/3-medium-and-up u-1/2-large-and-up
        medium-and-up-pr+ large-and-up-pr++">
        <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
          <div class="js-animated u-transparent" data-anim="fadeInUp">
            <h1 class="u-type--capitalize u-pb-- u-mt">Corrective cell definer</h1>
            <p class="u-type--capitalize u-secondary-font-family">Facial Exfoliator</p>
            {% set carouselPagination %}
            <div class="u-mb u-mt+">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
            {% endset %}
            {% set carouselItems %}
            <div class="swiper-slide">
              <p>
                Corrective Cell Definer is a potent mixture of AHA (alpha
                hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
                base with antioxidants and skin repairing ingredients
                which will reveal a radiant, silky-smooth complexion.
              </p>
              <p>
                Exfoliated skin is more sensitive to sun damage so make
                sure you always wear sunscreen and avoid prolonged sun
                exposure.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Corrective Cell Definer is a potent mixture of AHA (alpha
                hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
                base with antioxidants and skin repairing ingredients
                which will reveal a radiant, silky-smooth complexion.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Corrective Cell Definer is a potent mixture of AHA (alpha
                hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
                base with antioxidants and skin repairing ingredients
                which will reveal a radiant, silky-smooth complexion.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Corrective Cell Definer is a potent mixture of AHA (alpha
                hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
                base with antioxidants and skin repairing ingredients
                which will reveal a radiant, silky-smooth complexion.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Corrective Cell Definer is a potent mixture of AHA (alpha
                hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
                base with antioxidants and skin repairing ingredients
                which will reveal a radiant, silky-smooth complexion.
              </p>
            </div>
            {% endset %}
            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="ingredients">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeIn">
          <img class="c-product-image" src="./images/product-large.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-1/2-large-and-up">
        <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
          c-opacity-white-background
          c-opacity-white-background--visible-for-large-and-up
          c-ingredients-section
          js-animated u-transparent
          js-ingredients" data-anim="fadeInRight">
          <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
          <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
          <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
            <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
              <canvas class="js-ingredients-canvas"></canvas>
            </div>
            <ul class="c-ingredients-list">
              <li class="c-ingredients-list__item">
                {{ macro.drop("#lactic-acid") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Lactic acid</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#salicylic-acid") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Salicylic acid</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#dexpanthenol") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Dexpanthenol</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#tocopheryl-acetate") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Tocopheryl acetate</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#squalane") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Squalane</span>
              </li>
            </ul>
          </div>
          <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>


          {% set carouselItems %}
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("sodium hyaluronate", "#sodium-hyaluronate") }}
              {{ macro.ingredient("matricaria essential oil", "#matricaria-essential-oil") }}
              {{ macro.ingredient("red alga gel", "#red-alga-gel") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("sodium pca", "#sodium-pca") }}
              {{ macro.ingredient("allantoin", "#allantoin") }}
              {{ macro.ingredient("sunflower seed oil", "#sunflower-seed-oil") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("blackberry seed oil", "#blackberry-seed-oil") }}
            </div>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="u-pt">
            <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
            <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
          </div>
          {% endset %}

          {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

          <script type="text/x-template" id="lactic-acid">
            {% include "02-organisms/organism.lactic-acid.html" %}
          </script>
          <script type="text/x-template" id="salicylic-acid">
            {% include "02-organisms/organism.salicylic-acid.html" %}
          </script>
          <script type="text/x-template" id="dexpanthenol">
            {% include "02-organisms/organism.dexpanthenol.html" %}
          </script>
          <script type="text/x-template" id="tocopheryl-acetate">
            {% include "02-organisms/organism.tocopheryl-acetate.html" %}
          </script>
          <script type="text/x-template" id="squalane">
            {% include "02-organisms/organism.squalane.html" %}
          </script>
          <script type="text/x-template" id="sodium-hyaluronate">
            {% include "02-organisms/organism.sodium-hyaluronate.html" %}
          </script>
          <script type="text/x-template" id="matricaria-essential-oil">
            {% include "02-organisms/organism.matricaria-essential-oil.html" %}
          </script>
          <script type="text/x-template" id="red-alga-gel">
            {% include "02-organisms/organism.red-alga-gel.html" %}
          </script>
          <script type="text/x-template" id="sodium-pca">
            {% include "02-organisms/organism.sodium-pca.html" %}
          </script>
          <script type="text/x-template" id="allantoin">
            {% include "02-organisms/organism.allantoin.html" %}
          </script>
          <script type="text/x-template" id="sunflower-seed-oil">
            {% include "02-organisms/organism.sunflower-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="blackberry-seed-oil">
            {% include "02-organisms/organism.blackberry-seed-oil.html" %}
          </script>

        </div>
      </div>
    </div>
    <aside class="c-ingredient-details-modal js-ingredients-modal">
      <div class="c-ingredient-details-modal__inner">
        <div class="u-pos-relative">
          <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
          <div class="js-ingredients-modal__content">
            {% include "02-organisms/organism.ingredients-details.html" %}
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="c-product-page__section js-product-section" id="function">
    <div class="o-wrapper">
      <div class="layout layout--middle layout--large">
        <div class="layout__item u-1/2-large-and-up js-animated u-text-center" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Corrective cell definer</h1>
          {% set carouselPagination %}
          <div class="u-mb medium-and-up-mt+ u-text-center">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Exfoliates skin, reduces dark spots and hyper-pigmentations</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Fights against flat and dull appearance</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Smoothens fine lines and wrinkles</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Helps restore even skin tone and youthful glow</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Increases skin moisture </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Helps other beneficial ingredients from your anti-age routine to penetrate in deeper skin layers</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Has anti-inflammatory and antibacterial properties</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Helps against blemishes, blackheads and whiteheads </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Useful treatment for oily and acne prone skin</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Prevents future breakouts</h2>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
        <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
          <img class="c-product-image" src="./images/product-large.png" alt="product-large">
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="how-to-use">
    <div class="layout layout--flush">
      <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
        <img class="c-product-image" src="./images/product-large.png" alt="product-large">
      </div>
      <div class="layout__item u-1/2-large-and-up
        c-opacity-white-background c-opacity-white-background--visible-for-large-and-up
        c-opacity-white-background--right u-pl large-and-up-pl+ u-pv
        js-animated" data-anim="fadeInRight">
        <h1 class="u-type--capitalize u-pb-- u-mt">Corrective cell definer</h1>
        <p class="u-type--capitalize u-secondary-font-family">how to use Corrective Cell Definer?</p>
        <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
          {% set carouselPagination %}
            <div class="u-mb">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide">
            <ul>
              <li class="u-mb">
                Apply Corrective Cell Definer, alone, at the beginning of every
                third day of your anti-age night routine, until you can tolerate
                it every other day.
              </li>
              <li class="u-mb">
                If you start to feel excessive dryness or skin peeling the day
                after, reduce application and then be encouraged to moisturise
                your face more often with LaClair Imperial Youth Serum to
                restore the skin balance again.
              </li>
              <li class="u-mb">
                Avoid using other topical exfoliants, scrubs or topical medications
                afterwards Corrective Cell Definer. Also avoid contacts with eyes
                or mucous membranes. If contact occurs rinse with water. In case
                of severe irritation, discontinue use.
              </li>
            </ul>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-fixed-bottom o-fixed-bottom--right o-fixed-bottom--responsive
  u-text-right u-pr+ u-pb+ u-pt++ u-zindex-1">
  <div class="c-horizontal-line u-inline-block"></div>
  <div class="c-price">
    $399.00
  </div>
  <a href="" data-product-id="13" class="update-cart o-btn c-btn u-mt-- u-ph+">Add to bag</a>
</div>
{% include "02-organisms/organism.section-navigation.html" %}
{% endblock %}
