{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--large c-opacity-white-background c-opacity-white-background--static u-pos-relative u-zindex-1 medium-and-up-ph+">

  <div class="u-mb">
    <div class="u-inline-block u-mr--">{{ macro.icon("bag") }}</div>
    <h4 class="u-type--capitalize u-inline-block u-type--semibold u-align-middle-tweak u-secondary-font-family">My bag</h4>
  </div>

  <table class="c-product-table">
    <tr class="c-product-table__row c-product-table__row--border">
      <th class="c-product-table__head u-text-left">Product</th>
      <th class="c-product-table__head">Price</th>
      <th class="c-product-table__head">Quantity</th>
      <th class="c-product-table__head">Subtotal</th>
      <th></th>
    </tr>
    <tr class="c-product-table__row c-product-table__row--border">
      <td colspan="5" class="c-product-table__cell u-pv+ u-ph0">
        <p class="u-secondary-font-family">Your shopping bag is currently empty.</p>
      </td>
    </tr>
    <tr class="c-product-table__row u-text-right">
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--secondary u-type--uppercase u-secondary-font-family">Shipping</td>
      <td class="c-product-table__cell c-product-table__cell--secondary"><i>$0.00</i></td>
      <td class="c-product-table__cell--hidden"></td>
    </tr>
    <tr class="c-product-table__row u-text-right">
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--secondary u-type--uppercase u-secondary-font-family"><b>Total</b></td>
      <td class="c-product-table__cell c-product-table__cell--secondary"><b><i>$0.00</i></b></td>
      <td class="c-product-table__cell--hidden"></td>
    </tr>
  </table>

  <div class="layout layout--huge layout--bottom layout--center u-pv+ large-and-up-ph+">
    <div class="layout__item u-1/6-extralarge-and-up u-1/3-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="200">
      <a class="c-product-box js-bloop-hover" href="corrective-cell-definer.html">
        <img class="c-product-box__img" src="./images/product-small-1.png" alt="product_1" />
        <div class="c-product-box__title c-product-box__title--small">Corrective <br> Cell Definer</div>
        <div class="c-product-box__hovered c-product-box__hovered--small"></div>
      </a>
    </div>
    <div class="layout__item u-1/6-extralarge-and-up u-1/3-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="350">
      <a class="c-product-box js-bloop-hover" href="imperial-youth-serum.html">
        <img class="c-product-box__img" src="./images/product-small-2.png" alt="product_2" />
        <div class="c-product-box__title c-product-box__title--small">Imperial Youth <br> Serum</div>
        <div class="c-product-box__hovered c-product-box__hovered--small"></div>
      </a>
    </div>
    <div class="layout__item u-1/6-extralarge-and-up u-1/3-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="500">
      <a class="c-product-box js-bloop-hover" href="expert-hydracharge-day-cream.html">
        <img class="c-product-box__img" src="./images/product-small-3.png" alt="product_3" />
        <div class="c-product-box__title c-product-box__title--small">Expert Hydracharge <br> Day Cream</div>
        <div class="c-product-box__hovered c-product-box__hovered--small"></div>
      </a>
    </div>
    <div class="layout__item u-1/6-extralarge-and-up u-1/3-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="650">
      <a class="c-product-box js-bloop-hover" href="supreme-eye-elixir.html">
        <img class="c-product-box__img" src="./images/product-small-4.png" alt="product_4" />
        <div class="c-product-box__title c-product-box__title--small">Supreme Eye <br> Elixir</div>
        <div class="c-product-box__hovered c-product-box__hovered--small"></div>
      </a>
    </div>
    <div class="layout__item u-1/6-extralarge-and-up u-1/3-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="700">
      <a class="c-product-box js-bloop-hover" href="ultimative-rejuvenating-complex-night-cream.html">
        <img class="c-product-box__img" src="./images/product-small-5.png" alt="product_5" />
        <div class="c-product-box__title c-product-box__title--small">Ultimate Rejuvenating <br> Night Cream</div>
        <div class="c-product-box__hovered c-product-box__hovered--small"></div>
      </a>
    </div>
    <div class="layout__item u-1/6-extralarge-and-up u-1/3-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="850">
      <a class="c-product-box js-bloop-hover" href="royal-renewal-serum.html">
        <img class="c-product-box__img" src="./images/product-small-6.png" alt="product_6" />
        <div class="c-product-box__title c-product-box__title--small">Royal Renewal <br> Serum</div>
        <div class="c-product-box__hovered c-product-box__hovered--small"></div>
      </a>
    </div>
  </div>

</div>

{% endblock %}
