{% set canvasAnim = "product" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
{% include "02-organisms/organism.left-navigation.html" %}
<div class="c-product-page">
  <div class="c-product-page__section js-product-section is-active" id="specs">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item
       u-1/3-medium-and-up u-1/2-large-and-up
        u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeInLeft">
          <img class="c-product-image" src="./images/product-large-2.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item
        u-2/3-medium-and-up u-1/2-large-and-up
        medium-and-up-pr+ large-and-up-pr++">
        <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
          <div class="js-animated u-transparent" data-anim="fadeInUp">
            <h1 class="u-type--capitalize u-pb-- u-mt">Expert Hydracharge <br> day cream</h1>
            <p class="u-type--capitalize u-secondary-font-family">Facial moisturiser</p>
            {% set carouselPagination %}
            <div class="u-mb u-mt+">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
            {% endset %}
            {% set carouselItems %}
            <div class="swiper-slide">
              <p>
                Facial moisturiser with broad-spectrum sun protection SPF 15.
                Expert Hydracharge Day Cream leaves the skin incredibly soft and
                protected against premature signs of aging on a daily basis.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                What is the purpose and goal of a daily use of moisturiser? Goal
                of a good facial moisturiser is the prevention and treatment of
                dry skin and delivery of beneficial ingredients for skins protection.
                Those are antioxidants, cell communicating and skin repairing ingredients,
                right botanical extracts and emollients.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Is a good moisturiser for everyday anti-age routine? Not for LaClair
                because we except only the perfect one. What is the difference?
                The perfect one will serve as an aid in improving tone and texture of
                the skin only if it is combining state-of-the -art ingredients with the
                sun protection agents. Now we can talk about anti-age daily routine and
                a perfect moisturiser.
              </p>
              <p>Explore the beneficial ingredient overview and claims stated about Expert Hydracharge Day Cream.</p>
            </div>
            {% endset %}
            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="ingredients">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeIn">
          <img class="c-product-image" src="./images/product-large-2.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-1/2-large-and-up">
        <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
          c-opacity-white-background
          c-opacity-white-background--visible-for-large-and-up
          c-ingredients-section
          js-animated u-transparent
          js-ingredients" data-anim="fadeInRight">
          <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
          <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
          <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
            <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
              <canvas class="js-ingredients-canvas"></canvas>
            </div>
            <ul class="c-ingredients-list">
              <li class="c-ingredients-list__item">
                {{ macro.drop("#aloe-vera-leaf-juice") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Aloe vera leaf juice</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#oxybenzone") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Oxybenzone</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#octocrylene") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Octocrylene</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#avobenzone") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Avobenzone</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#dexpanthenol") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Dexpanthenol</span>
              </li>
            </ul>
          </div>
          <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>


          {% set carouselItems %}
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("mastic gum oil", "#mastic-gum-oil") }}
              {{ macro.ingredient("urea", "#urea") }}
              {{ macro.ingredient("ceramides", "#ceramides") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("tocopheryl acetate", "#tocopheryl-acetate") }}
              {{ macro.ingredient("ethyl ascorbic acid", "#ethyl-ascorbic-acid") }}
              {{ macro.ingredient("argan oil", "#argan-oil") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("borage seed oil", "#borage-seed-oil") }}
              {{ macro.ingredient("rose hip seed oil", "#rose-hip-seed-oil") }}
              {{ macro.ingredient("raspberry seed oil", "#raspberry-seed-oil") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("wheat germ oil", "#wheat-germ-oil") }}
              {{ macro.ingredient("urea", "#urea") }}
              {{ macro.ingredient("squalane", "#squalane") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("resveratrol", "#resveratrol") }}
              {{ macro.ingredient("ubiquinone", "#ubiquinone") }}
              {{ macro.ingredient("sodium hyaluronate", "#sodium-hyaluronate") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("allantoin", "#allantoin") }}
              {{ macro.ingredient("green tea leaf extract", "#green-tea-leaf-extract") }}
              {{ macro.ingredient("matricaria essential oil", "#matricaria-essential-oil") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("immortelle essential oil", "#immortelle-essential-oil") }}
              { macro.ingredient("astaxanthin", "#astaxanthin") }}
            </div>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="u-pt">
            <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
            <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
          </div>
          {% endset %}

          {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

          <script type="text/x-template" id="aloe-vera-leaf-juice">
            {% include "02-organisms/organism.aloe-vera-leaf-juice.html" %}
          </script>
          <script type="text/x-template" id="oxybenzone">
            {% include "02-organisms/organism.oxybenzone.html" %}
          </script>
          <script type="text/x-template" id="octocrylene">
            {% include "02-organisms/organism.octocrylene.html" %}
          </script>
          <script type="text/x-template" id="avobenzone">
            {% include "02-organisms/organism.avobenzone.html" %}
          </script>
          <script type="text/x-template" id="dexpanthenol">
            {% include "02-organisms/organism.dexpanthenol.html" %}
          </script>
          <script type="text/x-template" id="mastic-gum-oil">
            {% include "02-organisms/organism.mastic-gum-oil.html" %}
          </script>
          <script type="text/x-template" id="urea">
            {% include "02-organisms/organism.urea.html" %}
          </script>
          <script type="text/x-template" id="ceramides">
            {% include "02-organisms/organism.ceramides.html" %}
          </script>
          <script type="text/x-template" id="tocopheryl-acetate">
            {% include "02-organisms/organism.tocopheryl-acetate.html" %}
          </script>
          <script type="text/x-template" id="ethyl-ascorbic-acid">
            {% include "02-organisms/organism.ethyl-ascorbic-acid.html" %}
          </script>
          <script type="text/x-template" id="argan-oil">
            {% include "02-organisms/organism.argan-oil.html" %}
          </script>
          <script type="text/x-template" id="borage-seed-oil">
            {% include "02-organisms/organism.borage-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="rose-hip-seed-oil">
            {% include "02-organisms/organism.rose-hip-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="raspberry-seed-oil">
            {% include "02-organisms/organism.raspberry-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="wheat-germ-oil">
            {% include "02-organisms/organism.wheat-germ-oil.html" %}
          </script>
          <script type="text/x-template" id="squalane">
            {% include "02-organisms/organism.squalane.html" %}
          </script>
          <script type="text/x-template" id="resveratrol">
            {% include "02-organisms/organism.resveratrol.html" %}
          </script>
          <script type="text/x-template" id="ubiquinone">
            {% include "02-organisms/organism.ubiquinone.html" %}
          </script>
          <script type="text/x-template" id="sodium-hyaluronate">
            {% include "02-organisms/organism.sodium-hyaluronate.html" %}
          </script>
          <script type="text/x-template" id="allantoin">
            {% include "02-organisms/organism.allantoin.html" %}
          </script>
          <script type="text/x-template" id="green-tea-leaf-extract">
            {% include "02-organisms/organism.green-tea-leaf-extract.html" %}
          </script>
          <script type="text/x-template" id="matricaria-essential-oil">
            {% include "02-organisms/organism.matricaria-essential-oil.html" %}
          </script>
          <script type="text/x-template" id="immortelle-essential-oil">
            {% include "02-organisms/organism.immortelle-essential-oil.html" %}
          </script>
          <script type="text/x-template" id="astaxanthin">
            {% include "02-organisms/organism.astaxanthin.html" %}
          </script>
        </div>
      </div>
    </div>
    <aside class="c-ingredient-details-modal js-ingredients-modal">
      <div class="c-ingredient-details-modal__inner">
        <div class="u-pos-relative">
          <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
          <div class="js-ingredients-modal__content">
            {% include "02-organisms/organism.ingredients-details.html" %}
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="c-product-page__section js-product-section" id="function">
    <div class="o-wrapper">
      <div class="layout layout--middle layout--large">
        <div class="layout__item u-1/2-large-and-up js-animated u-text-center" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Expert Hydracharge day cream</h1>
          {% set carouselPagination %}
          <div class="u-mb medium-and-up-mt+ u-text-center">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Contains highly effective UVA and UVB sunscreens - the most important
              tool for ultimate skin defense and prevention against ultraviolet
              free radical damage
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Offers precious botanical oils with anti-age
            properties, antioxidants and skin repairing ingredients</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Boosts improvement with respect to wrinkles,
            age spots and skin texture.</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Affects the signs of ageing at cellular level</h2>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
        <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
          <img class="c-product-image" src="./images/product-large-2.png" alt="product-large">
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="how-to-use">
    <div class="layout layout--flush">
      <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
        <img class="c-product-image" src="./images/product-large-2.png" alt="product-large">
      </div>
      <div class="layout__item u-1/2-large-and-up
        c-opacity-white-background c-opacity-white-background--visible-for-large-and-up
        c-opacity-white-background--right u-pl large-and-up-pl+ u-pv
        js-animated" data-anim="fadeInRight">
        <h1 class="u-type--capitalize u-pb-- u-mt">Expert Hydracharge <br> day cream</h1>
        <p class="u-type--capitalize u-secondary-font-family">how to use Expert Hydracharge Day Cream</p>
        <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
          {% set carouselPagination %}
            <div class="u-mb">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide">
            <ul>
              <li class="u-mb">
                Dispense a generous amount on facial and neck areas on a daily basis.
                Before applying make up wait ten minutes.
              </li>
              <li class="u-mb">
                Expert Hydracharge Day Cream can be used after Royal Renewal Serum or Imperial Youth Serum.
              </li>
            </ul>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
      </div>
    </div>

  </div>
</div>
<div class="o-fixed-bottom o-fixed-bottom--right o-fixed-bottom--responsive
  u-text-right u-pr+ u-pb+ u-pt++ u-zindex-1">
  <div class="c-horizontal-line u-inline-block"></div>
  <div class="c-price">
    $399.00
  </div>
  <form>
    <a href="" data-product-id="11" class="update-cart o-btn c-btn u-mt-- u-ph+">Add to bag</a>
  </form>
</div>
{% include "02-organisms/organism.section-navigation.html" %}
{% endblock %}
