{% set canvasAnim = "product" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
{% include "02-organisms/organism.left-navigation.html" %}
<div class="c-product-page">
  <div class="c-product-page__section js-product-section is-active" id="specs">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item
        u-1/3-medium-and-up u-1/2-large-and-up
        u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeInLeft">
          <img class="c-product-image" src="./images/product-large-3.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item
        u-2/3-medium-and-up u-1/2-large-and-up
        medium-and-up-pr+ large-and-up-pr++">
        <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
          <div class="js-animated u-transparent" data-anim="fadeInUp">
            <h1 class="u-type--capitalize u-pb-- u-mt">Imperial youth serum</h1>
            <p class="u-type--capitalize u-secondary-font-family">Serum</p>
            {% set carouselPagination %}
            <div class="u-mb u-mt+">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
            {% endset %}
            {% set carouselItems %}
            <div class="swiper-slide">
              <p>
                Serum with light fluid texture, formulated as oil in water (O/W) emulsion.
                Imperial Youth Serum absorbs quickly, leaving the skin soft and smooth
                without tacky feeling. It is also suitable for every skin type.
              </p>
              <p>
                Imperial Youth Serum is based on vitamin B3 (nicotinamide) enriched
                with antioxidants, cell communicating and skin repairing ingredients,
                botanical extracts and emollients.
              </p>
              <p>Explore the beneficial ingredient overview and claims stated about Imperial Youth Serum.</p>
            </div>
            {% endset %}
            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="ingredients">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeIn">
          <img class="c-product-image" src="./images/product-large-3.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-1/2-large-and-up">
        <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
          c-opacity-white-background
          c-opacity-white-background--visible-for-large-and-up
          c-ingredients-section
          js-animated u-transparent
          js-ingredients" data-anim="fadeInRight">
          <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
          <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
          <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
            <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
              <canvas class="js-ingredients-canvas"></canvas>
            </div>
            <ul class="c-ingredients-list">
              <li class="c-ingredients-list__item">
                {{ macro.drop("#nicotinamide") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Nicotinamide</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#aloe-vera-leaf-juice") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Aloe vera leaf juice</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#dexpanthenol") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Dexpanthenol</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#mastic-gum-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Mastic gum oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#jojoba-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Jojoba oil</span>
              </li>
            </ul>
          </div>
          <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>


          {% set carouselItems %}
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("ceramides", "#ceramides") }}
              {{ macro.ingredient("urea", "#urea") }}
              {{ macro.ingredient("hazel seed oil", "#hazel-seed-oil") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("sodium hyaluronate", "#sodium-hyaluronate") }}
              {{ macro.ingredient("squalane", "#squalane") }}
              {{ macro.ingredient("retinyl palmitate", "#retinyl-palmitate") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("tocopheryl acetate", "#tocopheryl-acetate") }}
              {{ macro.ingredient("sodium pca", "#sodium-pca") }}
              {{ macro.ingredient("lecithin", "#lecithin") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("l-carnosine", "#l-carnosine") }}
              {{ macro.ingredient("milk thistle extract", "#milk-thistle-extract") }}
              {{ macro.ingredient("green tea leaf extract", "#green-tea-leaf-extract") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("grape seed extract", "#grape-seed-extract") }}
              {{ macro.ingredient("turmeric root extract", "#turmeric-root-extract") }}
              {{ macro.ingredient("raspberry seed oil", "#raspberry-seed-oil") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("bilberry seed oil", "#bilberry-seed-oil") }}
              {{ macro.ingredient("extra virgin coconut oil", "#extra-virgin-coconut-oil") }}
              {{ macro.ingredient("lutein", "#lutein") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("l-selenomethionine", "#l-selenomethionine") }}
            </div>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="u-pt">
            <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
            <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
          </div>
          {% endset %}

          {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

          <script type="text/x-template" id="nicotinamide">
            {% include "02-organisms/organism.nicotinamide.html" %}
          </script>
          <script type="text/x-template" id="aloe-vera-leaf-juice">
            {% include "02-organisms/organism.aloe-vera-leaf-juice.html" %}
          </script>
          <script type="text/x-template" id="dexpanthenol">
            {% include "02-organisms/organism.dexpanthenol.html" %}
          </script>
          <script type="text/x-template" id="mastic-gum-oil">
            {% include "02-organisms/organism.mastic-gum-oil.html" %}
          </script>
          <script type="text/x-template" id="jojoba-oil">
            {% include "02-organisms/organism.jojoba-oil.html" %}
          </script>
          <script type="text/x-template" id="ceramides">
            {% include "02-organisms/organism.ceramides.html" %}
          </script>
          <script type="text/x-template" id="urea">
            {% include "02-organisms/organism.urea.html" %}
          </script>
          <script type="text/x-template" id="hazel-seed-oil">
            {% include "02-organisms/organism.hazel-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="sodium-hyaluronate">
            {% include "02-organisms/organism.sodium-hyaluronate.html" %}
          </script>
          <script type="text/x-template" id="squalane">
            {% include "02-organisms/organism.squalane.html" %}
          </script>
          <script type="text/x-template" id="retinyl-palmitate">
            {% include "02-organisms/organism.retinyl-palmitate.html" %}
          </script>
          <script type="text/x-template" id="tocopheryl-acetate">
            {% include "02-organisms/organism.tocopheryl-acetate.html" %}
          </script>
          <script type="text/x-template" id="sodium-pca">
            {% include "02-organisms/organism.sodium-pca.html" %}
          </script>
          <script type="text/x-template" id="lecithin">
            {% include "02-organisms/organism.lecithin.html" %}
          </script>
          <script type="text/x-template" id="l-carnosine">
            {% include "02-organisms/organism.l-carnosine.html" %}
          </script>
          <script type="text/x-template" id="milk-thistle-extract">
            {% include "02-organisms/organism.milk-thistle-extract.html" %}
          </script>
          <script type="text/x-template" id="green-tea-leaf-extract">
            {% include "02-organisms/organism.green-tea-leaf-extract.html" %}
          </script>
          <script type="text/x-template" id="grape-seed-extract">
            {% include "02-organisms/organism.grape-seed-extract.html" %}
          </script>
          <script type="text/x-template" id="turmeric-root-extract">
            {% include "02-organisms/organism.turmeric-root-extract.html" %}
          </script>
          <script type="text/x-template" id="raspberry-seed-oil">
            {% include "02-organisms/organism.raspberry-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="bilberry-seed-oil">
            {% include "02-organisms/organism.bilberry-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="extra-virgin-coconut-oil">
            {% include "02-organisms/organism.extra-virgin-coconut-oil.html" %}
          </script>
          <script type="text/x-template" id="lutein">
            {% include "02-organisms/organism.lutein.html" %}
          </script>
          <script type="text/x-template" id="l-selenomethionine">
            {% include "02-organisms/organism.l-selenomethionine.html" %}
          </script>
        </div>
      </div>
    </div>
    <aside class="c-ingredient-details-modal js-ingredients-modal">
      <div class="c-ingredient-details-modal__inner">
        <div class="u-pos-relative">
          <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
          <div class="js-ingredients-modal__content">
            {% include "02-organisms/organism.ingredients-details.html" %}
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="c-product-page__section js-product-section" id="function">
    <div class="o-wrapper">
      <div class="layout layout--middle layout--large">
        <div class="layout__item u-1/2-large-and-up js-animated u-text-center" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Imperial youth serum</h1>
          {% set carouselPagination %}
          <div class="u-mb medium-and-up-mt+ u-text-center">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Improves aging facial skin appearance and decrease collagen oxidation
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Increases intercellular ceramide levels</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Enhances skin elasticity and repairs skin damage</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Works synergistic with Royal Renewal
            Serum against discolorations, hiperpigmentations and post-inflammatory lesions</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Treats an uneven skin tone and maximises
              healthy radiance appearance
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Improves the symptoms of skin irritation,
              dryness, itching, scaling and roughness
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Repairs reduced skin barrier function and maintains skin softness
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Can be used after skin laser treatment for faster skin recovery
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Can be used if dealing with acne</h2>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
        <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
          <img class="c-product-image" src="./images/product-large-3.png" alt="product-large">
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="how-to-use">
    <div class="layout layout--flush">
      <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
        <img class="c-product-image" src="./images/product-large-3.png" alt="product-large">
      </div>
      <div class="layout__item u-1/2-large-and-up
        c-opacity-white-background c-opacity-white-background--visible-for-large-and-up
        c-opacity-white-background--right u-pl large-and-up-pl+ u-pv
        js-animated" data-anim="fadeInRight">
        <h1 class="u-type--capitalize u-pb-- u-mt">Imperial youth serum</h1>
        <p class="u-type--capitalize u-secondary-font-family">how to use Imperial Youth Serum?</p>
        <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
          {% set carouselPagination %}
            <div class="u-mb">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide">
            <ul>
              <li class="u-mb">
                Imperial Youth Serum can be used once every night/or day, or
                with alternation with Royal Renewal Serum every other day.
              </li>
              <li class="u-mb">
                For maximum results use it with our Corrective Cell Definer.
              </li>
            </ul>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
      </div>
    </div>

  </div>
</div>
<div class="o-fixed-bottom o-fixed-bottom--right o-fixed-bottom--responsive
  u-text-right u-pr+ u-pb+ u-pt++ u-zindex-1">
  <div class="c-horizontal-line u-inline-block"></div>
  <div class="c-price">
    $399.00
  </div>
  <form>
    <a href="" data-product-id="12" class="update-cart o-btn c-btn u-mt-- u-ph+">Add to bag</a>
  </form>
</div>
{% include "02-organisms/organism.section-navigation.html" %}
{% endblock %}
