<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Starterized</title>
    <!-- Favicons -->
    {%- include "_includes/meta-favicons.html" -%}
  </head>
  <body>
    <h1>List of markup files</h1>
    <ul>
    {% for file in files %}
      <li><a href="{{ file }}">{{ file }}</a></li>
    {% endfor %}
    </ul>
    {% if files.length == 0 %}
      <p>There are no markup files created yet. Start creating one in {{ markupPath }}</p>
    {% endif %}
  </body>
</html>
