{% set canvasAnim = "intro" %}
{% set noHeader = "true" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
<div class="o-center-fill js-intro">
  <div class="u-transparent js-animated" data-anim="fadeInUp">
    {% include "00-atoms/logo.html" %}
  </div>
  <p class="c-hero-text u-mt">
    <span class="u-block u-transparent js-animated" data-anim="fadeInUp">Experience the luxurious</span>
    <span class="u-block u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="150">skin care with LeClair</span>
    <span class="u-block u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="300">and our state-of-the-art</span>
    <span class="u-block u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="450">anti-age formulations</span>
  </p>
</div>
<a href="products.html" class="c-scroll-marker">
  Explore Products
</a>
{% endblock %}
