{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--large c-opacity-white-background c-opacity-white-background--static medium-and-up-ph+">
  <div class="u-mb">
    <div class="u-inline-block u-mr--">{{ macro.icon("bag") }}</div>
    <h4 class="u-type--capitalize u-inline-block u-type--semibold u-align-middle-tweak u-secondary-font-family">My bag</h4>
  </div>

  <div id="cart">Loading...</div>

  <div class="u-text-right u-mt++">
    <a class="c-link u-type--capitalize u-align-middle u-mr-" href="products.html">Continue shopping</a>
    <a href="checkout.html" class="c-btn o-btn u-ph u-mv-">
      {{ macro.icon("secure", "small") }}
      <span class="c-btn__text">Secure checkout</span>
    </a>
  </div>
</div>

{% endblock %}
