{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--large c-opacity-white-background c-opacity-white-background--static medium-and-up-ph+">
  <div class="u-mb">
    <div class="u-inline-block u-mr--">{{ macro.icon("bag") }}</div>
    <h4 class="u-type--capitalize u-inline-block u-type--semibold u-align-middle-tweak u-secondary-font-family">My bag</h4>
  </div>

  <table class="c-product-table">
    <tr class="c-product-table__row c-product-table__row--border">
      <th class="c-product-table__head u-text-left">Product</th>
      <th class="c-product-table__head">Price</th>
      <th class="c-product-table__head">Quantity</th>
      <th class="c-product-table__head">Subtotal</th>
      <th></th>
    </tr>
    <tr class="c-product-table__row c-product-table__row--border">
      <td class="c-product-table__cell c-product-table__cell--res u-text-center" title="product">
        <img src="./images/product-small-6.png" alt="product-small">
        <div class="u-inline-block u-align-middle large-and-up-pl u-ml--">
          <h4 class="u-type--capitalize u-secondary-font-family u-max-width-85 u-text-left">Royal Renewal Serum</h4>
          <p class="u-secondary-font-family u-m0 u-text-left">Serum</p>
          <p class="u-m0 u-text-left">50ml</p>
        </div>
      </td>
      <td class="c-product-table__cell c-product-table__cell--res" title="price"><i>$399.99</i></td>
      <td class="c-product-table__cell c-product-table__cell--res" title="quantity">
        <a class="c-spinner c-spinner--icon u-mr-" href="#">{{ macro.icon("minus", "small") }}</a>
        <span class="c-spinner u-align-middle">1</span>
        <a class="c-spinner c-spinner--icon u-ml-" href="#">{{ macro.icon("plus", "small") }}</a>
      </td>
      <td class="c-product-table__cell c-product-table__cell--res" title="subtotal"><i>$399.99</i></td>
      <td class="c-product-table__cell c-product-table__cell--res"><a href="#">{{ macro.icon("trash") }}</a></td>
    </tr>
    <tr class="c-product-table__row u-text-right">
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--secondary u-type--uppercase u-secondary-font-family">Shipping</td>
      <td class="c-product-table__cell c-product-table__cell--secondary"><i>$9.00</i></td>
      <td class="c-product-table__cell--hidden"></td>
    </tr>
    <tr class="c-product-table__row u-text-right">
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--hidden"></td>
      <td class="c-product-table__cell c-product-table__cell--secondary u-type--uppercase u-secondary-font-family"><b>Total</b></td>
      <td class="c-product-table__cell c-product-table__cell--secondary"><b><i>$399.00</i></b></td>
      <td class="c-product-table__cell--hidden"></td>
    </tr>
  </table>

  <div class="u-text-right u-mt++">
    <a class="c-link u-type--capitalize u-align-middle u-mr-" href="products.html">Continue shopping</a>
    <a href="checkout-royal-renewal.html" class="c-btn o-btn u-ph u-mv-">
      {{ macro.icon("secure", "small") }}
      <span class="c-btn__text">Secure checkout</span>
    </a>
  </div>
</div>

{% endblock %}
