{% set activeNavItem = "our story" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
<div class="o-wrapper u-transparent js-animated" data-anim="fadeInUp">
  <h1 class="u-mb+">Our Story</h1>
  <div class="o-column-grid u-mb+">
    <p>
      The story behind LeClair®. LeClair® is privately held company founded in 2015.
      The story and the idea behind came while searching for the top quality, luxurious,
      anti-age skin care products with inspiration of preserving skin youth.
    </p>
    <p>
      My friend pharmacist, with expertise in Dermopharmacy and Cosmetology, and
      also known anti-age guru, developed several formulas before, which were available
      for years but through private exclusive network only - in the EU. As a visionary,
      I saw great potential for expansion on little bigger scale for those who appreciate
      both quality and exclusivity. That is how all started.
    </p>
    <p>
      Nowadays, I am excited to share my idea, inspiration and recognized reputation
      of LeClair’s products with you. Further development of LeClair® will always be
      by enhancement of quality over quantity. Our current, worldwide network of
      satisfying users are living proof, with no doubt.
    </p>
    <p>
      In conclusion, LeClair® mission is to offer expansion of the best, outstanding
      skin care products with class, style and prestige of our image, to everyone
      who is committed to Par Excellence Products.
    </p>
    <p>
      We invite you to explore LeClair® with hope
      to enjoy deluxe pampering of your skin.
    </p>
  </div>
  {% include "00-atoms/atom.horizontal-line.html" %}
  <p class="u-mt-">
    <i>Sincerely,</i> <br />
    Managment of <b>LeClair&#174;</b>
  </p>
</div>
{% endblock %}
