{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--medium c-opacity-white-background c-opacity-white-background--static">
  <div class="layout layout--middle">
    <div class="layout__item u-1/2-medium-and-up u-text-center">
      <img src="./images/product_1.png" alt="product">
    </div>
    <div class="layout__item u-1/2-medium-and-up">
      <h1 class="u-secondary-font-family u-mb--">Corrective Cell Definer</h1>
      <p class="u-secondary-font-family">Facial Exfoliator</p>
      <hr class="c-horizontal-line u-mv-">
      <p>50ml</p>
      <p>
        Corrective Cell Definer is a potent mixture of AHA (alpha
        hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
        base with antioxidants and skin repairing ingredients which
        will reveal a radiant, silky-smooth complexion.
      </p>
      <div class="c-horizontal-line u-mt+"></div>
      <div class="c-price u-mb+">$399.00</div>
      <a class="c-link u-type--capitalize u-align-middle u-mr-" href="products.html">Continue shopping</a>
      <a href="my-bag.html" class="o-btn c-btn u-mv-">View my bag</a>
    </div>
  </div>
</div>

{% endblock %}
