{% extends "03-templates/templates.page.html" %}

{% block content %}

<div class="o-wrapper o-wrapper--medium c-opacity-white-background c-opacity-white-background--static">
  <div class="layout layout--middle">
    <div class="layout__item u-1/2-medium-and-up u-text-center">
      <img src="./images/product_6.png" alt="product">
    </div>
    <div class="layout__item u-1/2-medium-and-up">
      <h1 class="u-secondary-font-family u-mb--">Royal Renewal Serum</h1>
      <p class="u-secondary-font-family">Serum</p>
      <hr class="c-horizontal-line u-mv-">
      <p>50ml</p>
      <p>
        Serum with light fluid texture, formulated as oil in water (O/W) emulsion.
        Royal Renewal Serum absorbs quickly, leaving the skin soft and smooth without
        a tacky feeling. It is suitable for every skin type.
        Royal Renewal Serum is based on vitamin C (ascorbic acid) in a
        form of ethyl ascorbic acid enriched with antioxidants, cell
        communicating and skin repairing ingredients, and botanical extracts and emollients.
      </p>
      <div class="c-horizontal-line u-mt+"></div>
      <div class="c-price u-mb+">$399.00</div>
      <a class="c-link u-type--capitalize u-align-middle u-mr-" href="products.html">Continue shopping</a>
      <a href="my-bag.html" class="o-btn c-btn u-mv-">View my bag</a>
    </div>
  </div>
</div>

{% endblock %}
