{% set canvasAnim = "product" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
{% include "02-organisms/organism.left-navigation.html" %}
<div class="c-product-page">
  <div class="c-product-page__section js-product-section is-active" id="specs">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item
        u-1/3-medium-and-up u-1/2-large-and-up
        u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeInLeft">
          <img class="c-product-image" src="./images/product-large-4.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item
        u-2/3-medium-and-up u-1/2-large-and-up
        medium-and-up-pr+ large-and-up-pr++">
        <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
          <div class="js-animated u-transparent" data-anim="fadeInUp">
            <h1 class="u-type--capitalize u-pb-- u-mt">Royal renewal serum</h1>
            <p class="u-type--capitalize u-secondary-font-family">Serum</p>
            {% set carouselPagination %}
            <div class="u-mb u-mt+">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
            {% endset %}
            {% set carouselItems %}
            <div class="swiper-slide">
              <p>
                Serum with light fluid texture, formulated as oil in water (O/W) emulsion.
                Royal Renewal Serum absorbs quickly, leaving the skin soft and smooth
                without a tacky feeling. It is suitable for every skin type.
              </p>
              <p>
                Royal Renewal Serum is based on vitamin C (ascorbic acid) in a form
                of ethyl ascorbic acid enriched with antioxidants, cell communicating
                and skin repairing ingredients, and botanical extracts and emollients.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Serums are skin care products with high concentrations of beneficial
                key ingredients, with lighter texture and less viscosity than your
                average moisturiser.
              </p>
              <p>
                They are formulated to penetrate deeply into the skin to deliver key
                ingredients and are applied after cleansing, often before moisturiser
                if it is needed.
              </p>
              <p>
                For most people first improvements are visible after 6 weeks of use.
              </p>
            </div>
            {% endset %}
            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="ingredients">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeIn">
          <img class="c-product-image" src="./images/product-large-4.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-1/2-large-and-up">
        <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
          c-opacity-white-background
          c-opacity-white-background--visible-for-large-and-up
          c-ingredients-section
          js-animated u-transparent
          js-ingredients" data-anim="fadeInRight">
          <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
          <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
          <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
            <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
              <canvas class="js-ingredients-canvas"></canvas>
            </div>
            <ul class="c-ingredients-list">
              <li class="c-ingredients-list__item">
                {{ macro.drop("#ethyl-ascorbic-acid") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Ethyl ascorbic acid</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#dexpanthenol") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Dexpanthenol</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#mastic-gum-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Mastic gum oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#macadamia-ternifolia-seed-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Macadamia ternifolia seed oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#urea") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Urea</span>
              </li>
            </ul>
          </div>
          <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>


          {% set carouselItems %}
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("ceramides", "#ceramides") }}
              {{ macro.ingredient("sodium hyaluronate", "#sodium-hyaluronate") }}
              {{ macro.ingredient("allantoin", "#allantoin") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("retinyl palmitate", "#retinyl-palmitate") }}
              {{ macro.ingredient("tocopheryl acetate", "#tocopheryl-acetate") }}
              {{ macro.ingredient("resveratrol", "#resveratrol") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("sodium pca", "#sodium-pca") }}
              {{ macro.ingredient("red alga gel", "#red-alga-gel") }}
              {{ macro.ingredient("echium plantagineum seed oil", "#echium-plantagineum") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("hippophae rhamnoides seed oil", "#hippophae-rhamnoides") }}
              {{ macro.ingredient("ferrulic acid", "#ferrulic-acid") }}
              {{ macro.ingredient("gluthatione", "#gluthatione") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("ubiquinone", "#ubiquinone") }}
              {{ macro.ingredient("Paraffinum liquidum, glycerol and dimeticone", "#paraffinum") }}
            </div>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="u-pt">
            <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
            <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
          </div>
          {% endset %}

          {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

          <script type="text/x-template" id="ethyl-ascorbic-acid">
            {% include "02-organisms/organism.ethyl-ascorbic-acid.html" %}
          </script>
          <script type="text/x-template" id="dexpanthenol">
            {% include "02-organisms/organism.dexpanthenol.html" %}
          </script>
          <script type="text/x-template" id="mastic-gum-oil">
            {% include "02-organisms/organism.mastic-gum-oil.html" %}
          </script>
          <script type="text/x-template" id="macadamia-ternifolia-seed-oil">
            {% include "02-organisms/organism.macadamia-ternifolia-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="urea">
            {% include "02-organisms/organism.urea.html" %}
          </script>
          <script type="text/x-template" id="ceramides">
            {% include "02-organisms/organism.ceramides.html" %}
          </script>
          <script type="text/x-template" id="sodium-hyaluronate">
            {% include "02-organisms/organism.sodium-hyaluronate.html" %}
          </script>
          <script type="text/x-template" id="allantoin">
            {% include "02-organisms/organism.allantoin.html" %}
          </script>
          <script type="text/x-template" id="retinyl-palmitate">
            {% include "02-organisms/organism.retinyl-palmitate.html" %}
          </script>
          <script type="text/x-template" id="tocopheryl-acetate">
            {% include "02-organisms/organism.tocopheryl-acetate.html" %}
          </script>
          <script type="text/x-template" id="resveratrol">
            {% include "02-organisms/organism.resveratrol.html" %}
          </script>
          <script type="text/x-template" id="sodium-pca">
            {% include "02-organisms/organism.sodium-pca.html" %}
          </script>
          <script type="text/x-template" id="red-alga-gel">
            {% include "02-organisms/organism.red-alga-gel.html" %}
          </script>
          <script type="text/x-template" id="echium-plantagineum">
            {% include "02-organisms/organism.echium-plantagineum-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="hippophae-rhamnoides">
            {% include "02-organisms/organism.hippophae-rhamnoides-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="ferrulic-acid">
            {% include "02-organisms/organism.ferrulic-acid.html" %}
          </script>
          <script type="text/x-template" id="gluthatione">
            {% include "02-organisms/organism.gluthatione.html" %}
          </script>
          <script type="text/x-template" id="ubiquinone">
            {% include "02-organisms/organism.ubiquinone.html" %}
          </script>
          <script type="text/x-template" id="paraffinum">
            {% include "02-organisms/organism.paraffinum-liquidum-glycerol-and-dimeticone.html" %}
          </script>

        </div>
      </div>
    </div>
    <aside class="c-ingredient-details-modal js-ingredients-modal">
      <div class="c-ingredient-details-modal__inner">
        <div class="u-pos-relative">
          <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
          <div class="js-ingredients-modal__content">
            {% include "02-organisms/organism.ingredients-details.html" %}
          </div>
        </div>
      </div>
    </aside>

  </div>
  <div class="c-product-page__section js-product-section" id="function">
    <div class="o-wrapper">
      <div class="layout layout--middle layout--large">
        <div class="layout__item u-1/2-large-and-up js-animated u-text-center" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Royal renewal serum</h1>
          {% set carouselPagination %}
          <div class="u-mb medium-and-up-mt+ u-text-center">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Stimulates the synthesis of collagen, minimizing fine lines and wrinkles
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Fights against free radicals and maintains skin softness
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Improves skin texture, skin tone and boosts skin radiance</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Prevents future skin environment damages</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Helps with hyperpigmentations problem and post-inflammatory
              acne hyperpigmentations
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Works synergistic with Imperal Youth Serum against discolorations,
              hiperpigmentations and post-inflammatory lesions
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Reduces multiple signs of premature aging and photodamaged skin
            </h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">
              Limits the damage induced by ultraviolet (UV) light exposure and
              consequently increases cell survival following UV sun exposure
            </h2>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
        <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
          <img class="c-product-image" src="./images/product-large-4.png" alt="product-large">
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="how-to-use">
    <div class="layout layout--flush">
      <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
        <img class="c-product-image" src="./images/product-large-4.png" alt="product-large">
      </div>
      <div class="layout__item u-1/2-large-and-up
        c-opacity-white-background c-opacity-white-background--visible-for-large-and-up
        c-opacity-white-background--right u-pl large-and-up-pl+ u-pv
        js-animated" data-anim="fadeInRight">
        <h1 class="u-type--capitalize u-pb-- u-mt">Royal renewal serum</h1>
        <p class="u-type--capitalize u-secondary-font-family">how to use Royal Renewal Serum?</p>
        <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
          {% set carouselPagination %}
            <div class="u-mb">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide">
            <ul>
              <li class="u-mb">
                Royal Renewal Serum can be used once every night or with alternation
                with Imperial Youth Serum every other night.
              </li>
              <li class="u-mb">
                For maximum results use it with our Corrective Cell Definer.
              </li>
            </ul>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
      </div>
    </div>

  </div>
</div>
<div class="o-fixed-bottom o-fixed-bottom--right o-fixed-bottom--responsive
  u-text-right u-pr+ u-pb+ u-pt++ u-zindex-1">
  <div class="c-horizontal-line u-inline-block"></div>
  <div class="c-price">
    $399.00
  </div>
  <form>
    <a href="" data-product-id="8" class="update-cart o-btn c-btn u-mt-- u-ph+">Add to bag</a>
  </form>
</div>
{% include "02-organisms/organism.section-navigation.html" %}
{% endblock %}
