{% set contentModifier = "js-page" %}
{% extends "03-templates/templates.default.html" %}

{% block content %}
<link href="http://fonts.googleapis.com/css?family=Titillium+Web:600,400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/styleguide.css">
<header class="o-justifize styleguide-header">
  <div class="o-justifize__box">
    <a href="http://www.saturized.com" target="_blank" class="styleguide-saturized">
      <strong>Saturized</strong>
      <span>The interactive agency</span>
    </a>
  </div>
  <div class="o-justifize__box">
    <h1 class="styleguide-project u-bg-light-pink"><a href="/">LeClair<small>Style guide</small></a></h1>
  </div>
</header>
<main class="styleguide-container">
  <h1 id="top" class="u-text-center">Table of contents</h1>
  <ul class="table-of-contents u-mb+ u-mt-"></ul>
  <section class="styleguide-block">
    <h2>Logo</h2>
    {%include '00-atoms/logo.html' %}
  </section>
  <section class="styleguide-block">
    <h2>Colors</h2>
    <ul class="layout u-mb">
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-pink"></div>
        Pink
      </li>
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-light-pink"></div>
        Light Pink
      </li>
    </ul>
    <ul class="layout u-mb">
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-red"></div>
        Red
      </li>
    </ul>
    <ul class="layout u-mb">
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-gold"></div>
        Gold
      </li>
    </ul>
    <ul class="layout">
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-deep-gray"></div>
        Deep Gray
      </li>
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-dark-gray"></div>
        Dark Gray
      </li>
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-medium-gray"></div>
        Medium Gray
      </li>
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-second-gray"></div>
        Second Gray
      </li>
      <li class="layout__item u-text-center u-1/4">
        <div class="u-pv+ u-bg-light-gray"></div>
        Light Gray
      </li>
    </ul>
  </section>
  <section class="styleguide-block">
    <h2>Typography</h2>
    <article>
      <h3 class="u-mb">Headings</h3>
      <h1 class="c-hero-title">Hero title</h1>
      <h1>Heading H1</h1>
      <h2>Heading H2</h2>
      <h3>Heading H3</h3>
      <h4>Heading H4</h4>
      <h5>Heading H5</h5>
      <h6>Heading H6</h6>
    </article>
    <article>
      <h3 class="u-mt">Body text</h3>
      <p>Elit <b>repellat</b> quis <i>quam</i> ipsa ut Delectus dolor quae at commodi minus? Veritatis quaerat sed corporis eligendi eveniet Architecto sapiente obcaecati corrupti hic vel. Saepe quisquam ducimus ullam pariatur temporibus</p>
      <p>Sit facere esse atque sunt corrupti Aspernatur molestiae fuga nam velit alias, quo! Molestiae possimus excepturi autem atque minima? Mollitia quis maiores reprehenderit magnam eaque repudiandae? Ipsum provident delectus architecto?</p>
      <p>Amet explicabo fugiat ex fugit omnis error Perspiciatis illum assumenda eos illum laboriosam dolore tempore Et fugit amet molestias recusandae nam saepe Dignissimos quidem animi rerum beatae itaque placeat Sunt!</p>
    </article>
    <article>
      <h3 class="u-mt">Lists</h3>
      Number list
      <ol class="u-mb">
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ol>
      Bullet list
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3
          <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
          </ul>
        </li>
      </ul>
    </article>
  </section>
  <section class="styleguide-block">
    <h2>Buttons</h2>
    <button class="o-btn c-btn u-mt" type="submit">Send message</button>
  </section>
  <section class="styleguide-block">
    <h2>Header</h2>
    {% include "02-organisms/organism.header.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Footer</h2>
    {% include "02-organisms/organism.footer.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Section navigation</h2>
    <a class="c-left-nav-btn u-mb+" href="#">
      {{ macro.icon("bottle") }}
    </a>
    <a class="c-left-nav-btn u-mb+" href="#">
      {{ macro.icon("arrow-left") }}
    </a>
  </section>
  <section class="styleguide-block">
    <h2>Ingredients slider</h2>
    {% include "02-organisms/organism.ingredients-slider.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Ingredients details slider</h2>
    {% include "02-organisms/organism.ingredients-details.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Form controls</h2>
    <article class="u-mb">
      <h3>Inputs</h3>
      <div class="layout layout--auto">
        <div class="layout__item">
          {{ macro.input(placeholder="Name*") }}
        </div>
        <div class="layout__item">
          {{ macro.input(placeholder="Name*", disabled=true) }}
        </div>
        <div class="layout__item">
          {{ macro.input(placeholder="Name*", error="This is error text example") }}
        </div>
      </div>
    </article>
    <article class="u-mb">
      <h3>Textarea</h3>
      <div class="layout layout--auto">
        <div class="layout__item">
          {{ macro.textarea(placeholder="Name*") }}
        </div>
        <div class="layout__item">
          {{ macro.textarea(placeholder="Name*", disabled=true) }}
        </div>
        <div class="layout__item">
          {{ macro.textarea(placeholder="Name*", error="This is error text example") }}
        </div>
      </div>
    </article>
    <article class="u-mb">
      <h3>Radio button</h3>
      <div class="layout layout--auto">
        <div class="layout__item">
          {{ macro.radio(placeholder="Radio button 1", name="sgradio", checked=true) }}
        </div>
        <div class="layout__item">
          {{ macro.radio(placeholder="Radio button 2", name="sgradio") }}
        </div>
        <div class="layout__item">
          {{ macro.radio(placeholder="Radio button 3", name="sgradio", disabled=true) }}
        </div>
      </div>
    </article>
    <article class="u-mb">
      <h3>Check button</h3>
      <div class="layout layout--auto">
        <div class="layout__item">
          {{ macro.checkbox(placeholder="Check button 1", checked=true) }}
        </div>
        <div class="layout__item">
          {{ macro.checkbox(placeholder="Check button 2") }}
        </div>
        <div class="layout__item">
          {{ macro.checkbox(placeholder="Check button 3", disabled=true) }}
        </div>
      </div>
    </article>
  </section>
  <section class="styleguide-block">
    <h2>Icons</h2>
    <article class="u-mb-">
      <h3>42x42</h3>
      <div class="layout layout--small layout--auto">
        <div class="layout__item">
          {{ macro.icon("visa", "large") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("mastercard", "large") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("bottle", "large") }}
        </div>
      </div>
    </article>
    <article class="u-mb-">
      <h3>24x24</h3>
      <div class="layout layout--small layout--auto">
        <div class="layout__item">
          {{ macro.icon("bag") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("arrow-right") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("arrow-left") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("instagram") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("trash") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("drop") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("close") }}
        </div>
      </div>
    </article>
    <article class="u-mb-">
      <h3>12x12</h3>
      <div class="layout layout--small layout--auto">
        <div class="layout__item">
          {{ macro.icon("secure", "small") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("minus", "small") }}
        </div>
        <div class="layout__item">
          {{ macro.icon("plus", "small") }}
        </div>
      </div>
    </article>
  </section>
  <section class="styleguide-block">
    <h2>Messages</h2>
  </section>
  <section class="styleguide-block">
    <h2>Horizontal line</h2>
    {% include "00-atoms/atom.horizontal-line.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Icons</h2>
  </section>
  <section class="styleguide-block">
    <h2>Pagination</h2>
  </section>
  <section class="styleguide-block">
    <h2>Tooltip</h2>
  </section>
  <section class="styleguide-block">
    <h2>Loader</h2>
    <div class="u-pos-relative u-pv++ u-mb+">
      <div class="c-loader js-loader" data-anim-out="fadeIn">
        <div class="c-loader__anim js-loader__anim"></div>
      </div>
    </div>
  </section>
  <section class="styleguide-block">
    <h2>Progress</h2>
  </section>
  <section class="styleguide-block">
    <h2>Products</h2>
    {% include "02-organisms/organism.products.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Contact form</h2>
    {% include "02-organisms/organism.contact-form.html" %}
  </section>
  <section class="styleguide-block">
    <h2>Carousel</h2>
    <article>
      <h3>Simple carousel</h3>
      {% set carouselPagination %}
      <div class="u-text-center js-carousel__pagination"></div>
      {% endset %}
      {% set carouselItems %}
      <div class="swiper-slide u-text-center"><img src="http://placehold.it/300x150" alt="Placeholder image"></div>
      <div class="swiper-slide u-text-center"><img src="http://placehold.it/300x150" alt="Placeholder image"></div>
      <div class="swiper-slide u-text-center"><img src="http://placehold.it/300x200" alt="Placeholder image"></div>
      <div class="swiper-slide u-text-center"><img src="http://placehold.it/300x150" alt="Placeholder image"></div>
      <div class="swiper-slide u-text-center"><img src="http://placehold.it/300x100" alt="Placeholder image"></div>
      {% endset %}
      {% set carouselNavigation %}
      <div class="o-justifize">
        <button class="o-btn js-carousel__prev">Previous</button>
        <button class="o-btn js-carousel__next">Next</button>
      </div>
      {% endset %}
      {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
    </article>
    <article class="u-mt">
      <h3>Responsive carousel</h3>
      {% set carouselItems %}
      <div class="swiper-slide u-1/3-large-and-up">
        <p>
          Elit non iusto cum aspernatur placeat Quia labore optio quod fuga fugiat Doloremque excepturi laudantium beatae officia in reprehenderit Placeat nesciunt explicabo veniam repellat repudiandae Nesciunt recusandae possimus incidunt aliquid?
        </p>
      </div>
      <div class="swiper-slide u-1/3-large-and-up">
        <p>
          Ipsum nisi atque ea quisquam error, sequi Vero aliquid id iusto possimus amet Recusandae libero illum fugiat explicabo corporis, aut nobis. Amet eius ad sequi alias minima. Laboriosam incidunt omnis?
        </p>
      </div>
      <div class="swiper-slide u-1/3-large-and-up">
        <p>
          Dolor deserunt dolores placeat quo eaque? Reiciendis facere laudantium nulla sunt distinctio. Consequatur impedit quaerat exercitationem earum sunt? Sapiente voluptatum aut temporibus est facere aperiam labore. Illum eaque sint aliquid?
        </p>
      </div>
      <div class="swiper-slide u-1/3-large-and-up">
        <p>
          Amet quidem eligendi accusantium consectetur quidem Possimus tempora sint ducimus sunt veniam. Necessitatibus non nesciunt modi expedita quo amet consequatur. Nemo similique in hic magnam accusamus Cumque omnis adipisci eveniet
        </p>
      </div>
      <div class="swiper-slide u-1/3-large-and-up">
        <p>
          Adipisicing sapiente minima dolorum laudantium necessitatibus error quas. Asperiores et voluptatum quia fugit ab officiis, distinctio, nihil. Earum aspernatur beatae sequi alias sapiente facilis Esse quia eos illum mollitia saepe
        </p>
      </div>
      {% endset %}
      {% set carouselNavigation %}
      <div class="o-justifize u-pt">
        <button class="o-btn js-carousel__prev">Previous</button>
        <button class="o-btn js-carousel__next">Next</button>
      </div>
      {% endset %}
      {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
    </article>
  </section>
  <section class="styleguide-block">
    <h2>Tabs</h2>
    <div class="js-tabs">
      <a class="js-tabs__link is-active" href="#tab1">Tab 1</a>
      <a class="js-tabs__link" href="#tab2">Tab 2</a>
      <div class="c-tabs">
        <p id="tab1" class="c-tabs__tab js-tabs__target is-active">Lorem blanditiis repudiandae eos dicta totam Sint nihil nemo expedita impedit necessitatibus Officia accusamus iure doloribus minus necessitatibus. Hic quaerat voluptate ipsam totam fugiat, consequuntur Quas rerum error nobis repudiandae.</p>
        <p id="tab2" class="c-tabs__tab js-tabs__target">Sit rerum omnis eos odio eius Suscipit accusantium dolores quos labore voluptates fugit optio Harum asperiores voluptatibus dolorum natus dolore Consequatur beatae maiores dolorem omnis inventore consectetur! Repellendus voluptatem ea.</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
  (function() {
    var table = document.querySelector('.table-of-contents');

    var styleguideTitleNodes = document.querySelectorAll('.styleguide-block > h2');
    var styleguideTitleNodesArray = Array.prototype.slice.call(styleguideTitleNodes);


    styleguideTitleNodesArray.forEach(function(el) {
      var text = el.textContent;
      var anchor = text.toLowerCase().replace(' ', '-');
      table.insertAdjacentHTML('beforeend', '<li><a href="#'+ anchor + '">' + text + '<\/a><\/li>')
      el.setAttribute('id', anchor);
      el.insertAdjacentHTML('beforeend', '<a href="#top" class="back-to-top">Back to top<\/a>');
    });
  })();
</script>
{% endblock %}
