{% set canvasAnim = "product" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
{% include "02-organisms/organism.left-navigation.html" %}
<div class="c-product-page">
  <div class="c-product-page__section js-product-section is-active" id="specs">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item
        u-1/3-medium-and-up u-1/2-large-and-up
        u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeInLeft">
          <img class="c-product-image" src="./images/product-large-5.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item
        u-2/3-medium-and-up u-1/2-large-and-up
        medium-and-up-pr+ large-and-up-pr++">
        <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
          <div class="js-animated u-transparent" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Supreme eye elixir</h1>
            <p class="u-type--capitalize u-secondary-font-family">Anti-age night moisturiser</p>
            {% set carouselPagination %}
            <div class="u-mb u-mt+">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
            {% endset %}
            {% set carouselItems %}
            <div class="swiper-slide">
              <p>
                Anti-age night moisturiser for the eye area. All beneficial
                ingredients are incorporated into light base formula. Supreme Eye
                Elixir is helping the under the eye area looking its best - corrected,
                refreshed and with restored radiance in the morning by minimising
                the appearance of fine lines.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Skin around eyes has different rules of skin care. Eye surrounding
                skin is much more photosensitive and environmentally sensitive
                compared to the skin on other parts because it is thinner.
                Blood vessels that supply oxygen and nutrients are also smaller in thinner skin.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                We have all noticed that the first fine lines are showing around eyes,
                haven't we? Thinner skin loses its elasticity faster and the fat
                deposits underneath the eye start to shrink, creating puffy eye look.
                That is why it is important to protect eye area against UV damage
                during the daytime and to deliver the best skin care at night.
                Our recommendation is that eye cream shouldn’t contain any fragrances,
                as to minimise the risk of irritation.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                Eye moisturiser isn’t an absolute necessity for everybody, but
                is warmly recommended for those with drier eye area. Also daily
                eye creams, except of state-of-the-art ingredients, must have
                sunscreen to be the perfect anti-ageing tool of defence.
              </p>
            </div>
            {% endset %}
            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="ingredients">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeIn">
          <img class="c-product-image" src="./images/product-large-5.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-1/2-large-and-up">
        <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
          c-opacity-white-background
          c-opacity-white-background--visible-for-large-and-up
          c-ingredients-section
          js-animated u-transparent
          js-ingredients" data-anim="fadeInRight">
          <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
          <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
          <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
            <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
              <canvas class="js-ingredients-canvas"></canvas>
            </div>
            <ul class="c-ingredients-list">
              <li class="c-ingredients-list__item">
                {{ macro.drop("#apricot-kernel-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Apricot kernel oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#avocado-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Avocado oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#nicotinamide") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Nicotinamide</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#dexpanthenol") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Dexpanthenol</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#beta-glucane") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Beta glucane</span>
              </li>
            </ul>
          </div>
          <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>


          {% set carouselItems %}
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("retinyl palmitate", "#retinyl-palmitate") }}
              {{ macro.ingredient("tocopheryl acetate", "#tocopheryl-acetate") }}
              {{ macro.ingredient("nicotinamide", "#nicotinamide") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("tocopheryl acetate", "#tocopheryl-acetate") }}
              {{ macro.ingredient("ceramides", "#ceramides") }}
              {{ macro.ingredient("sunflower seed oil", "#sunflower-seed-oil") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("pomegranate seed oil", "#pomegranate-seed-oil") }}
              {{ macro.ingredient("plum seed oil", "#plum-seed-oil") }}
              {{ macro.ingredient("grape seed extract", "#grape-seed-extract") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("green tea leaf extract", "#green-tea-leaf-extract") }}
              {{ macro.ingredient("lecithin", "#lecithin") }}
              {{ macro.ingredient("sodium hyaluronate", "#sodium-hyaluronate") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("resveratrol", "#resveratrol") }}
              {{ macro.ingredient("alpha lipoic acid", "#alpha-lipoic-acid") }}
              {{ macro.ingredient("allantoin", "#allantoin") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("azelaic acid", "#azelaic-acid") }}
              {{ macro.ingredient("lutein", "#lutein") }}
            </div>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="u-pt">
            <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
            <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
          </div>
          {% endset %}

          {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

          <script type="text/x-template" id="apricot-kernel-oil">
            {% include "02-organisms/organism.apricot-kernel-oil.html" %}
          </script>
          <script type="text/x-template" id="avocado-oil">
            {% include "02-organisms/organism.avocado-oil.html" %}
          </script>
          <script type="text/x-template" id="nicotinamide">
            {% include "02-organisms/organism.nicotinamide.html" %}
          </script>
          <script type="text/x-template" id="dexpanthenol">
            {% include "02-organisms/organism.dexpanthenol.html" %}
          </script>
          <script type="text/x-template" id="beta-glucane">
            {% include "02-organisms/organism.beta-glucane.html" %}
          </script>
          <script type="text/x-template" id="retinyl-palmitate">
            {% include "02-organisms/organism.retinyl-palmitate.html" %}
          </script>
          <script type="text/x-template" id="tocopheryl-acetate">
            {% include "02-organisms/organism.tocopheryl-acetate.html" %}
          </script>
          <script type="text/x-template" id="ceramides">
            {% include "02-organisms/organism.ceramides.html" %}
          </script>
          <script type="text/x-template" id="sunflower-seed-oil">
            {% include "02-organisms/organism.sunflower-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="pomegranate-seed-oil">
            {% include "02-organisms/organism.pomegranate-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="plum-seed-oil">
            {% include "02-organisms/organism.plum-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="grape-seed-extract">
            {% include "02-organisms/organism.grape-seed-extract.html" %}
          </script>
          <script type="text/x-template" id="green-tea-leaf-extract">
            {% include "02-organisms/organism.green-tea-leaf-extract.html" %}
          </script>
          <script type="text/x-template" id="lecithin">
            {% include "02-organisms/organism.lecithin.html" %}
          </script>
          <script type="text/x-template" id="sodium-hyaluronate">
            {% include "02-organisms/organism.sodium-hyaluronate.html" %}
          </script>
          <script type="text/x-template" id="resveratrol">
            {% include "02-organisms/organism.resveratrol.html" %}
          </script>
          <script type="text/x-template" id="alpha-lipoic-acid">
            {% include "02-organisms/organism.alpha-lipoic-acid.html" %}
          </script>
          <script type="text/x-template" id="allantoin">
            {% include "02-organisms/organism.allantoin.html" %}
          </script>
          <script type="text/x-template" id="azelaic-acid">
            {% include "02-organisms/organism.azelaic-acid.html" %}
          </script>
          <script type="text/x-template" id="lutein">
            {% include "02-organisms/organism.lutein.html" %}
          </script>


        </div>
      </div>
    </div>
    <aside class="c-ingredient-details-modal js-ingredients-modal">
      <div class="c-ingredient-details-modal__inner">
        <div class="u-pos-relative">
          <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
          <div class="js-ingredients-modal__content">
            {% include "02-organisms/organism.ingredients-details.html" %}
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="c-product-page__section js-product-section" id="function">
    <div class="o-wrapper">
      <div class="layout layout--middle layout--large">
        <div class="layout__item u-1/2-large-and-up js-animated u-text-center" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Supreme eye elixir</h1>
          {% set carouselPagination %}
          <div class="u-mb medium-and-up-mt+ u-text-center">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Improves skin texture around delicate eye area</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Reduces appearance of fine lines</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Enhances wrinkle resilience</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Improves microcirculation in the skin under the eye area combatting puffiness and dryness</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Optimises the beauty of your eyes with its active ingredients, perfect for thin and dry skin</h2>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
        <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
          <img class="c-product-image" src="./images/product-large-5.png" alt="product-large">
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="how-to-use">
    <div class="layout layout--flush">
      <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
        <img class="c-product-image" src="./images/product-large-5.png" alt="product-large">
      </div>
      <div class="layout__item u-1/2-large-and-up c-opacity-white-background c-opacity-white-background--visible-for-large-and-up c-opacity-white-background--right u-pl large-and-up-pl+ u-pv js-animated" data-anim="fadeInRight">
        <h1 class="u-type--capitalize u-pb-- u-mt">Supreme eye elixir</h1>
        <p class="u-type--capitalize u-secondary-font-family">how to use Supreme Eye Elixir?</p>
        <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
          {% set carouselPagination %}
          <div class="u-mb">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide">
            <ul>
              <li class="u-mb">
                Gently massage and dab a small amount of Supreme Eye Elixir using
                circular movements under /around the eye area, avoiding direct contact with the eyes.
              </li>
              <li class="u-mb">
                TIP: You can use it for your lips if they are feeling too dry.
              </li>
            </ul>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
      </div>
    </div>

  </div>
</div>
<div class="o-fixed-bottom o-fixed-bottom--right o-fixed-bottom--responsive
  u-text-right u-pr+ u-pb+ u-pt++ u-zindex-1">
  <div class="c-horizontal-line u-inline-block"></div>
  <div class="c-price">
    $399.00
  </div>
  <form>
    <a href="" data-product-id="10" class="update-cart o-btn c-btn u-mt-- u-ph+">Add to bag</a>
  </form>
</div>
{% include "02-organisms/organism.section-navigation.html" %}
{% endblock %}
