{% set canvasAnim = "product" %}
{% extends "03-templates/templates.page.html" %}

{% block content %}
{% include "02-organisms/organism.left-navigation.html" %}
<div class="c-product-page">
  <div class="c-product-page__section js-product-section is-active" id="specs">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/3-medium-and-up u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeInLeft">
          <img class="c-product-image" src="./images/product-large-6.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-2/3-medium-and-up u-1/2-large-and-up medium-and-up-pr+ large-and-up-pr++">
        <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
          <div class="js-animated u-transparent" data-anim="fadeInUp">
            <h1 class="u-type--capitalize u-pb-- u-mt">Ultimative rejuvenating  <br> night cream</h1>
            <p class="u-type--capitalize u-secondary-font-family">Facial moisturiser</p>
            {% set carouselPagination %}
            <div class="u-mb u-mt+">
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
              <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
              <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            </div>
            {% endset %}
            {% set carouselItems %}
            <div class="swiper-slide">
              <p>
                Facial moisturiser for night time that delivers potent anti-ageing
                synergy of key ingredients, antioxidants, cell communicating and skin
                repairing ingredients and emollients.
              </p>
              <p>
                Skin regeneration is faster and skin cells do their repair work most
                effectively at night.
                Formulated as oil in water emulsion (O/W) it is ideal for your night
                skin management making dry skin look polished and supple for the morning.
              </p>
            </div>
            <div class="swiper-slide">
              <p>
                If you have doubts about using a night moisturiser continue reading
                text that follows...
              </p>
              <p>
                Research shows that skin cell regeneration almost doubles at night,
                peaking between 23:00 and 4:00. Production of collagen is boosted,
                free radicals are been removed and cell damage is rectified. Skin
                temperature is higher during the night so penetration of key ingredients
                is deeper and quicker. Furthermore, your skin is able to absorb the beneficial
                ingredients better since active ingredients are less effective when exposed
                to sunlight. Transepidermal water loss is higher; therefore, you
                need more hydration from your product.
              </p>
            </div>
            {% endset %}
            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-product-page__section js-product-section" id="ingredients">
    <div class="layout layout--middle layout--flush">
      <div class="layout__item u-1/2-large-and-up u-text-center">
        <div class="js-animated u-transparent" data-anim="fadeIn">
          <img class="c-product-image" src="./images/product-large-6.png" alt="product-large">
        </div>
      </div>
      <div class="layout__item u-1/2-large-and-up">
        <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
          c-opacity-white-background
          c-opacity-white-background--visible-for-large-and-up
          c-ingredients-section
          js-animated u-transparent
          js-ingredients" data-anim="fadeInRight">
          <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
          <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
          <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
            <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
              <canvas class="js-ingredients-canvas"></canvas>
            </div>
            <ul class="c-ingredients-list">
              <li class="c-ingredients-list__item">
                {{ macro.drop("#avocado-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Avocado oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#beta-glucane") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Beta glucane</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#macadamia-seed-nut-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Macadamia seed nut oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#olive-fruit-oil") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Olive fruit oil</span>
              </li>
              <li class="c-ingredients-list__item">
                {{ macro.drop("#ceramides") }}
                <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Ceramides</span>
              </li>
            </ul>
          </div>
          <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>


          {% set carouselItems %}
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("urea", "#urea") }}
              {{ macro.ingredient("dexpanthenol", "#dexpanthenol") }}
              {{ macro.ingredient("nicotinamide", "#nicotinamide") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("tocopheryl acetate", "#tocopheryl-acetate") }}
              {{ macro.ingredient("squalane", "#squalane") }}
              {{ macro.ingredient("black currant seed oil", "#black-currant-seed-oil") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("castor oil", "#castor-oil") }}
              {{ macro.ingredient("matricaria essential oil", "#matricaria-essential-oil") }}
              {{ macro.ingredient("sodium hyaluronate", "#sodium-hyaluronate") }}
            </div>
            <div class="u-inline-block">
              {{ macro.ingredient("retinyl palmitate", "#retinyl-palmitate") }}
              {{ macro.ingredient("resveratrol", "#resveratrol") }}
              {{ macro.ingredient("squalane", "#squalane") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("resveratrol", "#resveratrol") }}
              {{ macro.ingredient("azelaic-acid", "#azelaic-acid") }}
              {{ macro.ingredient("sodium pca", "#sodium-pca") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("alpha lipoic acid", "#alpha-lipoic-acid") }}
              {{ macro.ingredient("grape seed extract", "#grape-seed-extract") }}
              {{ macro.ingredient("astaxanthin", "#astaxanthin") }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="u-inline-block u-mr">
              {{ macro.ingredient("turmeric root extract", "#turmeric-root-extract") }}
              { macro.ingredient("astaxanthin", "#astaxanthin") }}
              { macro.ingredient("glycoproteins", "#glycoproteins") }}
            </div>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="u-pt">
            <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
            <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
          </div>
          {% endset %}

          {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

          <script type="text/x-template" id="avocado-oil">
            {% include "02-organisms/organism.avocado-oil.html" %}
          </script>
          <script type="text/x-template" id="beta-glucane">
            {% include "02-organisms/organism.beta-glucane.html" %}
          </script>
          <script type="text/x-template" id="macadamia-seed-nut-oil">
            {% include "02-organisms/organism.macadamia-seed-nut-oil.html" %}
          </script>
          <script type="text/x-template" id="olive-fruit-oil">
            {% include "02-organisms/organism.olive-fruit-oil.html" %}
          </script>
          <script type="text/x-template" id="ceramides">
            {% include "02-organisms/organism.ceramides.html" %}
          </script>
          <script type="text/x-template" id="urea">
            {% include "02-organisms/organism.urea.html" %}
          </script>
          <script type="text/x-template" id="dexpanthenol">
            {% include "02-organisms/organism.dexpanthenol.html" %}
          </script>
          <script type="text/x-template" id="nicotinamide">
            {% include "02-organisms/organism.nicotinamide.html" %}
          </script>
          <script type="text/x-template" id="tocopheryl-acetate">
            {% include "02-organisms/organism.tocopheryl-acetate.html" %}
          </script>
          <script type="text/x-template" id="squalane">
            {% include "02-organisms/organism.squalane.html" %}
          </script>
          <script type="text/x-template" id="black-currant-seed-oil">
            {% include "02-organisms/organism.black-currant-seed-oil.html" %}
          </script>
          <script type="text/x-template" id="castor-oil">
            {% include "02-organisms/organism.castor-oil.html" %}
          </script>
          <script type="text/x-template" id="matricaria-essential-oil">
            {% include "02-organisms/organism.matricaria-essential-oil.html" %}
          </script>
          <script type="text/x-template" id="sodium-hyaluronate">
            {% include "02-organisms/organism.sodium-hyaluronate.html" %}
          </script>
          <script type="text/x-template" id="retinyl-palmitate">
            {% include "02-organisms/organism.retinyl-palmitate.html" %}
          </script>
          <script type="text/x-template" id="resveratrol">
            {% include "02-organisms/organism.resveratrol.html" %}
          </script>
          <script type="text/x-template" id="azelaic-acid">
            {% include "02-organisms/organism.azelaic-acid.html" %}
          </script>
          <script type="text/x-template" id="sodium-pca">
            {% include "02-organisms/organism.sodium-pca.html" %}
          </script>
          <script type="text/x-template" id="alpha-lipoic-acid">
            {% include "02-organisms/organism.alpha-lipoic-acid.html" %}
          </script>
          <script type="text/x-template" id="grape-seed-extract">
            {% include "02-organisms/organism.grape-seed-extract.html" %}
          </script>
          <script type="text/x-template" id="astaxanthin">
            {% include "02-organisms/organism.astaxanthin.html" %}
          </script>
          <script type="text/x-template" id="turmeric-root-extract">
            {% include "02-organisms/organism.turmeric-root-extract.html" %}
          </script>
          <script type="text/x-template" id="glycoproteins">
            {% include "02-organisms/organism.glycoproteins.html" %}
          </script>

        </div>
      </div>
    </div>
    <aside class="c-ingredient-details-modal js-ingredients-modal">
      <div class="c-ingredient-details-modal__inner">
        <div class="u-pos-relative">
          <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
          <div class="js-ingredients-modal__content">
            {% include "02-organisms/organism.ingredients-details.html" %}
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="c-product-page__section js-product-section" id="function">
    <div class="o-wrapper">
      <div class="layout layout--middle layout--large">
        <div class="layout__item u-1/2-large-and-up js-animated u-text-center" data-anim="fadeInUp">
          <h1 class="u-type--capitalize u-pb-- u-mt">Ultimative rejuvenating complex night cream</h1>
          {% set carouselPagination %}
          <div class="u-mb medium-and-up-mt+ u-text-center">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Delivers potent anti-age synergy of key ingredients and super-emollient botanicals to preserve youth</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Protects and nourishes skin matrix</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Enhances the firmness of skin</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Combats against oxidation process</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">Makes your skin look polished and supple for the morning</h2>
          </div>
          <div class="swiper-slide u-text-center">
            <h2 class="u-ph medium-and-up-p0">After application skin is regenerated with healthy glow and fine lines
              are less visible. Greet the new day with revitalized and fresh skin
              appearance after deluxe night spa treatment with Ultimative Rejuvenating
              Complex Cream</h2>
            </div>
            {% endset %}

            {% set carouselNavigation %}
            <div class="o-justifize">
              <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
                <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
              </button>
              <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
                <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
                <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
              </button>
            </div>
            {% endset %}
            {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
          </div>
          <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
            <img class="c-product-image" src="./images/product-large-6.png" alt="product-large">
          </div>
        </div>
      </div>
    </div>
    <div class="c-product-page__section js-product-section" id="how-to-use">
      <div class="layout layout--flush">
        <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
          <img class="c-product-image" src="./images/product-large-6.png" alt="product-large">
        </div>
        <div class="layout__item u-1/2-large-and-up
        c-opacity-white-background c-opacity-white-background--visible-for-large-and-up
        c-opacity-white-background--right u-pl large-and-up-pl+ u-pv
        js-animated" data-anim="fadeInRight">
        <h1 class="u-type--capitalize u-pb-- u-mt">Ultimative rejuvenating <br> night cream</h1>
        <p class="u-type--capitalize u-secondary-font-family">how to use Ultimative Rejuvenating Complex Night Cream?</p>
        <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
          {% set carouselPagination %}
          <div class="u-mb">
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
            <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
            <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          </div>
          {% endset %}
          {% set carouselItems %}
          <div class="swiper-slide">
            <ul>
              <li class="u-mb">
                Dispense a generous amount 15 minutes after RRS or IYS treatment and
                smooth gently over your face, neck and décolletage.
              </li>
            </ul>
          </div>
          {% endset %}

          {% set carouselNavigation %}
          <div class="o-justifize">
            <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
              <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
            </button>
            <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
              <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
              <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
            </button>
          </div>
          {% endset %}
          {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-fixed-bottom o-fixed-bottom--right o-fixed-bottom--responsive u-text-right u-pr+ u-pb+ u-pt++ u-zindex-1">
  <div class="c-horizontal-line u-inline-block"></div>
  <div class="c-price">
    $399.00
  </div>
  <form action="">
    <a href="" data-product-id="9" class="update-cart o-btn c-btn u-mt-- u-ph+">Add to bag</a>
  </form>
</div>
{% include "02-organisms/organism.section-navigation.html" %}
{% endblock %}
