<div class="c-loader u-pv++ u-anim-fast js-loader" data-anim-out="fadeOut">
  <div class="u-text-center">
    <div class="u-transparent js-animated" data-anim="fadeInUp">
      {% include "00-atoms/logo.html" %}
    </div>
  </div>
  <div class="c-loader__anim js-loader__anim"></div>
  <p class="c-loader__text u-transparent js-animated" data-anim="fadeIn">Loading</p>
</div>

