/*------------------------------------*\
       #PRODUCT IMAGE
\*------------------------------------*/

.c-product-image {
    width: 100px;

    @include media-query(large-and-up) {
        width: 163px;
    }
}
