/*------------------------------------*\
           #PRODUCT PAGE
\*------------------------------------*/

.c-product-page {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;

    p {
        padding-right: 30px;

        @include media-query(extralarge-and-up) {
            padding-right: 0;
        }
    }

    ul {
        padding-right: $spacing-unit--large;

        @include media-query(medium-and-up) {
            padding-right: 0;
        }
    }

    h1 {
        font-size: 30px;

        @include media-query(medium-and-up) {
            font-size: 40px;
        }
    }

    h2 {
        font-size: 16px;

        @include media-query(medium-and-up) {
            font-size: 20px;
        }
    }
}

    /**
     * 1. Column flex items overflow their container.
     */
    .c-product-page__section {
        display: none;
        max-width: 100%; /* [1] */
        flex: 0 0 100vw;
        transition: .3s all;

        &.is-active {
            display: block;
        }

        &.is-modal-open {
            padding-right: 33.3333%;
        }

        .animated {
            animation-duration: 700ms;
        }
    }
