/*------------------------------------*\
           #FORM FIELDS
\*------------------------------------*/

$field-label-active-height: ms(0);

/**
 * 1. Make room for label on focused input
 */
.c-field {
    position: relative;
    padding-top: $field-label-active-height; /* [1] */
    display: inline-block;
    width: 100%;
}

    /**
     * 1. Move label above input
     */
    .c-field__input {
        &::placeholder {
            color: transparent;
        }

        &:focus + .c-field__label,
        &.is-focus + .c-field__label,
        &.is-active + .c-field__label {
            color: color('input--hover');
            font-size: $field-label-active-height;
            transform: translateY((-$input-height + $field-label-active-height) / 2); /* [1] */

            .has-error & {
                color: color('error');
            }
        }
    }

    /**
     * 1. Center label in input
     */
    .c-field__label {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY($field-label-active-height); /* [1] */
        transition: $base-transition;
        transition-duration: .25s;
        font-family: $secondary-font-family;
        font-size: ms(1);
        font-weight: 500;
        line-height: $input-height;
        color: color('input-placeholder');
        pointer-events: none;

        .has-error & {
            color: color('error');
        }
    }

    .c-field__message {
        font-weight: 500;
        font-family: $secondary-font-family;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: $spacing-unit--tiny;

        .has-error & {
            color: color('error');
        }
    }
