/*------------------------------------*\
       #CLOSE BUTTON
\*------------------------------------*/

.c-close-btn {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    z-index: 2;

    /**
     * 1. Fix IE not supporting click on icons inside buttons
     */
    svg {
        pointer-events: none; /* [1] */
        fill: none;
        stroke: color('pink');
        transition: .2s fill, .4s stroke;
    }

    &:hover {
        svg {
            fill: color('pink');
            stroke: #fff;
        }
    }
}
