/*------------------------------------*\
       #BAG
\*------------------------------------*/

.c-bag {
    color: color('second-gray');
    font-family: $secondary-font-family;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

    .c-bag__number {
        position: absolute;
        top: 9px;
        left: 81%;
        color: color('deep-gray');
        font-size: 10px;
        font-family: $secondary-font-family;
    }

    .c-bag__icon {
        vertical-align: $spacing-unit--tiny;
    }
