/*------------------------------------*\
       #CAROUSEL BUTTON
\*------------------------------------*/

.c-carousel-btn {
    display: none;

    @include media-query(large-and-up) {
        display: inline-block;
    }

    &.is-disabled {
        opacity: 0;
        cursor: default;
    }
}
