/*------------------------------------*\
    #HERO TITLE
\*------------------------------------*/

.c-hero-title {
    @include font-size(ms(18));
    font-weight: 100;
    font-family: $secondary-font-family;
}
