/*------------------------------------*\
           #LINK
\*------------------------------------*/

.c-link {
    font-family: $secondary-font-family;
    font-weight: 600;

    &.is-active {
        color: color('deep-gray');
        text-decoration: none;
    }

    &:hover {
        transition: .25s ease-in-out;
    }
}
