/*------------------------------------*\
       #HAMBURGER
\*------------------------------------*/

.c-hamburger {
    width: 25px;
    height: 25px;
    display: inline-block;

    span {
        width: 25px;
        height: 2px;
        position: relative;
        top: 0;
        left: 0;
        margin: 5px 0;
        background-color: color('deep-gray');
        display: block;
    }
}
