/*------------------------------------*\
           #HORIZONTAL LINE
\*------------------------------------*/

.c-horizontal-line {
    border: none;
    width: 40px;
    height: 1px;
    background-color: color('pink');
}

.c-horizontal-line--center {
    margin: auto;
}

.c-horizontal-line--gray {
    background-color: color('light-gray');
    width: 100%;
}
