/*------------------------------------*\
       #BACKGROUND VIDEO
\*------------------------------------*/

.c-bg-video {
    @include fill-parent;
    position: fixed;
    background: url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;

    /**
     * Fix black flash on first frame in IE11.
     */
    @include ie11 {
        video {
            transition: opacity 1s ease-in-expo();

            &[hidden] {
                @include invisible;
                display: block;
            }
        }
    }
}
