/*------------------------------------*\
       #LOGO
\*------------------------------------*/

.c-logo {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px; /* vertical alignment */
}
