/*------------------------------------*\
       #DEFINITION LIST
\*------------------------------------*/

$definition-list-number-size: 40px;
$definition-list-number-font-size: ms(1);

.c-definition-list {
    counter-reset: list;
}

    .c-definition-list__title {
        @include font-size(ms(1), 1);
        position: relative;
        font-weight: 700;
        margin-bottom: $spacing-unit--tiny;
        padding-top: ($definition-list-number-size - $definition-list-number-font-size) / 2;
        padding-left: $definition-list-number-size + $spacing-unit--small;

        /**
         * 1. Minus border size
         */
        &:before {
            @include font-size(ms(1));
            width: $definition-list-number-size;
            height: $definition-list-number-size;
            border-radius: 50%;
            border: 1px solid color('pink');
            display: inline-block;
            text-align: center;
            line-height: $definition-list-number-size - 2px; /* [1] */
            position: absolute;
            top: 0;
            left: 0;
            counter-increment: list;
            content: counter(list);
            font-weight: 400;
        }
    }

    .c-definition-list__text {
        padding-left: $definition-list-number-size + $spacing-unit--small;
        margin-bottom: $spacing-unit--large;
    }
