/*------------------------------------*\
           #SCROLL MARKER
\*------------------------------------*/

$scroll-marker-height: ms(9);

.c-scroll-marker {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 300;
    font-family: $secondary-font-family;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: $scroll-marker-height + $spacing-unit--tiny;
    text-decoration: none;
    color: color('deep-gray');
    overflow: hidden;
    z-index: 3;

    &:hover {
        text-decoration: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        height: $scroll-marker-height;
        width: 1px;
        background: color('pink');
        animation: $base-duration * 1.4 scroll ease-in-out-sine() infinite;
        transform-origin: 0 0;
    }
}

@keyframes scroll {
    0% {
        transform: scaleY(0) translateY(0);
    }

    40% {
        transform: scaleY(1) translateY(0);
    }

    80%, 100% {
        transform: scaleY(1) translateY(100%);
    }
}
