/*------------------------------------*\
           #CANVAS STYLING
\*------------------------------------*/

.c-canvas {
    @include fill-parent;
    z-index: -1;
}

.c-canvas--fixed {
    position: fixed;
}

.c-canvas--product {
    width: 400px;
    right: auto;
    left: calc(50% - 200px);
    z-index: auto;
    opacity: .3;

    @include media-query(widescreen-and-up) {
        width: 500px;
        min-height: 500px;
        left: calc(50% - 250px);
    }
}
