/*------------------------------------*\
       #FOOTER LINK
\*------------------------------------*/

.c-footer-link {
    @include font-size(ms(-2));
    text-transform: uppercase;
    color: color('deep-gray');
    font-weight: 600;
    text-decoration: none;
    padding: 0 $spacing-unit--tiny;
    font-family: $secondary-font-family;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: -3px;
        top: $spacing-unit--tiny;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: color('pink');
    }

    &:first-child {
        border-right: 1px solid color('pink');

        &:before {
            display: none;
        }

        &:hover {
            color: color('deep-gray');
        }
    }

    &:last-child {
        &:before {
            display: none;
        }
    }

    &:hover {
        text-decoration: none;
        color: color('pink');
        transition: .25s ease-in;
    }
}
