/*------------------------------------*\
           #CHECK BUTTONS
\*------------------------------------*/

$checkbox-size: ms(4);

.c-checkbox {
    display: inline-block;
    position: relative;
    padding-left: $checkbox-size + $spacing-unit--tiny;
    cursor: pointer;
    min-height: $checkbox-size;

    &.is-disabled {
        cursor: default;
    }
}

    .c-checkbox__input {
        @include visually-hidden;

        &:hover,
        &:focus,
        &.is-focus {
            + .c-checkbox__mark:before {
                box-shadow: 0 0 0 ms(-1) color(rgba(#000, .02));
                background: color(rgba(#000, .02));
            }

            &:checked + .c-checkbox__mark:before {
                box-shadow: 0 0 0 ms(-1) rgba(color('radio-mark'), .2);
                background: rgba(color('radio-mark'), .2);
            }
        }

        &:checked + .c-checkbox__mark {
            border-color: color('radio-mark');
            background: color('radio-mark');

            &:after {
                opacity: 1;
            }
        }

        &:disabled,
        &.is-disabled {
            + .c-checkbox__mark {
                border-color: rgba(#000, .2);

                &:before {
                    box-shadow: none;
                    background: none;
                }
            }
        }
    }

    .c-checkbox__mark {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        vertical-align: middle;
        width: $checkbox-size;
        height: $checkbox-size;
        border-radius: 2px;
        border: 1px solid color('checkbox-border');
        transition: $base-transition;

        &:before,
        &:after {
            @include fill-parent;
            content: '';
            margin: auto;
            display: block;
            transition: $base-transition;
        }

        &:before {
            border-radius: 100%;
        }

        &:after {
            width: round($checkbox-size * .25);
            height: round($checkbox-size * .65);
            border: 2px solid #fff;
            border-width: 0 2px 2px 0;
            transform: translateY(round(-$checkbox-size * .05)) rotate(45deg);
            opacity: 0;
        }
    }
