/*------------------------------------*\
       #PRODUCT SELECT BUTTON
\*------------------------------------*/

.c-product-select-btn {
    display: block;
    margin-bottom: 30px;
    line-height: 1;
    font-family: $secondary-font-family;
    font-size: ms(1);
    text-transform: capitalize;
    color: color('second-gray');
    transition: 2s ease-in-out;
    width: 240px;
    height: 60px;

    &:hover {
        text-decoration: none;

        .c-product-select-btn__thumb {
            &:before {
                border-width: 2px;
                background-color: color('pink');
            }
        }

        .c-product-select-btn__text {
            @include visible;
        }
    }

    &.is-active {
        .c-product-select-btn__thumb:after {
            @include sprite-anim('/images/bloop2.png', 29, .8s);
        }

        .c-product-select-btn__text {
            @include visible;
        }
    }
}

    .c-product-select-btn__text {
        @include invisible;
        vertical-align: middle;
        display: inline-block;
        transition: .4s ease-in-out;
    }

    .c-product-select-btn__thumb {
        width: 56px;
        height: 56px;
        vertical-align: middle;
        display: inline-block;
        border: 2px dotted color('light-gray');
        text-align: center;
        border-radius: 50%;
        position: relative;
        margin-right: $spacing-unit--tiny;

        &:before {
            @include fill-parent;
            content: '';
            display: block;
            margin: auto;
            border: 12px solid transparent;
            border-radius: 50%;
            background-clip: content-box;
            transition: .4s ease-in-out;
            z-index: -1;
        }

        img {
            position: absolute;
            bottom: 24%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
