/*------------------------------------*\
           #DROP
\*------------------------------------*/

.c-drop {
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px dotted color('pink');
    color: color('second-gray');
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: all $base-duration;

    &:hover,
    &.is-active {
        border-color: color('second-gray');
        color: #fff;
        transition: .25s ease;

        &:after {
            @include fill-parent;
            content: '';
            background: rgba(255, 176, 176, .5);
            background-clip: content-box;
            z-index: -1;
            border: 2px solid transparent;
            border-radius: 50%;
            transition: inherit;
        }
    }

    /**
     * 1. Prevent onmouseenter bubling - prevents duplicate sounds
     */
    svg {
        pointer-events: none; /* [1] */
    }

    &.is-active {
        &:before {
            @include fill-parent(-$spacing-unit--small);
            @include sprite-anim('/images/bloop1.png', 29, 600ms);
            content: '';
            position: absolute;
            z-index: -1;
        }
    }
}
