/*------------------------------------*\
           #SECTION NAV LINK
\*------------------------------------*/

.c-section-nav-link {
    margin-bottom: $spacing-unit;
    text-align: right;
    color: inherit;
    display: block;
    font-size: ms(1);

    &.is-active {
        .c-section-nav-link__number {
            font-weight: 700;
        }

        .c-section-nav-link__text {
            opacity: 1;
        }

        &:hover {
            .c-section-nav-link__text {
                opacity: 1;
            }
        }
    }

    &:hover {
        text-decoration: none;

        .c-section-nav-link__text {
            opacity: .5;
        }
    }
}

    .c-section-nav-link__number {
        font-style: italic;
        vertical-align: middle;
    }

    .c-section-nav-link__text {
        vertical-align: middle;
        font-weight: 300;
        font-family: $secondary-font-family;
        padding: 0 14px 0 9px;
        font-style: italic;
        color: #000;
        opacity: 0;
        position: relative;
        display: none;

        @include media-query(large-and-up) {
            display: inline-block;
        }

        &:before {
            position: absolute;
            content: '';
            right: 100%;
            top: 50%;
            width: $spacing-unit--small;
            height: 1px;
            background-color: color('pink');

        }
    }
