/*------------------------------------*\
       #AVATAR
\*------------------------------------*/

$avatar-width: 72px;
$small-bloop-size: 100px;

.c-avatar {
    width: $avatar-width;
    height: $avatar-width;
    border: 1px solid color('pink');
    border-radius: 50%;
    position: relative;

    &.is-animating {
        &:after {
            @include sprite-anim('/images/bloop1.png', 29, $base-duration);
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: $small-bloop-size;
        height: $small-bloop-size;
        margin-top: -$small-bloop-size / 2;
        margin-left: -$small-bloop-size / 2;
        z-index: -1;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

