/*------------------------------------*\
       #PRODUCT TABLE
\*------------------------------------*/

.c-product-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

    .c-product-table__row--border {
        border-bottom: 1px solid color('light-gray');
    }

    .c-product-table__cell {
        border: none;
        position: relative;
        padding-left: 40%;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        @include media-query(large-and-up) {
            padding: $spacing-unit $spacing-unit--large;
            display: table-cell;
        }
    }

    .c-product-table__cell--res {
        @include media-query(large-and-up) {
            position: static;
        }

        &:before {
            content: attr(title);
            position: absolute;
            top: -10px;
            left: 0;
            width: auto;
            padding-right: 10px;
            white-space: nowrap;
            padding: 20px 0;
            font-family: "proxima-nova", sans-serif;
            text-transform: uppercase;
            font-weight: 500;

            @include media-query(large-and-up) {
                content: none !important;
            }
        }
    }

    .c-product-table__head {
        font-family: $secondary-font-family;
        text-transform: uppercase;
        font-weight: 500;
        padding: $spacing-unit $spacing-unit--large;
        position: absolute;
        top: -9999px;
        left: -9999px;
        display: block;
        text-align: center;

        @include media-query(large-and-up) {
            display: table-cell;
            position: static;
        }
    }

    .c-product-table__cell--secondary {
        display: inline-block;
        padding-left: 29%;

        @include media-query(large-and-up) {
            display: table-cell;
            padding-left: 40px;
        }
    }

    .c-product-table__cell--hidden {
        display: none;

        @include media-query(large-and-up) {
            display: table-cell;
        }
    }
