/*------------------------------------*\
           #ICON CARD
\*------------------------------------*/

.c-icon-card {
    color: color('light-gray');
    width: 42px;
    height: 26px;

    &.is-verified {
        color: color('deep-gray');
    }
}
