/*------------------------------------*\
       #TESTIMONIALS PARAGRAPH
\*------------------------------------*/

$testimonials-paragraph-line-height:      1.6;

.c-testimonials-paragraph {
    line-height: $testimonials-paragraph-line-height;
    overflow: hidden;
    padding-right: $spacing-unit--large;

    @include media-query(large-and-up) {
        height: calc(8em * #{$testimonials-paragraph-line-height});
    }
}
