/*------------------------------------*\
    #LOADER COMPONENT
\*------------------------------------*/

.c-loader {
    @include fill-parent;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /**
     * 1. Remove letter-spacing from last character
     */
    .c-loader__text {
        font-size: ms(-1);
        text-transform: uppercase;
        letter-spacing: .8em;
        margin-top: $spacing-unit--small;
        margin-bottom: auto;
        margin-right: -.8em; /* [1] */
    }

    .c-loader__anim {
        margin-top: auto;
        width: 57px;

        svg {
            width: 100%;
        }
    }
