/*------------------------------------*\
       #CLOSE
\*------------------------------------*/

.c-close {
    width: 34px;
    height: 34px;
    top: 30px;
    right: 30px;
    position: absolute;

    span {
        position: absolute;
        height: 33px;
        width: 2px;
        top: 0;
        background-color: color('deep-gray');

        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}
