/*------------------------------------*\
       #SPLAT BUTTON
\*------------------------------------*/

.c-splat-btn {
    border: 2px dotted color('pink');
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    position: relative;
    background: none;

    &.is-active {
        &:after {
            @include sprite-anim('/images/bloop2.png', 29, .8s);
        }

        .c-splat-btn__open {
            @include invisible;
            transition-delay: 0;
        }

        .c-splat-btn__close {
            @include visible;
            transition-delay: 0;
        }
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        left: -70%;
        right: -70%;
        top: -70%;
        bottom: -70%;
    }
}

    .c-splat-btn__open,
    .c-splat-btn__close {
        @include fill-parent;
        transition: $base-transition;
        transition-delay: 0;
    }

    .c-splat-btn__close {
        @include invisible;
    }
