/*------------------------------------*\
           #INGREDIENTS LIST
\*------------------------------------*/

.c-ingredients-list {
    @extend %list-bare;
}

.c-ingredients-list__item {
    @include accelerate(transform);
    white-space: nowrap;
    padding-bottom: $spacing-unit;

    @include media-query(large-and-up) {
        padding-bottom: $spacing-unit--large;
        padding-left: 50%;
        animation: ingredients 2.7s infinite linear;

        &:nth-child(1) {
            margin-left: -80px;
        }

        &:nth-child(2) {
            margin-left: -40px;
            animation-delay: .3s;
        }

        &:nth-child(3) {
            margin-left: -122px;
            animation-delay: .5s;
        }

        &:nth-child(4) {
            margin-left: 10px;
            animation-delay: .9s;
        }

        &:nth-child(5) {
            margin-left: -85px;
            animation-delay: 1.3s;
        }
    }


    &:last-child {
        padding-bottom: 0;
    }
}

@keyframes ingredients {
    from {
        transform: rotate(0) translateX(2px) rotate(0);
    }

    to {
        transform: rotate(1turn) translateX(2px) rotate(-1turn);
    }
}
