/*------------------------------------*\
            #TABS COMPONENT
\*------------------------------------*/

.c-tabs {
    position: relative;
}

    .c-tabs__tab {
        @include invisible;
        position: absolute;
        top: 0;
        margin: 0;
        transition: $base-transition;

        &.is-active {
            @include visible;
            position: static;
        }
    }
