/*------------------------------------*\
           #TEXTAREA
\*------------------------------------*/

.c-textarea {
    @extend %input;
    box-sizing: content-box;
    resize: none;
    min-height: ms(14);
    max-height: ms(20);
    overflow: hidden;

    &.is-overflow {
        overflow-y: scroll;
    }
}
