/*------------------------------------*\
       #INGREDIENT DETAILS MODAL
\*------------------------------------*/

.c-ingredient-details-modal {
    @include accelerate(transform);
    @include invisible;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    transition: all $base-duration ease-out-quint();
    transform: translateZ(0) translateX(100%);
    background-color: #fff;
    width: 100vw;
    z-index: 4;
    pointer-events: none;

    @include media-query(widescreen-and-up) {
        position: absolute;
        left: auto;
        width: 33.33%;
        background-color: transparent;
    }

    &.is-active {
        @include visible;
        transform: translateZ(0);
    }

    p {
        padding-right: 0;
    }
}

    .c-ingredient-details-modal__inner {
        margin: 0 auto;
        padding: $spacing-unit--large $spacing-unit;
        max-width: 100%;
        pointer-events: all;

        @include media-query(large-and-up) {
            max-width: 50%;
        }

        @include media-query(widescreen-and-up) {
            max-width: 440px;
        }
    }
