/*------------------------------------*\
       #INGREDIENTS SECTION
\*------------------------------------*/

.c-ingredients-section {
    width: 100%;

    @include media-query(widescreen-and-up) {
        max-width: 50%;

        &.is-modal-open {
            max-width: 33.3333%;
        }
    }
}

