/*------------------------------------*\
       #NAV LINK
\*------------------------------------*/

.c-nav-link {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-weight: 600;
    color: color('deep-gray');
    display: inline-block;
    font-size: 12px;
    transition: .25s ease-in-out;

    @include media-query(large-and-up) {
        padding-left: $spacing-unit;
        font-size: 16px;
    }

    &.is-active {
        color: color('pink');
    }

    &:hover {
        transition: .25s ease-in-out;
        text-decoration: none;
        color: color('pink');
    }
}

.c-nav-link--mobile {
    font-size: 20px;
}
