/*------------------------------------*\
           #BUTTONS
\*------------------------------------*/

.c-btn {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-family: $secondary-font-family;
    cursor: pointer;
    background: color('pink');
    color: $base-background-color;
    text-transform: uppercase;
    z-index: 0;
    border-radius: 50px;
    overflow: hidden;
    padding: 12px $spacing-unit--large;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: transform .2s ease-out;
        border-radius: 50px;
    }

    &:hover {
        &:before {
            transform: scaleY(1);
        }
    }

    &:active {
        background: #000;
        color: #fff;
    }

    /**
     * 1. Fix IE not supporting click on icons inside buttons
     */
    svg {
        pointer-events: none; /* [1] */
    }
}

    .c-btn__text {
        vertical-align: -2px;
    }
