/*------------------------------------*\
       #LANG
\*------------------------------------*/

.c-lang {
    color: color('pink');
    font-weight: 600;
    font-family: $secondary-font-family;
    text-transform: uppercase;
    display: inline-block;
    padding: $spacing-unit--tiny;

    &:hover {
        text-decoration: none;
    }

    &.is-active {
        background-color: rgba(#fff, .5);
    }
}

    .c-lang__icon {
        vertical-align: -2px;
    }
