/*------------------------------------*\
       #DROPDOWN
\*------------------------------------*/

.c-dropdown {
    @include invisible;
    background-color: rgba(#fff, .5);
    width: 40px;
    position: absolute;
    top: 100%;
    transition: $base-transition;

    &.is-active {
        @include visible;
    }
}

    .c-dropdown__link {
        padding: $spacing-unit--tiny;
        font-family: $secondary-font-family;
        font-weight: 600;
        display: block;
        text-transform: uppercase;

        &:hover {
            transition: .25s ease-in-out;
            text-decoration: none;
            color: #000;
        }
    }
