/*------------------------------------*\
       #SPINNER
\*------------------------------------*/

.c-spinner {
    width: 30px;
    height: 30px;
    border: 2px dotted color('light-gray');
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1.9;
    color: color('deep-gray');
}

.c-spinner--icon {
    width: $spacing-unit--large;
    height: $spacing-unit--large;
    border-color: color('pink');
    line-height: 2.4;

    &:hover {
        transition: .25s ease-in-out;
        border-color: color('medium-gray');
    }
}
