/*------------------------------------*\
           #PAGE COMPONENT
\*------------------------------------*/

$page-bg-pattern-size: $spacing-unit--huge;
$page-bg-pattern-offset: ($page-bg-pattern-size / 2);
$page-bg-pattern-dot-size: 1px;

.c-page {
    min-height: 100vh;
    background: radial-gradient(
        circle,
        color('background'),
        color('background') $page-bg-pattern-dot-size,
        transparent $page-bg-pattern-dot-size * 2
    );
    background-size: $page-bg-pattern-size $page-bg-pattern-size;
    background-position: left calc(50% - #{$page-bg-pattern-offset}) top ($page-bg-pattern-offset / 2);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    overflow: hidden;
}

    .c-page__header,
    .c-page__footer {
        padding: $spacing-unit;
        flex: 0 0 auto;
    }

    /**
     * 1. Place header above rest of content.
     */
    .c-page__header {
        position: relative;
        z-index: 4; /* [1] */
    }

    /**
     * 1. Prevent scrolling on page animation
     */
    .c-page__main {
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
    }
