/*------------------------------------*\
       #EQUALIZER
\*------------------------------------*/

.c-equalizer {
    height: 20px;
    width: 20px;
    position: relative;
    vertical-align: -2px;

    &.is-playing {
        .c-equalizer__bar {
            animation-play-state: running;
        }
    }
}

    .c-equalizer__bar {
        background: color('pink');
        width: 1px;
        animation: equalize 7s steps(25, end) 0s infinite;
        animation-play-state: paused;
        display: block;
        position: absolute;
        bottom: 0;

        &:nth-child(1) {
            animation-duration: 7.1s;
            left: 2px;
        }

        &:nth-child(2) {
            animation-duration: 7.2s;
            left: 6px;
        }

        &:nth-child(3) {
            animation-duration: 7.3s;
            left: 10px;
        }

        &:nth-child(4) {
            animation-duration: 7.4s;
            left: 14px;
        }

        &:nth-child(5) {
            animation-duration: 7.1s;
            left: 18px;
        }
    }

@keyframes equalize {
    0%, 36%, 24%, 32%, 44%, 64%, 68%, 88% {
        height: 18px;
    }

    12%, 20%, 28%, 52%, 56%, 60% {
        height: 13px;
    }

    16%, 40%, 48%, 72%, 76%, 80%, 100% {
        height: 8px;
    }
}
