/*------------------------------------*\
           #RADIO BUTTONS
\*------------------------------------*/

$radio-size: ms(4);
$radio-mark-size: ms(-1);

.c-radio {
    display: inline-block;
    position: relative;
    padding-left: $radio-size + $spacing-unit--tiny;
    cursor: pointer;

    &.is-disabled {
        cursor: default;
    }
}

    .c-radio__input {
        @include visually-hidden;

        &:hover,
        &:focus,
        &.is-focus {
            + .c-radio__mark:before {
                box-shadow: 0 0 0 ms(-1) color(rgba(#000, .02));
                background: color(rgba(#000, .02));
            }

            &:checked + .c-radio__mark:before {
                box-shadow: 0 0 0 ms(-1) rgba(color('radio-mark'), .2);
                background: rgba(color('radio-mark'), .2);
            }
        }

        &:checked + .c-radio__mark {
            &:before {
                border-color: color('radio-mark');
            }

            &:after {
                opacity: 1;
                transform: scale(1);
            }
        }

        &:disabled,
        &.is-disabled {
            + .c-radio__mark:before {
                border-color: rgba(#000, .2);
                box-shadow: none;
                background: none;
            }

            + .c-radio__mark:after {
                background: rgba(#000, .2);
            }
        }
    }

    .c-radio__mark {
        display: inline-block;
        vertical-align: middle;
        height: $radio-size;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 50%;
            border: 1px solid color('radio-border');
            width: $radio-size;
            height: $radio-size;
            transition: $base-transition;
        }

        &:after {
            content: '';
            position: absolute;
            top: ($radio-size - $radio-mark-size) / 2;
            left: ($radio-size - $radio-mark-size) / 2;
            display: block;
            border-radius: 50%;
            width: $radio-mark-size;
            height: $radio-mark-size;
            transition: $base-transition;
            background: color('radio-mark');
            transform: scale(0);
            opacity: 0;
        }
    }
