/*------------------------------------*\
    #HERO TEXT
\*------------------------------------*/

.c-hero-text {
    @include font-size(ms(1), ms(4));
    text-transform: uppercase;
    letter-spacing: .2em;

    > * {
        @include accelerate();
    }

}
