/*------------------------------------*\
           #PRODUCT BOX
\*------------------------------------*/

$bloop-size: 220px;
$bloop-size-small: 100px;

.c-product-box {
    display: block;
    text-align: center;
    position: relative;
    max-width: ms(20);
    margin: auto;

    &:hover {
        text-decoration: none;

        .c-product-box__img {
            transform: scale(.8);
            transition: .25s ease-in-out;
        }

        .c-product-box__title {
            @include visible;
            transform: translateX(-50%) translateY(-30%);
            transition: .5s ease-in-out;
        }

        .c-product-box__title--small {
            transform: translateX(-50%) translateY(0);
        }

        .c-product-box__hovered {
            @include sprite-anim('/images/bloop1.png', 29, 850ms);
        }
    }
}

    /**
     * 1. Prevent onmouseenter bubling - prevents duplicate sounds
     */
    .c-product-box__img {
        @include accelerate(transform);
        transition: .25s ease-in-out;
        pointer-events: none; /* [1] */
    }

    /**
     * 1. Prevent onmouseenter bubling - prevents duplicate sounds
     */
    .c-product-box__title {
        @include accelerate(transform);
        @include invisible;
        @include font-size(ms(3));
        position: absolute;
        left: 50%;
        width: auto;
        color: color('pink');
        font-family: $secondary-font-family;
        transition: .3s ease;
        text-align: center;
        white-space: nowrap;
        pointer-events: none; /* [1] */
        transform: translateX(-50%);
    }

    .c-product-box__title--small {
        @include font-size(ms(1));
    }

    /**
     * 1. Prevent onmouseenter bubling
     */
    .c-product-box__hovered {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: $bloop-size;
        height: $bloop-size;
        margin-left: -$bloop-size / 2;
        z-index: -1;
        pointer-events: none; /* [1] */
    }

    .c-product-box__hovered--small {
        width: $bloop-size-small;
        height: $bloop-size-small;
        margin-left: -$bloop-size-small / 2;
    }
