/*------------------------------------*\
       #NAV MOBILE
\*------------------------------------*/

.c-nav-mobile {
    background-color: #fff;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    li {
        padding: 0;
    }
}

    @for $i from 1 to 6 {
        .c-nav-mobile__item:nth-child(#{$i}) {
            animation-delay: 50ms + 100ms * $i;
        }
    }
