/*------------------------------------*\
       #HEADINGS
\*------------------------------------*/

.c-heading {
    font-family: $secondary-font-family;
}

.c-heading-underlined {
    border-bottom: 1px solid color('pink');
    display: inline-block;
    padding-bottom: $spacing-unit;
}
