/*------------------------------------*\
       #OPACITY WHITE BACKGROUND
\*------------------------------------*/

.c-opacity-white-background {
    position: static;
    background: color('opacity-white');
    background-clip: padding-box;
    border: $spacing-unit solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: all $base-duration;
    overflow: visible;
    box-shadow: 1px 24px 125px rgba(247, 205, 205, .55);

    @include media-query(large-and-up) {
        position: absolute;
        top: 0;
        bottom: 0;
        border: none;
    }
}

.c-opacity-white-background--visible-for-large-and-up {
    background-color: transparent;
    border: none;

    @include media-query(large-and-up) {
        background: color('opacity-white');
        border: $spacing-unit solid transparent;
    }
}

.c-opacity-white-background--static {
    position: static;
}

.c-opacity-white-background--right {
    right: 0;
}
