/*------------------------------------*\
           #INPUTS
\*------------------------------------*/

%input,
.c-input {
    border-color: color('input');
    border-width: 0 0 1px;
    color: color('input-text');
    font-family: $secondary-font-family;
    font-size: ms(1);
    min-height: $input-height;
    transition: $base-transition;
    background: none;
    width: 100%;

    &:focus,
    &.is-focus {
        border-color: color('input--hover');
        box-shadow: 0 1px 0 color('input--hover');
    }

    .has-error & {
        border-color: color('error');
        color: color('error');

        &:focus,
        &.is-focus {
            box-shadow: 0 1px 0 color('error');
        }
    }

    &:disabled,
    &.is-disabled {
        border-style: dotted;
        opacity: .75;
        font-weight: 300;
    }

    &::placeholder {
        color: color('input-placeholder');
        font-weight: 500;
    }
}
.select-custom {

    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;

    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        // border-top: .375em solid $select-border-color;
        pointer-events: none;
    }

    select {
        font-family: "proxima-nova", sans-serif;
        background-color: transparent;
        width: 100%; min-height: 40px; padding-top: 0; padding-bottom: 3px;
        color: #828282; font-weight: 500;
        border: none;
        border-bottom: 1px solid #3a3a3a;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &:focus {outline: none;}
    }
}

