/*------------------------------------*\
    #COLOR TRUMPS
\*------------------------------------*/

@each $name, $color in $brand-colors {
    .u-bg-#{$name} {
        background: $color !important;
    }
}
