/*------------------------------------*\
    #RESPONSIVE TRUMPS
\*------------------------------------*/

.u-visible-for-large-and-up {
    display: none !important;

    @include media-query(large-and-up) {
        display: block !important;
    }
}

.u-visible-for-large-and-down {
    display: block !important;

    @include media-query(large-and-up) {
        display: none !important;
    }
}
