/*------------------------------------*\
    #SHAME
\*------------------------------------*/

.u-pos-relative {
    position: relative !important;
}

.u-anim-fast {
    animation-duration: $base-duration / 2 !important;
}

.u-anim-very-fast {
    animation-duration: $base-duration / 4 !important;
}

.u-secondary-font-family {
    font-family: $secondary-font-family !important;
}

.u-transparent {
    opacity: 0 !important;
}

.u-line-height-1 {
    line-height: 1 !important;
}

.u-mva {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.u-align-middle-tweak {
    vertical-align: -4px !important;
}

.u-zindex-1 {
    z-index: 1 !important;
}

.u-max-width-85 {
    max-width: 85px !important;

    @include media-query(large-and-up) {
        max-width: 100% !important;
    }
}
