{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ubiquinone</h3>
    <p>
      Ubiquinone also known as coenzyme Q (CoQ10)) is a component of the electron
      transport chain and participates in aerobic cellular respiration in our cells.
      Studies showed that it has role in reducing UV damage, stimulating the
      collagen production, as well as antioxidant and anti-inflammatory effects.
      It seems that prolonged sun exposure lowers the presence of CoQ10 in the skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
