{% set navItems = {
  "cosmetics": "products.html",
  "our story": "our-story.html",
  "beauty advice": "beauty-advice.html",
  "faq": "faq.html",
  "contact": "contact.html"
} %}

<header class="c-page__header">
  <div class="u-visuallyhidden js-header" data-anim-in="fadeIn" data-anim-out="fadeOut">

    <div class="u-visible-for-large-and-down">
      <div class="o-justifize">
        <div class="o-justifize__box">
          <button class="o-btn c-hamburger u-mr- js-nav-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <nav class="c-nav-mobile u-anim-very-fast u-visuallyhidden js-nav" data-anim-in="fadeInLeft" data-anim-out="fadeOutLeft">
            <ul class="list-bare js-nav-items">
              {% for title, link in navItems %}
              <li class="c-nav-mobile__item u-transparent js-animated" data-anim="fadeInUp">
                <a class="c-nav-link c-nav-link--mobile {{ 'is-active' if title === activeNavItem }} u-pv" href="{{ link }}">{{ title | title }}</a>
              </li>
              {% endfor %}
            </ul>
            <button class="o-btn c-close js-nav-close">
              <span></span>
              <span></span>
            </button>
          </nav>
          {%include '00-atoms/logo.html' %}
        </div>
        <div class="o-justifize__box">
          <div class="u-pos-relative u-inline-block">
            {% include "01-molecules/molecule.lang.html" %}
            {% include "02-organisms/organism.dropdown-lang.html" %}
          </div>
          {% include "01-molecules/molecule.bag.html" %}
        </div>
      </div>
    </div>

    <div class="u-visible-for-large-and-up">
      <div class="o-justifize">
        <div class="o-justifize__box">
          {%include '00-atoms/logo.html' %}
          <nav class="u-inline-block u-align-middle u-ml">
            <ul class="list-inline js-nav-items">
              {% for title, link in navItems %}
              <li>
                <a class="c-nav-link {{ 'is-active' if title === activeNavItem }}" href="{{ link }}">{{ title | title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="o-justifize__box">
          <div class="u-pos-relative u-inline-block">
            {% include "01-molecules/molecule.lang.html" %}
            {% include "02-organisms/organism.dropdown-lang.html" %}
          </div>
          {% include "01-molecules/molecule.bag.html" %}
          <a class="o-btn c-equalizer is-playing js-bg-music" href="#">
            <span class="c-equalizer__bar"></span>
            <span class="c-equalizer__bar"></span>
            <span class="c-equalizer__bar"></span>
            <span class="c-equalizer__bar"></span>
            <span class="c-equalizer__bar"></span>
          </a>
        </div>
      </div>
    </div>

  </div>
</header>
