{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Jojoba oil</h3>
    <p>
      Jojoba oil is actually a liquid wax ester and not oil. It is a natural
      emollient with good
      spreadability and can be used to provide a protective coating on the skin,
      which soothes skin and unclogs hair follicles. This wax ester provides
      all day moisturisation – jojoba oil doesn’t evaporate like water based
      moisturizers do. High quality jojoba oil is rich in proteins, minerals and
      vitamin E. Jojoba oil is the most similar to human skin oil (sebum),
      it quickly absorbs into skin leaving no traces of oiliness so it is
      suitable even for oily or acne-prone skin. Jojoba leaves skin with a
      lustrous velvety bloom. READ MORE->>>It is theorized, but not yet proven,
      that because jojoba oil is so similar to human skin oil, it can “trick”
      the skin into thinking it has produced enough oil and thus balance oil production
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
