{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Castor oil</h3>
    <p>
      Castor oil is a vegetable oil obtained by pressing the
      plant seeds. It is used in cosmetics as an emollient.
      Lipstick is the most commonly used cosmetic product that contains castor oil.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
