<div class="o-wrapper o-wrapper--small">
  <h1 class="u-text-center u-mb+">Legal Terms</h1>
  <p class="u-mb+">
    <i>Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper eligendi, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea. Ius liber vivendo placerat cu.</i>
  </p>
  <h6 class="u-type--bold u-mb--">Do I need to register to order your products?</h6>
  <p>
    Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper <a href="#">eligendi</a>, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea.
  </p>
  <h6 class="u-type--bold u-type--uppercase u-mv+">Id doming sit amet ferri</h6>
  <h6 class="u-type--bold u-mb--">Do I need to register to order your products?</h6>
  <p class="u-mb+">
    Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper eligendi, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea.
  </p>
  <p class="u-mb--">
    Quidam saperet deterruisset:
  </p>
  <ul class="u-mb+">
    <li>Lorem ipsum dolor sit amet, ferri verear inermis ad eos</li>
    <li>Lorem ipsum dolor sit amet, ferri verear inermis ad eos</li>
    <li>Lorem ipsum dolor sit amet, ferri verear inermis ad eos</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper eligendi, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea.
  </p>
  <p>
    Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper eligendi, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea.
  </p>
  <p>
    Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper eligendi, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea.
  </p>
  <p>
    Lorem ipsum dolor sit amet, ferri verear inermis ad eos, no per mazim saepe.
    Eam at elit semper eligendi, id ubique mucius euismod sed. Ius te audiam
    albucius, an discere tibique indoctum sea.
  </p>
  <p class="u-mb--">
    Quidam saperet deterruisset:
  </p>
  <ul class="u-mb+">
    <li>Lorem ipsum dolor sit amet, ferri verear inermis ad eos</li>
    <li>Lorem ipsum dolor sit amet, ferri verear inermis ad eos</li>
    <li>Lorem ipsum dolor sit amet, ferri verear inermis ad eos</li>
  </ul>
</div>
