{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Urea</h3>
    <p>
      Urea is very effective ingredient for relieving dry skin. Urea in small
      amounts hydrates and soothes sensitive skin, normalizes the transepidermal
      water loss - it acts as the natural moisturiser. Therefore urea is used
      clinically for dermatological diseases such as eczema, psoriasis, atopic
      dermatitis, xerosis etc.
    </p>
    <p>
      Urea is an endogenous metabolite, known to enhance stratum corneum hydration.
      Yet, topical urea anecdotally also improves permeability barrier function,
      and it appears to exhibit antimicrobial activity. Hence, we hypothesized
      that urea is not merely a passive metabolite, but a small-molecule regulator
      of epidermal structure and function. In 21 human volunteers, topical urea
      improved barrier function in parallel with enhanced antimicrobial peptide
      (AMP; LL-37 and β-defensin-2) expression. Urea stimulates the expression
      of, and is transported into, keratinocytes by two urea transporters (UTs),
      UT-A1 and UT-A2, and by aquaporins 3, 7, and 9.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Urea</h3>
    <p>
      Inhibitors of these UTs
      block the downstream biological effects of urea, which include increased
      mRNA and protein levels of (i) transglutaminase-1, involucrin, loricrin,
      and filaggrin, (ii) epidermal lipid synthetic enzymes, and (iii)
      cathelicidin/LL-37 and β-defensin-2. Finally, we explored the potential
      clinical utility of urea, showing that topical urea applications normalized
      both barrier function and AMP expression in a murine model of atopic
      dermatitis. Together, these results show that urea is a small-molecule
      regulator of epidermal permeability barrier function and AMP expression
      after transporter uptake, followed by gene regulatory activity in normal
      epidermis, with potential therapeutic applications in diseased skin.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Urea</h3>
    <p>
      Abbreviations: AD, atopic dermatitis; AMP, antimicrobial peptide; AQP,
      aquaporin; NHK, normal human keratinocytes; Ox, oxazolone; SPT, serine
      palmitoyl transferase; TEWL, transepidermal water loss; TG-1,
      transglutaminase 1; UT, urea transporter
      DJournal of Investigative Dermatology (2012) 132, 1561–1572;Urea Uptake
      Enhances Barrier Function and Antimicrobial  Susanne Grether-Beck, Ingo
      Felsner, Heidi Brenden, Zippora Kohne, Marc Majora, Alessandra Marini1,
      Thomas Jaenicke1, Marina Rodriguez-Martin, Carles Trullas, Melanie Hupe,
      Peter M Elias and Jean Krutmann
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
