{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Squalane</h3>
    <p>
      Squalane is an extract of shark liver oil. It is found in small quantities
      in many vegetable oils, and in larger amounts in certain fish oils.
      Interest in its medical and cosmeto-dermatological significance was
      intensified when squalane was found in human sebaceous secretions, as a
      precursor of cholesterol, and when its possible anti-carcinogenic effect was described.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
