{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Azelaic acid</h3>
    <p>
      Azelaic acid is naturally present in the skin and is also found in
      other sources, including wheat, rye and barley. It is effective in
      treating a number of skin conditions, such as acne, inflammation and
      hyperpigmentation. It has also antioxidant activity. Clinical studies
      indicate that the acid has the ability to lighten the skin. Scientists
      believe this occurs because the ingredient interferes with the production
      of melanin. This skin pigment is responsible for giving the tissue its
      natural colour and when over-produced, is responsible for discoloration.
      Azelaic acid's ability to reduce the amount of melanin in a specific
      region of skin tissue makes it popular in products meant to treat melasma,
      age spots and freckles. In higher percentages it is registered as a drug
      for acne and it is available only with prescriptions.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
