{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Alpha lipoic acid</h3>
    <p>
      Alpha lipoic acid (tioctic acid) is an antioxidant found in every cell in
      the body as well as in some foods. It’s sometimes referred to as the
      universal antioxidant because it regenerates or recycles other antioxidants
      like vitamin C, vitamin E, coenzyme Q10 and glutathione when they lose
      their ability to act as antioxidants. Not only is it a potent antioxidant,
      it has the power to fight inflammation. Inflammation can damage skin cells
      and cells that produce collagen and elastin that keep skin looking youthful.
    </p>
    <p>
      n a randomized, placebo-controlled study published in the British Journal
      of Dermatology, 33 women used a 5% alpha lipoic acid cream on one side of
      their face and a placebo cream on the other twice a day for 3 months. At
      the end of the 12-week period, there was a significant improvement in skin
      roughness and other signs of skin aging on the side treated with alpha
      lipoic acid compared to the side treated with a placebo. In addition,
      research in mice shows that alpha lipoic acid decreases skin redness
      after exposure to sunlight, suggesting it protects the skin against damage from sun exposure.
    </p>
    <p>
      Using products that contain 1 to 4% alpha lipoic acid regularly can
      improve rough, sun-damage skin and reduce the appearance of fine lines
      and wrinkles. It has the advantage of being less irritating to sensitive
      skin than products containing glycolic acid and prescription-strength retinoids.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
