{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Raspberry seed oil</h3>
    <p>
      Raspberry seed oil is cold-pressed and obtained from the seeds, and it may
      come in refined or unrefined forms. It contains exceptionally high levels
      of alpha and gamma tocopherols (forms of vitamin E), pytosterols and omega-3
      and omega-6 fatty acids. The oil offers moisturizing, occlusive,
      anti-inflammatory and antioxidant benefits (due to content of ellegic acid)
      for skin. Phytosterols also help to repair skin damaged by environmental
      factors including sun damage. Raspberry seed oil offers anti-aging benefits
      of improving skin elasticity, suppleness and flexibility, while softening
      and smoothing the look of wrinkles and fine lines.
    </p>
    <p>
      Because of its composition, raspberry seed oil possesses superior
      anti-inflammatory qualities, and has reported sunscreen qualities,
      according to the Oomah study (in 2000), which makes it a nice addition
      to face, lip and sunscreen products. Its reported sunscreen-like
      characteristics need to be further studied and concluded before relying upon.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
