<div class="o-wrapper">
  <h2 class="c-heading gamma u-text-center u-type--uppercase u-mb+">Explore products</h2>
  <div class="layout layout--huge layout--bottom layout--center">
    <div class="layout__item u-1/3-extralarge-and-up u-1/2-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="200">
      <a class="c-product-box js-bloop-hover" href="corrective-cell-definer.html">
        <img class="c-product-box__img" src="./images/product_1.png" alt="" />
        <div class="c-product-box__title">Corrective Cell Definer</div>
        <div class="c-product-box__hovered"></div>
      </a>
    </div>
    <div class="layout__item u-1/3-extralarge-and-up u-1/2-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="350">
      <a class="c-product-box js-bloop-hover" href="imperial-youth-serum.html">
        <img class="c-product-box__img" src="./images/product_2.png" alt="" />
        <div class="c-product-box__title">Imperial Youth Serum</div>
        <div class="c-product-box__hovered"></div>
      </a>
    </div>
    <div class="layout__item u-1/3-extralarge-and-up u-1/2-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="500">
      <a class="c-product-box js-bloop-hover" href="expert-hydracharge-day-cream.html">
        <img class="c-product-box__img" src="./images/product_3.png" alt="" />
        <div class="c-product-box__title">Expert Hydracharge <br /> Day Cream</div>
        <div class="c-product-box__hovered"></div>
      </a>
    </div>
    <div class="layout__item u-1/3-extralarge-and-up u-1/2-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="650">
      <a class="c-product-box js-bloop-hover" href="supreme-eye-elixir.html">
        <img class="c-product-box__img" src="./images/product_4.png" alt="" />
        <div class="c-product-box__title">Supreme Eye Elixir</div>
        <div class="c-product-box__hovered"></div>
      </a>
    </div>
    <div class="layout__item u-1/3-extralarge-and-up u-1/2-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="700">
      <a class="c-product-box js-bloop-hover" href="ultimative-rejuvenating-complex-night-cream.html">
        <img class="c-product-box__img" src="./images/product_5.png" alt="" />
        <div class="c-product-box__title">Ultimate Rejuvenating <br /> Night Cream</div>
        <div class="c-product-box__hovered"></div>
      </a>
    </div>
    <div class="layout__item u-1/3-extralarge-and-up u-1/2-medium-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="850">
      <a class="c-product-box js-bloop-hover" href="royal-renewal-serum.html">
        <img class="c-product-box__img" src="./images/product_6.png" alt="" />
        <div class="c-product-box__title">Royal Renewal Serum</div>
        <div class="c-product-box__hovered"></div>
      </a>
    </div>
  </div>
</div>
