{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ethyl ascorbic acid</h3>
    <p>
      Ethyl Ascorbic Acid in Royal Renewal Serum shows the greatest bio-similarity
      to Ascorbic Acid when compared to other derivatives of vitamin C.
    </p>

    <p>
      Topical vitamin C is a popular vitamin being added to skin care products.
      Currently, there are many advertising claims of topical formulation
      containing antioxidants that will protect against and reverse aging.
      However, the truth is that many of the available formulations contain
      very low concentrations of antioxidants that are not well absorbed by the
      skin. Vitamin C on the other hand, is an antioxidant, which when manufactured
      into a stable topical formulation, is proven to be effective in protecting
      against photo-aging of the skin. Topical vitamin C has shown to
      protect the skin from UV damage caused by prolonged sun exposure by reducing
      the amount of free radical formation and/or sunburn cells. Exposure to UV
      light has also shown to decrease the naturally occurring vitamin C levels
      in the skin, thus topical application of vitamin C restores these
      photoprotectant levels. Other studies also suggest that vitamin C plays
      a part in the collagen biosynthetic pathway by activating collagen
      metabolism and dermal synthesis of elastic fibres.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ethyl ascorbic acid</h3>
    <p>
      Studies have shown that benefits of using topical vitamin C are improvement
      of skin appearance by reducing fine lines and wrinkles, wound healing as
      it aids in stabilising collagen, protection against or lessening the
      severity of sunburns.
    </p>

    <p>
      To understand how topical vitamin C works an understanding of the
      relationship between free radicals and antioxidants in the body is
      necessary. Free radicals are molecules created as a by-product of
      oxygen metabolism as our bodies create energy at the cellular level.
      Basically, the oxygen molecule loses one electron, turning it into a
      free radical. Free radical formation can also be augmented by external
      factors such as pollutants, sunlight, radiation, emotional stress, smoking,
      excessive alcohol, infection, and some drugs.
    </p>

    <p>
      Free radicals float around the body looking for electrons to rebalance
      themselves. If necessary, free radicals steal electrons from normal
      healthy cells, this being the cause of various conditions ranging from
      accelerated ageing to deadly cancers.
      Antioxidants protect healthy cells by donating an electron to the free
      radicals. The body produces antioxidants naturally and we can also get them
      from the foods we eat and from supplements. Source http://www.dermnetnz.org/
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ethyl ascorbic acid</h3>
    <p>
      Ascorbic acid is a water-soluble vitamin and is extensively used as such
      or in the form of a derivative as an ingredient of anti-aging cosmetic
      products (e.g., sodium ascorbate, ascorbyl palmitate). Although these
      preparations are chemically stable, they lack the pharmacological
      activity of ascorbic acid.
      Vitamin C as an antioxidant, protects the skin by neutralizing reactive
      oxygen species (ROS) generated on exposure to sunlight. In biological systems,
      it reduces both oxygen- and nitrogen-based free radicals and thus delays
      the aging process. It is also medically recognized that sagging skin and
      other signs of degenerative skin conditions, such as wrinkles and age spots,
      are caused primarily by oxyradical damage. Sheraz M A, Ahmed S, Ahmad I,
      Shaikh R H, Vaid F, Iqbal K. Formulation and stability of ascorbic acid in
      topical preparations. Syst Rev Pharm 2011;2:86-90
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ethyl ascorbic acid</h3>
    <p>
      However, including pure ascorbic acid in cosmetical products is complicated.
      This molecule is relatively unstable – on exposure to light, it is oxidized,
      changes color to yellow, and its antioxidative capabilities are reduced [1].
      Furthermore, the absorption of pure vitamin C through skin is relatively poor.
      It is best absorbed at pH below 3.5, which is much lower than skin pH and
      rather unsuitable for cosmetical applications.
    </p>

    <p>
      Key benefits of Ethyl Ascorbic Acid in skin care:
      -Stimulate collagen production [5] [6]
      -Lightening & brightening [5] [7] [9] [9]
      -Treat hyperpigmentation [5] [7] [8] [9]
      -Sun damage protection [8] [9]
    </p>

    <p>
      Activity of Ethy Ascorbic Acid has been proven in reducing the oxidation
      of lipids. Lipids are water-insoluble molecules, such as fats or cell
      membrane components, and they can be readily damaged by oxidation or
      peroxidation. Ethylascorbic acid was shown to reduce this process by up to 93 % [6].
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ethyl ascorbic acid</h3>
    <p>
      Furthermore, like vitamin C, ethylascorbic acid exhibits a protective effect
      against UV radiation. It inhibits melanin synthesis, occurring after
      UV exposure, and thus prevents darkening of the skin [7]. Due to this
      property, it is used in several cosmetics products as a skin whitener
      or sunscreen ingredient [8], [9].
    </p>

    <p>
      [1] P. S. Telang, “Vitamin C in dermatology,” Indian Dermatol. Online J.,
      vol. 4, no. 2, pp. 143–146, 2013
      [5] Beom-Zoo, Lee, “ENB-VCE: 3-O-ethylascorbyl ether.”
      [6] Y. Nihro, S. Sogawa, T. Sudo, T. Miki, H. Matsumoto, and T. Satoh,
      “3-O-alkylascorbic acids as free radical quenchers. II. Inhibitory effects
      on some lipid peroxidation models,” Chem. Pharm. Bull. (Tokyo), vol. 39,
      no. 7, pp. 1731–1735, Jul. 1991 [7] K. Maeda, Inoue, Y., Nishikawa, H.,
      Miki, S., Urushibata, O., Miki, T., and Hatao, M., “Involvement of melanin
      monomers in the skin persistent UVA-pigmentation and effectiveness of
      vitamin C ethyl on UVA-pigmentation,” Nippon Koshohin Kagakkaishi, vol. 27,
      no. 4, pp. 257–268, 2003. [8] Yasunori, Niino and Hiroshi, Tanaka, “Cosmetic,” 11-199425.
      [9] Toshie, Hakano and Takashi, Iida, “External composition for skin containing
      3-O-ethylascorbic acid,” 2014-009172.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
