<div class="layout layout--middle layout--flush">
  <div class="layout__item
    u-1/3-medium-and-up u-1/2-large-and-up
    u-text-center">
    <div class="js-animated u-transparent" data-anim="fadeInLeft">
      <img class="c-product-image" src="./images/product-large.png" alt="product-large">
    </div>
  </div>
  <div class="layout__item
    u-2/3-medium-and-up u-1/2-large-and-up
    medium-and-up-pr+ large-and-up-pr++">
    <div class="o-wrapper o-wrapper--left o-wrapper--small u-pv0">
      <div class="js-animated u-transparent" data-anim="fadeInUp">
        <h1 class="u-type--capitalize u-pb-- u-mt">Corrective cell definer</h1>
        <p class="u-type--capitalize u-secondary-font-family">Facial Exfoliator</p>
        {% set carouselPagination %}
        <div class="u-mb u-mt+">
          <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
          <div class="c-horizontal-line u-inline-block u-align-middle"></div>
        </div>
        {% endset %}
        {% set carouselItems %}
        <div class="swiper-slide">
          <p>
            Corrective Cell Definer is a potent mixture of AHA (alpha
            hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
            base with antioxidants and skin repairing ingredients
            which will reveal a radiant, silky-smooth complexion.
          </p>
          <p>
            Exfoliated skin is more sensitive to sun damage so make
            sure you always wear sunscreen and avoid prolonged sun
            exposure.
          </p>
        </div>
        <div class="swiper-slide">
          <p>
            Corrective Cell Definer is a potent mixture of AHA (alpha
            hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
            base with antioxidants and skin repairing ingredients
            which will reveal a radiant, silky-smooth complexion.
          </p>
        </div>
        <div class="swiper-slide">
          <p>
            Corrective Cell Definer is a potent mixture of AHA (alpha
            hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
            base with antioxidants and skin repairing ingredients
            which will reveal a radiant, silky-smooth complexion.
          </p>
        </div>
        <div class="swiper-slide">
          <p>
            Corrective Cell Definer is a potent mixture of AHA (alpha
            hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
            base with antioxidants and skin repairing ingredients
            which will reveal a radiant, silky-smooth complexion.
          </p>
        </div>
        <div class="swiper-slide">
          <p>
            Corrective Cell Definer is a potent mixture of AHA (alpha
            hydroxyl acid) and BHA (beta hydroxyl acid) acid, in acidic
            base with antioxidants and skin repairing ingredients
            which will reveal a radiant, silky-smooth complexion.
          </p>
        </div>
        {% endset %}
        {% set carouselNavigation %}
        <div class="o-justifize">
          <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
            <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
            <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
          </button>
          <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
            <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
            <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
          </button>
        </div>
        {% endset %}
        {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
      </div>
    </div>
  </div>
</div>
