{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Olive fruit oil</h3>
    <p>
      Olive fruit oil contains oleic acid, phenolic constituents,
      and squalene alpha-tocopherol, phenol compounds, carotenoids,
      squalene, phytosterols, and chlorophyll. It has potent antioxidant
      properties while the studies demonstrated after UVB exposure can
      effectively reduce UVB-induced damage, possibly via its antioxidant
      effects in reducing DNA damage by reactive oxygen species.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
