{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Dexpanthenol</h3>
    <p>
      Dexpanthenol acts like a moisturiser, which improves stratum corneum
      (one of skin’s layers) hydration, reduces transepidermal water loss
      and boosts epithelisation in wound healing. Appropriate vehicle (W/O emulsion)
      as is in Royal Renewal Serum is assuring adequate skin penetration of
      dexpanthenol. Dexpanthenol activates fibroblast proliferation, which is
      relevant in skin healing process, it accelerates skin epithelisation,
      and has strong anti-inflammatory properties against ultraviolet-induced
      skin damage. In conclusion dexpanthenol promotes skin regeneration.
    </p>
    <p>
      Dexpanthenol has been shown to have an anti-inflammatory effect on
      experimental ultraviolet-induced erythema. Beneficial effects of dexpanthenol
      have been observed in patients who have undergone skin transplantation or
      scar treatment, or therapy for burn injuries and different dermatoses.
      The stimulation of epithelization, granulation and mitigation of itching
      were the most prominent effects of formulations containing dexpanthenol.
      In double-blind placebo-controlled clinical trials, dexpanthenol was
      evaluated for its efficacy in improving wound healing.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Dexpanthenol</h3>
    <p>
      Epidermal wounds
      treated with dexpanthenol emulsion showed a reduction in erythema, and more
      elastic and solid tissue regeneration. Monitoring of transepidermal water
      loss showed a significant acceleration of epidermal regeneration as a
      result of dexpanthenol therapy, as compared with the vehicle. In an
      irritation model, pretreatment with dexpanthenol cream resulted in
      significantly less damage to the stratum corneum barrier, compared with
      no pretreatment. Adjuvant skin care with dexpanthenol considerably improved
      the symptoms of skin irritation, such as dryness of the skin, roughness,
      scaling, pruritus, erythema, erosion/fissures, over 3 to 4 weeks. Usually,
      the topical administration of dexpanthenol preparations is well tolerated,
      with minimal risk of skin irritancy or sensitization.
      Topical use of dexpanthenol in skin disorders. Ebner F1, Heller A, Rippke F,
      Tausch I. Am J Clin Dermatol. 2002;3(6):427-33.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
