{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Hazel seed oil</h3>
    <p>
      Hazel seed oil is obtained from edible hazelnuts. When used in cosmetics
      and personal care products function as skin-conditioning agents - emollient
      and skin-conditioning agents. It is extremely hydrating and high in vitamin E.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
