{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ceramides</h3>
    <p>
      Ceramides are the major lipid constituents in the intercellular spaces in
      the skin layer  stratum, corneum. They serve as part of the "glue" that
      holds surface skin cells together.
      It is well known that ceramides play an essential role in structuring and
      maintaining the water permeability barrier function of the skin.
      Formulations containing lipids identical to those in skin and, in particular,
      some ceramide supplementation could improve disturbed skin conditions.
      Dry, irritated, and sensitive skin often lacks ceramides. As a result,
      skin's protective barrier is compromised and becomes more susceptible
      to environmental factors.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

