{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Astaxanthin</h3>
    <p>
      Astaxanthin is a member of the xanthophyll class of carotenoids and
      closely related to beta-carotene, lutein, and zeaxanthin. In a study
      conducted in 1998, investigators found that beta-carotene, lutein, and
      astaxanthin exhibited protective activity against UVA-induced oxidative stress
      in cultured rat kidney fibroblasts. Of the three carotenoids,
      astaxanthin demonstrated the most potent protective capacity.
      In fact, this xanthophyllic carotenoid has demonstrated up to
      several-fold stronger antioxidant activity than vitamin E and beta-carotene.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
