{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Black currant seed oil</h3>
    <p>
      Black currant seed oil contains an omega-6 fatty acid called gamma linoleic acid (GLA)
      GLA is considered to promote healthy skin growth and is an anti-inflammatory agent.
      Black currants are also known for their anti-oxidative effects and high
      content of vitamin C. The C and E vitamins in the berry have an anti-oxidant
      action, allowing it to combat free radicals, cell degeneration processes,
      and inflammatory conditions. Oil has vasculo-protective effects as it
      increases capillary strength (reducing bruising), and as a phlebotonic,
      promotes microcirculation in the skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
