{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Ferrulic acid</h3>
    <p>
      Ferrulic acid is a plant isolated phenolic derivative.
      Interesting property of ferulic acid is its ability to function as an
      antioxidant with vitamin C and vitamin E. Researches demonstrated the
      clinical benefits and confirmed the reduction of wrinkles and statistically
      significant improvement in skin texture after six months of use.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
