{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Argan oil</h3>
    <p>
      Argan Oil is derived from the fruit of the Argania spinosa tree.
      Antioxidants in argan oil benefit skin health by preventing oxidative damage
      from environmental pollution and UV radiation. Tocopherols and fatty
      acids such as Linoleic acid present in the oil, fight free radicals and
      improve elasticity and cell strength of facial skin. Apart from hydrating
      your skin, it can also reduce itching and flakiness. Dry skin doesn’t
      produce enough sebum and therefore cannot keep the skin moist. Argan oil
      works to balance the sebum production of the skin. It can help address
      skin problems, such as eczema, psoriasis, dermatitis, and rosacea that
      are commonly associated with sensitive skin type. Combination skin may
      have symptom of a condition known as Seborrhea where some parts of the face,
      like nose and forehead are oily while the other parts are dry.
      Argan oil benefits skin by balancing the oil production and evening
      out the differences between the dry and oily areas of face.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
