{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Grape seed extract</h3>
    <p>
      Grape seed extract contains proanthocyanidins in grape seeds (Vitis vinifera)
      which have been shown to have some biological effects, including prevention
      of photocarcinogenesis. More recently published, in vitro and in vivo
      studies have identified proanthocyanidins — a group of polyphenolic
      bioflavonoids as being responsible for its high anti-tumour-promoting
      activity because of their strong antioxidant effect. The mechanism of
      action is not entirely understood, but it appears that the photo- protective
      effects of grape seed proanthocyanidins are mediated, at least, through
      protection of the endogenous antioxidant defence system and prevention
      of photo-damage of macromolecules, lipids, proteins and DNA.
    </p>
    <p>
      Some studies have demonstrated that proanthocyanidins exert a significantly
      stronger oxygen free radical scavenging effect than vitamins C and E.
      When topically applied, proanthocyanidins have demonstrated substantial
      photoprotective effects. As an example, when a gel formation containing
      grapes was topically applied to healthy human volunteers, it afforded
      significant in vivo protection against UVB light-induced skin erythema.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
