{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Aloe vera leaf juice</h3>
    <p>
      Aloe Vera Leaf juice is gel obtained from the cells in the centre of the leaf.
      Aloe gel may cause changes in the skin that might help diseases like psoriasis
      and it seems to be able to speed wound healing by improving blood circulation
      through the area and preventing cell death around a wound. It also appears
      that aloe gel has properties that are harmful to certain types of bacteria and fungi.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
