{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">L-carnosine</h3>
    <p>
      L-carnosine (or carnosine) is a protein molecule commonly found in the brain
      and muscle tissues of humans and animals. L-carnosine prevents glycation,
      a random process that occurs when a protein molecule bonds with a sugar
      molecule without the necessary enzyme to manage its action, resulting in
      impaired body functions. In this aspect, it is an antioxidant that protects
      the human organs from cell damage caused by internal and external factors.
      Wrinkles and sagging skin are caused by the accumulation of damaged
      proteins that cross-link in the skin. Carnosine protects protein from
      excessive damage, leading to the preservation of connective tissues that
      gives a person firm, youthful skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
