{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Plum seed oil</h3>
    <p>
      Plum seed oil is obtained from the dried kernel of the plant.
      The oil has been traditionally used in some parts of France and
      Italy to lubricate the skin. It's an oleic oil with high emollient
      and moisturizing properties. Oil is highly resistant to oxidation due
      to the presence of γ–tocopherol in high percentage. It is rich in antioxidants,
      unsaturated fatty acids and Vitamin E. The flavor of Plum Kernel
      Oil closely resembles that of Marzipan.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
