{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Nicotinamide</h3>
    <p>
      Nicotinamide is a water-soluble component of the vitamin B complex group.
      Naturally present in small quantities in yeast, lean meats, fish, nuts and legumes.
    </p>
    <p>
      Nicotinamide serves as a precursor of nicotinamide adenine dinucleotide
      (NAD) and nicotinamide adenine dinucleotide phosphate (NADP), which are
      co-enzymes (facilitators of enzymatic reactions) essential for numerous
      metabolic pathways. These co-enzymes play a key role in the metabolism of
      glucose, cellular energy production, and synthesis of lipids. The levels
      of NADH / NADPH (the reduced forms of NAD and NADP) decrease with age,
      and topical nicotinamide appears to reverse the decline.
    </p>
    <p>
      In multiple clinical studies, topical nicotinamide improved fine lines and
      wrinkles, hyper-pigmented spots, red blotchiness, and skin sallowness
      (yellowing) as well as elasticity. One study showed nicotinamide to
      increase the skin's production of ceramides, which are natural emollients
      and skin protectants, thus improving skin hydration.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Nicotinamide</h3>
    <p>
      A double-blind, placebo-controlled, split-face, left-right, randomised
      12-week study in 50 women evaluated the effects of 5% topical nicotinamide
      on various signs of skin aging. The researchers reported topical nicotinamide
      resulted in significant improvement in fine lines/wrinkles, pigmentation,
      texture and red blotchiness. Another study of 30 healthy Japanese females
      reported improvement of eyelid wrinkles after 8 weeks of application of a
      cosmetic containing 4% nicotinamide. It is well tolerated and often can be
      used by those who cannot tolerate topical retinoids or fruit acids.
    </p>
    <p>
      In conclusion, benefits from nicotinamide for skin are multiple; it has been
      reported to have anti-inflammatory properties, effectively treat acne by
      its anti-inflammatory action and reducing sebum, improve skin barrier function
      through decreasing water loss through the epidermis (the outer skin layer)
      thus increasing skin hydration, improve the complexion, by improving the
      pigmentation, blotchiness and redness of ageing skin and possibly reduce
      the risk of skin cancer.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Nicotinamide</h3>
    <p>
      Sebum is responsible for facial shine and contributes to non-inflamed
      comedones and inflammatory acne lesions.
      Results of a well-controlled clinical trial in Caucasian and Japanese women
      have shown that application of 2% nicotinamide moisturiser to the face for
      4-6 weeks reduces sebum production with significant differences in facial
      shine and oiliness.
    </p>
    <p>
      Ultraviolet radiation (UVR) is a major risk factor for skin cancer development.
      The mechanisms by which UVR leads to cancer are complex including direct
      damage to DNA and effects on the immune system. Nicotinamide has been shown
      to enhance the repair of direct and oxidative DNA damage in human
      keratinocytes and in human skin. It has potential to prevent UV-induced
      immune suppression. This was shown in a study of volunteers with a
      positive Mantoux test (positive tuberculin sensitivity test).
      The Mantoux reaction can be suppressed by exposure to UVR.
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Nicotinamide</h3>
    <p>
      Nicotinamide reduced this immune suppression when it was applied either
      before or after exposure to UVR (simulating normal sunlight exposure).
      In a randomised controlled clinical trial in 50 patients, 1% nicotinamide gel
      applied twice daily to the head, forearms and hands for 6 months reduced the mean
      number of precancerous actinic keratoses by 28%. Another study has shown that oral
      nicotinamide also reduces the numbers of actinic keratoses compared to placebo.
      A reduction in skin cancers has also been observed in high-risk sun-damaged patients
      treated with nicotinamide.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
