{% set carouselItems %}
<div class="swiper-slide">
  <h3 class="u-type--capitalize u-type--normal u-mb">Tocopheryl Acetate</h3>
  <p>
    Salicylic acid is beta hydroxyl acids (BHA) and works also by exfoliating the skin,
    preventing pores from clogging up, and allowing room for new cell growth. It is also
    well documented that salicylic acid can improve skin thickness, barrier functions,
    and collagen production. It is considered especially effective because of its ability
    to penetrate the follicle, clearing the pores of debris at a deeper level.
    It has also antimicrobial properties.
  </p>
  <p>
    Salicylic acid is used to help clear andpreventpimples and skin blemishes in
    people who have acne.Topical salicylic acid is also used to treat skin conditions
    that involve scaling orovergrowth of skin cells such as psoriasis (a skin disease
    in which red,scaly patches form on some areas of the body), ichthyoses (inborn
    conditions that cause skin dryness and scaling), dandruff, corns,calluses,
    and warts on the hands or feet. Topical salicylic acidshould not be used to
    treat genital warts, warts on the face, and warts with hair growing from them,
    warts in the nose or mouth, moles,or birthmarks.
  </p>
</div>
<div class="swiper-slide">
  <h3 class="u-type--capitalize u-type--normal u-mb">Salycilic acid</h3>
  <p>
    Salicylic acid is beta hydroxyl acids (BHA) and works also by exfoliating the skin,
    preventing pores from clogging up, and allowing room for new cell growth. It is also
    well documented that salicylic acid can improve skin thickness, barrier functions,
    and collagen production. It is considered especially effective because of its ability
    to penetrate the follicle, clearing the pores of debris at a deeper level.
    It has also antimicrobial properties.
  </p>
  <p>
    Salicylic acid is used to help clear andpreventpimples and skin blemishes in
    people who have acne.Topical salicylic acid is also used to treat skin conditions
    that involve scaling orovergrowth of skin cells such as psoriasis (a skin disease
    in which red,scaly patches form on some areas of the body), ichthyoses (inborn
    conditions that cause skin dryness and scaling), dandruff, corns,calluses,
    and warts on the hands or feet. Topical salicylic acidshould not be used to
    treat genital warts, warts on the face, and warts with hair growing from them,
    warts in the nose or mouth, moles,or birthmarks.
  </p>
</div>
<div class="swiper-slide">
  <h3 class="u-type--capitalize u-type--normal u-mb">Salycilic acid</h3>
  <p>
    Salicylic acid is beta hydroxyl acids (BHA) and works also by exfoliating the skin,
    preventing pores from clogging up, and allowing room for new cell growth. It is also
    well documented that salicylic acid can improve skin thickness, barrier functions,
    and collagen production. It is considered especially effective because of its ability
    to penetrate the follicle, clearing the pores of debris at a deeper level.
    It has also antimicrobial properties.
  </p>
  <p>
    Salicylic acid is used to help clear andpreventpimples and skin blemishes in
    people who have acne.Topical salicylic acid is also used to treat skin conditions
    that involve scaling orovergrowth of skin cells such as psoriasis (a skin disease
    in which red,scaly patches form on some areas of the body), ichthyoses (inborn
    conditions that cause skin dryness and scaling), dandruff, corns,calluses,
    and warts on the hands or feet. Topical salicylic acidshould not be used to
    treat genital warts, warts on the face, and warts with hair growing from them,
    warts in the nose or mouth, moles,or birthmarks.
  </p>
</div>
{% endset %}

{% set carouselNavigation %}
<div class="u-pt">
  <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
  <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
</div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
