{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Blackberry seed oil</h3>
    <p>
      Blackberry seed oil contains ample amounts of antioxidant activity
      including vitamin E, tocopherols, tocotrienols and a variety of carotenoids,
      both lutein and zeaxanthin. Since it is naturally rich in vitamin C,
      it can help combat wrinkles. It helps to nourish, soften and regenerate
      the skin while minimizing fine lines and wrinkles and eradicating the
      spots and other skin blemishes. Blackberry seed oil’s unique combination
      of antioxidants and essential fatty acids makes it ideal for every skin type.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
