{% set carouselItems %}
<div class="swiper-slide">
  <div class="u-inline-block u-mr">
    {{ macro.ingredient("allantoin", "#allantoin") }}
    {{ macro.ingredient("blackbery seed oil", "#blackberry-seed-oil") }}
    {{ macro.ingredient("lactic acid", "#lactic-acid") }}
  </div>
  <div class="u-inline-block">
    {{ macro.ingredient("red alga gel", "#red-alga-gel") }}
    {{ macro.ingredient("sunflower seed oil", "#sunflower-seed-oil") }}
    {{ macro.ingredient("squalane", "#squalane") }}
  </div>
</div>
<div class="swiper-slide">
  <div class="u-inline-block u-mr">
    {{ macro.ingredient("allantoin", "#allantoin") }}
    {{ macro.ingredient("blackbery seed oil", "#blackberry-seed-oil") }}
    {{ macro.ingredient("lactic acid", "#lactic-acid") }}
  </div>
  <div class="u-inline-block">
    {{ macro.ingredient("red alga gel", "#red-alga-gel") }}
    {{ macro.ingredient("sunflower seed oil", "#sunflower-seed-oil") }}
    {{ macro.ingredient("squalane", "#squalane") }}
  </div>
</div>
<div class="swiper-slide">
  <div class="u-inline-block u-mr">
    {{ macro.ingredient("allantoin", "#allantoin") }}
    {{ macro.ingredient("blackbery seed oil", "#blackberry-seed-oil") }}
    {{ macro.ingredient("lactic acid", "#lactic-acid") }}
  </div>
  <div class="u-inline-block">
    {{ macro.ingredient("red alga gel", "#red-alga-gel") }}
    {{ macro.ingredient("sunflower seed oil", "#sunflower-seed-oil") }}
    {{ macro.ingredient("squalane", "#squalane") }}
  </div>
</div>
{% endset %}

{% set carouselNavigation %}
<div class="u-pt">
  <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
  <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
</div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
