{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Lecithin</h3>
    <p>
      Lecithin is a fat that is essential in the cells of the body. It can be
      found in many foods, including soybeans and egg yolks. Lecithin acts as
      an emulsifier for the product but it also helps to hydrate, replenish
      and repair the skin due to its essential fatty acid content
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
