<div class="layout layout--middle layout--flush">
  <div class="layout__item u-1/2-large-and-up u-text-center">
    <div class="js-animated u-transparent" data-anim="fadeIn">
      <img class="c-product-image" src="./images/product-large.png" alt="product-large">
    </div>
  </div>
  <div class="layout__item u-1/2-large-and-up">
    <div class="medium-and-up-pr+ large-and-up-pr++ u-pl large-and-up-pl+ u-pv
      c-opacity-white-background
      c-opacity-white-background--visible-for-large-and-up
      c-ingredients-section
      js-animated u-transparent
      js-ingredients" data-anim="fadeInRight">
      <h1 class="u-type--capitalize medium-and-up-mt++ u-mb-">Corrective Cell Definer</h1>
      <p class="u-type--capitalize u-secondary-font-family u-mb+">Mostly Used Ingredients</p>
      <div class="u-mva u-pos-relative large-and-up-pv++ large-and-up-mr+">
        <div class="c-canvas c-canvas--product u-visible-for-large-and-up">
          <canvas class="js-ingredients-canvas"></canvas>
        </div>
        <ul class="c-ingredients-list">
          <li class="c-ingredients-list__item">
            {{ macro.drop("#tocopheryl-acetate") }}
            <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Tocopheryl acetate</span>
          </li>
          <li class="c-ingredients-list__item">
            {{ macro.drop("#sodium-pica") }}
            <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">Sodium pca</span>
          </li>
          <li class="c-ingredients-list__item">
            {% include "../00-atoms/atom.drop.html" %}
            <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">sodium hyialuronate</span>
          </li>
          <li class="c-ingredients-list__item">
            {% include "../00-atoms/atom.drop.html" %}
            <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">salicylic acid</span>
          </li>
          <li class="c-ingredients-list__item">
            {% include "../00-atoms/atom.drop.html" %}
            <span class="u-type--uppercase u-secondary-font-family u-type--semibold u-pl-">dexpanthenenol</span>
          </li>
        </ul>
      </div>
      <p class="u-type--capitalize u-secondary-font-family u-pb- medium-and-up-pt+ u-pt++">Other ingredients</p>
      {% include "./organism.ingredients-slider.html" %}
    </div>
  </div>
</div>
<aside class="c-ingredient-details-modal js-ingredients-modal">
  <div class="c-ingredient-details-modal__inner">
    <div class="u-pos-relative">
      <button class="c-close-btn js-close" href="#">{{ macro.icon("close") }}</button>
      <div class="js-ingredients-modal__content">
        {% include "./organism.ingredients-details.html" %}
      </div>
    </div>
  </div>
</aside>
