<div class="o-fixed-middle o-fixed-middle--right u-pr js-section-nav">
  <ul class="o-fixed-middle__item c-section-nav list-bare u-text-right">
    <li>
      <a class="c-section-nav-link js-section-nav-link is-active" href="#specs">
        <span class="c-section-nav-link__text">Specs</span>
        <span class="c-section-nav-link__number">01</span>
      </a>
    </li>
    <li>
      <a class="c-section-nav-link js-section-nav-link" href="#ingredients">
        <span class="c-section-nav-link__text">Ingredients</span>
        <span class="c-section-nav-link__number">02</span>
      </a>
    </li>
    <li>
      <a class="c-section-nav-link js-section-nav-link" href="#function">
        <span class="c-section-nav-link__text">Function</span>
        <span class="c-section-nav-link__number">03</span>
      </a>
    </li>
    <li>
      <a class="c-section-nav-link js-section-nav-link u-mb0" href="#how-to-use">
        <span class="c-section-nav-link__text">How to use</span>
        <span class="c-section-nav-link__number">04</span>
      </a>
    </li>
  </ul>
</div>
