{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Allantoin</h3>
    <p>
      Allantoin is a natural soothing, anti-irritant, and skin protectant that
      increases the water content of the extracellular matrix which provides
      structural support to cells and is an important part of connective tissue.
      Allantoin also increases the smoothness of the skin, promotes cell
      replication, and promotes the healing of wounds, burns, and scars.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
