{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Retinyl palmitate</h3>
    <p>
      Retinyl Palmitate or vitamin A palmitate, is the ester of retinol (vitamin A).
      Commercial cosmetic anti-aging products often incorporate vitamins or their
      congeners into their formulations, and vitamin A palmitate (RP) is among
      those that have gained notoriety due to its pharmacodynamic properties.
      RP has been shown to act on epithelisation in dry and rough skin, and
      since it absorbs UV radiation between 300 and 350 nm with a maximum at
      325 nm, it may also serve as a biologically relevant UV filter. In 1987,
      a Cosmetic Ingredient Review Expert Panel conducted a safety assessment
      of RP and found, based on a review of animal and human data, that the use
      of RP was safe under the current practices and concentrations.
    </p>
    <p>
      Recently there were some research results about RP use in cosmetic creams
      showing that it can promote tumor growth and skin cancer. Those conclusions
      were not confirmed by other investigations. Retinyl palmitate is still
      aprooved by FDA as over-the -counter drug and is naturally found in our skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
