{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Turmeric root extract</h3>
    <p>
      Turmeric root extract is a natural ingredient found in curry. According
      to results from two split-face studies (1 with an all-white and 1 with an
      all-Asian patient population significantly improves the appearance of
      facial spots, fine lines, and wrinkles. In fact, the turmeric cream was
      15% better in reducing lines and wrinkles than the control product, and
      it has reduced hyperpigmentation by almost 15%.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
