<form method="post">
  <div class="layout">
    <div class="layout__item">
      {{ macro.input(placeholder="Name*") }}
    </div>
    <div class="layout__item">
      {{ macro.input(placeholder="Last Name*") }}
    </div>
    <div class="layout__item">
      {{ macro.input(placeholder="Phone") }}
    </div>
    <div class="layout__item">
      {{ macro.input(placeholder="Email*") }}
    </div>
    <div class="layout__item">
      {{ macro.textarea(placeholder="Message*") }}
    </div>
    <div class="layout__item u-text-right">
      <button class="o-btn c-btn u-mt" type="submit">Send message</button>
    </div>
  </div>
</form>
