{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Apricot kernel oil</h3>
    <p>
      Apricot kernel oil is obtained from the kernels (seeds)
      of Apricots. Apricot kernel oil has been mentioned in Traditional
      Chinese medicine where it is used for treating tumours and ulcers.
      Apricot kernel oil is a brilliant emollient but light in texture. It
      has anti-inflammatory, anti-ageing and antioxidant properties. Apricot
      kernel oil is rich in gamma linoleic acid (GLA), vitamin A and E. It is
      best suited for use on the delicate, sensitive skin such as the under eye area.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
