<div class="o-wrapper">
  <div class="layout layout--middle layout--large">
    <div class="layout__item u-1/2-large-and-up js-animated" data-anim="fadeInUp">
      <h1 class="u-type--capitalize u-text-center u-mb">Corrective cell definer</h1>
      {% set carouselPagination %}
      <div class="u-mb medium-and-up-mt+ u-text-center">
        <div class="c-horizontal-line u-inline-block u-align-middle"></div>
        <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
        <div class="c-horizontal-line u-inline-block u-align-middle"></div>
      </div>
      {% endset %}
      {% set carouselItems %}
      <div class="swiper-slide u-text-center">
        <h2 class="u-ph medium-and-up-p0">Exfoliates skin, reduces dark spots and hyper-pigmentations</h2>
      </div>
      <div class="swiper-slide u-text-center">
        <h2 class="u-ph medium-and-up-p0">Exfoliates skin, reduces dark spots and hyper-pigmentations</h2>
      </div>
      <div class="swiper-slide u-text-center">
        <h2 class="u-ph medium-and-up-p0">Exfoliates skin, reduces dark spots and hyper-pigmentations</h2>
      </div>
      {% endset %}

      {% set carouselNavigation %}
      <div class="o-justifize">
        <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
          <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
          <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
        </button>
        <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
          <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
          <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
        </button>
      </div>
      {% endset %}
      {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
    </div>
    <div class="layout__item u-1/2-large-and-up u-text-center js-animated" data-anim="fadeInUp">
      <img class="c-product-image" src="./images/product-large.png" alt="product-large">
    </div>
  </div>
</div>
