{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Red alga gel</h3>
    <p>
      Red Alga gel is obtained from Red Alga (Ahnfeldtia Concinna) from Pacific
      Ocean for a hydrating, emollient, filmogenic and softening effectiveness.
      It acts as natural moisturizer that improves long-term skin feel.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
