{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Green tea leaf extract</h3>
    <p>
      Green tea leaf extract is a powerful antioxidant with anti-inflammatory
      properties. May protect against free radicals, prevent sun damage and
      preserve the natural moisture barrier of the skin. Studies suggest that
      epigallocatechin gallate (EGCG), one of flavonoids in green tea, and green
      tea polyphenols have anti-inflammatory and anti-cancer properties that may
      help prevent the onset and growth of skin tumours. Topical application of
      EGCG may prevent UV-B-induced immunosuppression and precancerous cell
      changes after UV-B exposure (J Leukoc Biol. 2001;69:719-726)
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
