<footer class="c-page__footer">
  <div class="u-visuallyhidden js-footer" data-anim-in="fadeIn" data-anim-out="fadeOut">
    <a class="c-footer-link u-pr-" href="https://www.instagram.com/?hl=en">{{ macro.icon("instagram") }}</a>
    <a class="c-footer-link u-pl-" href="legal-terms.html">Legal terms</a>
    <a class="c-footer-link" href="#">Privacy policy</a>
  </div>
</footer>
