{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Macadamia ternifolia seed oil</h3>
    <p>
      Macadamia Ternifolia (Macadamia) Seed (Nut) Oil is fabulous botanical
      ingredient for dry and mature skin with an interesting fatty acid profile
      (Palmitoleic, Oleic and Linoleic). As our skin ages it becomes depleted of
      palmitoleic acid. It is high in phytosterols, which are aiding in skin
      recovery with skin calming and healing properties.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
