{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Immortelle essential oil</h3>
    <p>
      Immortelle essential oil is produced in the Mediterranean countries,
      Madagascar, and France, and is distilled from the flowers. It has been
      used because of its medicinal properties for a long time and, even nowadays,
      continues to play an important role in the traditional medicine of
      Mediterranean countries, particularly Italy, Spain, and France. The highlight
      goes to the anti-erythematous and photo-protective activities of its flavonoids,
      demonstrated both in animals and humans, and to the anti-inflammatory
      properties exhibited by its flavonoids, acetophenones, and phloroglucinols.
      In 2014 new isolated compounds were investigated for their cytotoxicity,
      anti-inflammatory and antioxidant properties. Biological assays on humans
      showed that compound possessed antioxidant effects reducing reactive
      oxygen species production.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
