{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Gluthatione</h3>
    <p>
      Glutathione is a substance (tripeptide of cysteine, glycine and glutamate)
      produced naturally by the liver, but is also found in fruits, vegetables, and meats.
      It is called “The Mother of All Antioxidants” and recently become quite popular
      in oral form for skin whitening. Glutathione effectively reduced wrinkle
      formation in both objective and subjective evaluation tests in vivo.
    </p>
    <p>
      Glutathione protects thiol protein groups from oxidation and is involved
      in cellular detoxification. Reduced glutathione (GSH) has a skin-whitening
      effect in humans through its tyrosinase inhibitory activity. In conclusion,
      our study indicates that GSSG (oxidized form of glutathione) is a potent agent
      that can promote skin whitening and improve skin condition. We speculate that
      these effects of GSSG are attributable, at least partly, to the anti-aging
      action of GSH, because GSSG is converted to GSH in the skin.
      Clin Cosmet Investig Dermatol. 2014; 7: 267–274.Skin-whitening and
      skin-condition-improving effects of topical oxidized glutathione: a
      double-blind and placebo-controlled clinical trial in healthy women
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
