{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Bilberry seed oil</h3>
    <p>
      Bilberry seed oil is produced from the seeds of dark blue coloured bilberry
      (European blueberry). It offers a full spectrum of natural isomers of
      tocopherols and tocotrienols (forms of vitamin E) and antioxidants.
      Furthermore it is very rich in essential fatty acids and phytosterols.
      Anthocyanins are responsible for the dark blue colour of the berries but
      are also potent antioxidants. Bilberry oil is also great for soothing dry
      and irritated skin. The Omega 3 and Omega 6 fatty acids are extremely
      helpful when it comes to restoring the lipid barrier of the skin and its integrity
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
