{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Extra virgin coconut oil</h3>
    <p>
      Extra virgin coconut oil is emollient and excellent moisturizer with
      antioxidant properties. Research has shown that from the use of coconut
      oil on skin, hydration improved and skin surface lipids remained intact.
      Coconut oil is primarily composed of saturated fats and contains
      medium-chain fatty acids, which not only help to repair the skin barrier
      and trap water, thus hydrating the skin, they also reduce inflammation.
      The antioxidant property of coconut oil is thought to be due to phenolic
      compounds (specifically ferulic acid and p-coumaric acid).
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
