{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Milk thistle extract</h3>
    <p>
      Milk thistle extract (silibinin) has been found to kill skin cells that
      have become mutated, via exposure to UVA radiation, and also to protect
      against UV-induced skin cancer and photo-aging. One of the
      studies, published in the journal Photochemistry and Photobiology,
      investigated human skin cells that were exposed to UVA radiation. UVA
      radiation is the main type of radiation that reaches the Earth from the Sun,
      making up roughly 95% of the total radiation. The Agarwal Lab treated these
      UVA-affected cells with silibinin. With silibinin, the rate at which these
      damaged cells died increased dramatically. The other study, published in
      the journal Molecular Carcinogenesis, “shows that instead of beneficially
      killing cells damaged by UVA radiation, treatment with silibinin protects
      human skill cells from damage by UVB radiation, which makes up about
      5 percent of the sun’s radiation reaching Earth. Source: University of Colorado Denver
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
