{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Sodium PCA</h3>
    <p>
      Sodium PCA is a component (derivative of naturally occurring amino acid proline)
      of our own skins natural moisturising factor (NMF) which bounds moisture,
      as urea, to our skin cells. It acts as an important humectant.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
