{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Borage seed oil</h3>
    <p>
      Borage seed oil contains a fatty acid called gamma-linolenic acid (GLA).
      GLA seems to have anti-inflammatory effects. Human skin cannot synthesize
      GLA from the precursor linoleic acid, which is notable because
      GLA is also believed to contribute to skin hydration.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
