<div class="u-visible-for-large-and-up">
  <div class="o-fixed-middle u-pl">
    <div class="o-fixed-middle__item">
      <div class="layout layout--large layout--auto layout--middle">
        <div class="layout__item">
          <button class="c-splat-btn js-product-nav-btn js-bloop-click" href="#">
            <span class="c-splat-btn__open">
              {{ macro.icon("bottle", "large") }}
            </span>
            <span class="c-splat-btn__close">
              {{ macro.icon("arrow-left") }}
            </span>
          </button>
        </div>
        <div class="layout__item">
          <ul class="list-bare js-product-nav-list u-visuallyhidden u-anim-fast" data-anim-in="fadeIn" data-anim-out="fadeOut">
            <li>
              <a class="c-product-select-btn u-transparent js-bloop-click js-product-nav-link" href="corrective-cell-definer.html" data-anim-in="fadeInUp">
                <span class="c-product-select-btn__thumb">
                  <img src="./images/product-nav-1.png" alt="products-nav-1">
                </span>
                <span class="c-product-select-btn__text">Corrective <br> cell definer</span>
              </a>
            </li>
            <li>
              <a class="c-product-select-btn u-transparent js-bloop-click js-product-nav-link" href="expert-hydracharge-day-cream.html" data-anim-in="fadeInUp" data-anim-delay="200">
                <span class="c-product-select-btn__thumb">
                  <img src="./images/product-nav-2.png" alt="products-nav-2">
                </span>
                <span class="c-product-select-btn__text">Expert Hydracharge <br> Day Cream</span>
              </a>
            </li>
            <li>
              <a class="c-product-select-btn u-transparent js-bloop-click js-product-nav-link" href="imperial-youth-serum.html" data-anim-in="fadeInUp" data-anim-delay="300">
                <span class="c-product-select-btn__thumb">
                  <img src="./images/product-nav-3.png" alt="products-nav-3">
                </span>
                <span class="c-product-select-btn__text">Imperial Youth Serum</span>
              </a>
            </li>
            <li>
              <a class="c-product-select-btn u-transparent js-bloop-click js-product-nav-link" href="royal-renewal-serum.html" data-anim-in="fadeInUp" data-anim-delay="400">
                <span class="c-product-select-btn__thumb">
                  <img src="./images/product-nav-4.png" alt="products-nav-4">
                </span>
                <span class="c-product-select-btn__text">Royal Renewal Serum</span>
              </a>
            </li>
            <li>
              <a class="c-product-select-btn u-transparent js-bloop-click js-product-nav-link" href="supreme-eye-elixir.html" data-anim-in="fadeInUp" data-anim-delay="500">
                <span class="c-product-select-btn__thumb">
                  <img src="./images/product-nav-5.png" alt="products-nav-5">
                </span>
                <span class="c-product-select-btn__text">Supreme Eye Elixir</span>
              </a>
            </li>
            <li>
              <a class="c-product-select-btn u-transparent u-mb0 js-bloop-click js-product-nav-link" href="ultimative-rejuvenating-complex-night-cream.html" data-anim-in="fadeInUp" data-anim-delay="600">
                <span class="c-product-select-btn__thumb">
                  <img src="./images/product-nav-6.png" alt="products-nav-6">
                </span>
                <span class="c-product-select-btn__text">Ultimate Rejuvenating <br> Night Cream</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
