{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Oxybenzone</h3>
    <p>
      Oxybenzone is an active chemical sunscreen ingredient.
      It protects against UVA and UVB rays. Oxybenzone has not been
      associated with adverse health effects and is an important tool to
      protect against sunburn and skin cancer
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
