{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Lactic acid</h3>
    <p>
      Lactic acid is alpha hydroxyl acid (AHA), a member of a well-known family
      of exfoliants. As such, it improves skin's overall texture by moisturizing,
      sloughing off dead surface cells and promoting collagen growth. Consequently,
      lactic acid often works well as a wrinkle and line reducer and helps to
      even out skin tone and diminish acne scars. Lactic acid is uniquely gentle
      by comparison and typically doesn't irritate people who have skin conditions
      like acne or rosacea. However, if your skin is extremely sensitive, you should be cautious.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
