{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Resveratrol</h3>
    <p>
      Resveratrol is a phytoalexin antioxidant found in red grapes; it has been
      shown to have both chemopreventive and therapeutic effects against many
      diseases and disorders, including those of the skin. Studies have shown
      protective effects of resveratrol against ultraviolet radiation mediated
      oxidative stress and cutaneous damages including skin cancer.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
