{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Pomegranate seed oil</h3>
    <p>
      Pomegranate seed oil is rich in vitamins A, C, E and K, vitamins which
      are vital for the skin’s fighting wrinkles and staying young and elastic
      as long as possible. It has a number of ingredients, which are powerful
      antioxidants, meaning that they stop free radicals, which are responsible
      for aging from taking over, thus protecting the skin from aging.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
