{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Sunflower seed oil</h3>
    <p>
      Sunflower seed oil is the non-volatile oil compressed from sunflower
      (Helianthus annuus) seeds. Sunflower oil contains vitamin E, lecithin,
      carotenoids and waxes. Sunflower oil also contains proteins, which are
      vital for building and repairing tissues. Being rich in nutrients and
      antioxidants, it is widely used for medicinal and cosmetic purposes and
      is found to be effective against acne, eczema, inflammation, general
      redness and irritation of the skin. Being naturally emollient, it improves
      your skin’s moisture retention capacity and is beneficial for individuals
      with dry, dehydrated or sensitive skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
