{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Matricaria essential oil</h3>
    <p>
      Matricaria (chamomile) essential oil is extracted from the blossom (flowers)
      of the plant has the strongest anti-inflammatory compounds of all therapeutic
      essential oils. The plant's healing properties come from its daisy-like
      flowers, which contain volatile oils (including bisabolol, bisabolol oxides
      A and B, and matricin) as well as flavonoids (particularly a compound
      called apigenin) and other therapeutic substances. Essential oil may
      speed healing of skin ulcers, wounds, or burns. It soothes redness and
      irritation. Finally, the oil has antibacterial properties and can help
      to clean and protect wounds from infections. It is commonly used as an
      all-natural remedy for dental abscesses, conjunctivitis, and other infections.
      The remarkable feature of matricaria essential oil is its colour – a
      deep indigo blue from its chamazulene content.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
