{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Wheat germ oil</h3>
    <p>
      Wheat Germ oil is readily absorbed by your skin, which makes it an
      effective moisturizer and an appropriate topical treatment.Wheat germ
      oil is one of the most concentrated natural sources of vitamin E. When
      applied to your skin, wheat-germ oil delivers a healthy infusion of antioxidants,
      phytosterols and fatty acids. These nutrients not only moisturize and heal
      skin, they also help prevent scarring. In particular it helps reduce skin
      damage, fight free radicals, support healthy collagen formation and maintain even skin tone.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
