{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Glycoproteins</h3>
    <p>
      Glycoproteins are proteins that contain a carbohydrate attached to a protein.
      They are important in maintaining the health of cellular proteins and play
      an important role in communication between cells. They help to keep skin
      cells and the skin’s structure healthy and intact.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
