{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Tocopheryl acetate</h3>
    <p>
      Tocopheryl Acetate is ester form of vitamin E (Tocoferol) - natural
      component of cell membranes. This is an anti-aging superstar because
      of its excellent antioxidant properties and UV protecting activity,
      reducing the severity of sunburns. It reduces transepidermal water loss
      and protects the skin’s lipid barrier function.
    </p>
    <p>
      Despite some negative connotations, because of presence of methylhydroquinone
      as an impurity - it has been determined that tocopheryl acetate is a skin
      sensitizer that can instigate immune system responses such as itching,
      burning, scaling, hives, and blistering of skin. For those cases, residual
      levels of hydroquinone would be expected to be limited to those achieved
      by good manufacturing practices. Tocopheryl acetate is FDA approved and
      has received its GRAS (Generally Recognized as Safe) rating.
    </p>
    <p>
      Our Tocopheryl acetate is manufactured according to highest pharmaceutical
      standards and in accordance with European Pharmacopoeia (Ph.Eur.)
      monograph regarding its purity.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
