{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb u-pr+">Paraffinum liquidum, glycerol and dimeticone</h3>
    <p>
      Paraffinum Liquidum, Glycerol and Dimeticone are emollients.
      Emollients help skin to feel more comfortable and less itchy.
      They keep the skin moist and flexible by reducing water loss from
      the epidermis - the outer layer of skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
