{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Echium plantagineum seed oil</h3>
    <p>
      Echium Plantagineum Seed Oil is rich in stearidonic acid (Omega-3),
      gamma-linoleic acid (Omega-6) and phospholipids. It decreases
      transepidermal water loss, skin redness and reduces skin sensitivity.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
