{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Lutein</h3>
    <p>
      Lutein is a carotenoid occurring in green leafy vegetables.
      It may provide protection against UV-induced redness, inflammation,
      and wrinkling of the skin. It also helps maintain skin hydration,
      smoothness, and elasticity.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
