{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">L-Selenomethionine</h3>
    <p>
      L-Selenomethionine is naturally occurring amino acid containing selenium.
      It has been shown that it can reduce the incidence of acute and chronic
      damage to the skin (sunburn and tanning or pigmentation and skin cancer)
      induced by sun rays without giving any signs or symptoms of toxicity.
      Selenium has been shown to have protective effects such as repairing DNA,
      reducing the DNA binding of carcinogens, inhibiting tumour transformation
      and suppressing gene mutations ) Source: Burke KE, Combs GF, Jr., Gross EG,
      Bhuyan KC, Abu-Libdeh H. The effects of topical and oral L-selenomethionine
      on pigmentation and skin cancer induced by ultraviolet irradiation.
      Nutr Cancer. 1992;17(2):123-137.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
