{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Sodium hyaluronate</h3>
    <p>
      Sodium Hyaluronate is sodium salt of hyaluronic acid, a glycosaminoglycan
      and in skin acts as a natural moisturizing factor (NMF) – it is vital for
      tissue repair and collagen synthesis. Production of hyaluronic acid decreases
      with age, which contributes to the loss of moisture leaving skin to become
      thinner and less supple.
    </p>
    <p>
      Sodium hyaluronate as a topical skin medication is used to treat skin ulcers
      such as bed sores or diabetic foot ulcers, as well as burn wounds, surgical
      incisions, cuts, abrasions, and other skin irritations. Sodium hyaluronate
      skin medication is also used to treat dry or scaly skin.
      Sodium hyaluronate oral gel is used to treat mouth sores or other irritation
      caused by infection, chemotherapy or radiation treatments.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
