{% set carouselItems %}
<div class="swiper-slide u-1/3-large-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="400">
  <div class="c-avatar u-mb- u-transparent js-animated" data-anim="zoomIn" data-anim-delay="800">
    <img src="./images/avatar-3.png" alt="avatar" />
  </div>
  <h3>Christina Thompson</h3>
  <p class="c-testimonials-paragraph">
    I am using Royal Renewal Serum for a year. It is important for me
    that it does not cause allergies on the skin, and has virtually no odor.
    I would like to suggest a solution that really changed my skin.
  </p>
  <hr class="c-horizontal-line u-mt" />
  <p class="u-secondary-font-family u-type--uppercase u-mb- u-mt">Recommends</p>
  <a class="c-link u-type--uppercase" href="royal-renewal-serum.html">Royal Renewal Serum</a>
</div>
<div class="swiper-slide u-1/3-large-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="600">
  <div class="c-avatar u-mb- u-transparent js-animated" data-anim="zoomIn" data-anim-delay="1000">
    <img src="./images/avatar-3.png" alt="avatar" />
  </div>
  <h3>Anna Tompson</h3>
  <p class="c-testimonials-paragraph">
    I have combination skin, and I use Ultimate Rejuvenating Night Cream.
    It has such a lovely texture and very light scent that makes it a dream to use!
    It makes my skin look brighter, feel hydrated, evened out my complexion,
    and best of all - protected.
  </p>
  <hr class="c-horizontal-line u-mt" />
  <p class="u-secondary-font-family u-type--uppercase u-mb- u-mt">Recommends</p>
  <a class="c-link u-type--uppercase" href="ultimative-rejuvenating-complex-night-cream.html">Ultimate Rejuvenating Night Cream</a>
</div>
<div class="swiper-slide u-1/3-large-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="800">
  <div class="c-avatar u-mb- u-transparent js-animated js-bloops" data-anim="zoomIn" data-anim-delay="1200">
    <img src="./images/avatar-3.png" alt="avatar" />
  </div>
  <h3>Jennet Alden</h3>
  <p class="c-testimonials-paragraph">
    I would like to suggest a Royal Renewal Serum that really changed my skin.
    After a week of using it my skin started shining from inside.
    It is important for me that it does not cause allergies on the
    skin, and has virtually no odor. I would like to suggest a solution that
    really changed my skin.
    It is important for me that it does not cause allergies on the
    skin, and has virtually no odor. I would like to suggest a solution that
    really changed my skin.
  </p>
  <hr class="c-horizontal-line u-mt" />
  <p class="u-secondary-font-family u-type--uppercase u-mb- u-mt">Recommends</p>
  <a class="c-link u-type--uppercase" href="royal-renewal-serum.html">Royal Renewal Serum</a>
</div>
<div class="swiper-slide u-1/3-large-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="800">
  <div class="c-avatar u-mb- u-transparent js-animated" data-anim="zoomIn" data-anim-delay="1200">
    <img src="./images/avatar-3.png" alt="avatar" />
  </div>
  <h3>Stephany Hopkins</h3>
  <p class="c-testimonials-paragraph">
    I would like to suggest a Royal Renewal Serum that really changed my skin.
    After a week of using it my skin started shining from inside.
    It is important for me that it does not cause allergies on the
    skin, and has virtually no odor. I would like to suggest a solution that
    really changed my skin.
  </p>
  <hr class="c-horizontal-line u-mt" />
  <p class="u-secondary-font-family u-type--uppercase u-mb- u-mt">Recommends</p>
  <a class="c-link u-type--uppercase" href="#">Royal Renewal Serum</a>
</div>
<div class="swiper-slide u-1/3-large-and-up u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="800">
  <div class="c-avatar u-mb- u-transparent js-animated" data-anim="zoomIn" data-anim-delay="1200">
    <img src="./images/avatar-3.png" alt="avatar" />
  </div>
  <h3>Christina Thompson</h3>
  <p class="c-testimonials-paragraph">
    I would like to suggest a Royal Renewal Serum that really changed my skin.
    After a week of using it my skin started shining from inside.
    It is important for me that it does not cause allergies on the
    skin, and has virtually no odor. I would like to suggest a solution that
    really changed my skin.
  </p>
  <hr class="c-horizontal-line u-mt" />
  <p class="u-secondary-font-family u-type--uppercase u-mb- u-mt">Recommends</p>
  <a class="c-link u-type--uppercase" href="#">Royal Renewal Serum</a>
</div>
{% endset %}

{% set carouselNavigation %}
<div class="u-pt medium-and-up-pt++">
  <button class="o-btn js-carousel__prev u-mr">{{ macro.icon("arrow-left") }}</button>
  <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
</div>
{% endset %}
<div class="u-pt+">
  {{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
</div>
