{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Rose hip seed oil</h3>
    <p>
      Rose Hip seed oil is extracted from the seeds of the rose bushes Rosa rubiginosa.
      The oil pressed off the Rosehip seed contains an amazing 77% of fatty acids
      (linoleic and  linolenic). Fatty acids have very important functions in the
      regeneration of skin cells and repair of damaged tissues. Over the years,
      Rose Hip Oil has been shown to retard the signs of premature ageing and
      provide excellent results in the treatment of burns, scars and unsightly
      spots on skin. If applied consistently during two or three months Rose Hip
    </p>
    <p>
      Oil was found to reduce wrinkles and signs of premature ageing.
      It will also help counter the drying effects of the sun which are
      usually first noticed in fine wrinkles or "crows feet" around the eyes
      and mouth. Also when used as part of a daily body skin care regiment,
      this amazing oil can help to prevent the appearance of stretch marks
    </p>
  </div>

  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Rose hip seed oil</h3>
    <p>
      Changes produced on skin by the action of the sun, i.e., photoaging
      (dermatoheliosis) are very common in all countries of warm climate.
      Exposure to sun causes important morfological changes in skin.
      Dermatoheliosis appears in different ways and varying intensity ranging from surface
      wrinkles, active keratosis and variation in the distribution of the melanin granules.
      For this test volunteers were selected among people who usually spend the
      3 months of summer in resorts by the sea or who go to the beach every day.
      The tests were carried out on 20 women aged between 25 and 35 who were
      controlled and assessed during the summer of 1988. The most frequently
      noted cutaneous signs were surface wrinkles, brown spots, eyelids and,
      in some cases,only an intense tan. All applied rose hip oil on the face
      during four months (May to August, Autumn 1988). Observations were made
      every eight days. Significant changes were noted starting on the third week.
      Firstly, surface wrinkles started to disappear, spots started to fade until,
      at the end of the fourth month, the disappearance was complete.
      Skin presented a smooth and fresh aspect and the spots
      had almost disappeared.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
