{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Hippophae rhamnoides seed oil</h3>
    <p>
      Hippophae Rhamnoides Seed Oil contains a high content of nutrients
      essential for metabolism, regeneration and healing of the skin cells.
      Thus it is also effective to help minimize wrinkles and other symptoms
      of aging skin. Some studies show it has antioxidant potential.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
