<div class="layout layout--flush">
  <div class="layout__item u-1/2-large-and-up u-mb u-text-center js-animated" data-anim="fadeInUp">
    <img class="c-product-image" src="./images/product-large.png" alt="product-large">
  </div>
  <div class="layout__item u-1/2-large-and-up
    c-opacity-white-background c-opacity-white-background--visible-for-large-and-up
    c-opacity-white-background--right u-pl large-and-up-pl+ u-pv
    js-animated" data-anim="fadeInRight">
    <h1 class="u-type--capitalize u-mb-">Corrective cell definer</h1>
    <p class="u-type--capitalize u-secondary-font-family">how to use Corrective Cell Definer?</p>
    <div class="o-wrapper o-wrapper--small u-ml0 u-pl0 large-and-up-pr++">
      {% set carouselPagination %}
        <div class="u-mb">
          <div class="c-horizontal-line u-inline-block u-align-middle"></div>
          <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
          <div class="c-horizontal-line u-inline-block u-align-middle"></div>
        </div>
      {% endset %}
      {% set carouselItems %}
      <div class="swiper-slide">
        <ul>
          <li class="u-mb">
            Apply Corrective Cell Definer, alone, at the beginning
            of every third day of your anti-age night routine,
            until you can tolerate it every other day.
          </li>
          <li class="u-mb">
            Avoid using other topical exfoliants, scrubs or topical
            medications afterwards Corrective Cell Definer.
          </li>
          <li class="u-mb">
            Avoid contacts with eyes or mucous membranes.
            If contact occurs rinse with water. In case of severe
            irritation, discontinue use.
          </li>
          <li class="u-mb">
            If you start to feel excessive dryness or skin
            peeling the day after, reduce application and then
            be encouraged to moisturise your face more often
            with LeClair <a href="#">Imperial Youth Serum</a> to restore the
            skin balance again.
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul>
          <li class="u-mb">
            Apply Corrective Cell Definer, alone, at the beginning
            of every third day of your anti-age night routine,
            until you can tolerate it every other day.
          </li>
          <li class="u-mb">
            Avoid using other topical exfoliants, scrubs or topical
            medications afterwards Corrective Cell Definer.
          </li>
          <li class="u-mb">
            Avoid contacts with eyes or mucous membranes.
            If contact occurs rinse with water. In case of severe
            irritation, discontinue use.
          </li>
          <li class="u-mb">
            If you start to feel excessive dryness or skin
            peeling the day after, reduce application and then
            be encouraged to moisturise your face more often
            with LeClair <a href="#">Imperial Youth Serum</a> to restore the
            skin balance again.
          </li>
        </ul>
      </div>
      {% endset %}

      {% set carouselNavigation %}
      <div class="o-justifize">
        <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
          <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
          <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
        </button>
        <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
          <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
          <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
        </button>
      </div>
      {% endset %}
      {{ macro.carousel(carouselItems, carouselPagination, navigation=carouselNavigation) }}
    </div>
  </div>
</div>
