{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Beta glucane</h3>
    <p>
      Beta glucane is the soluble fibre found in the cell walls of oat kernels.
      Glucan works through the inter-cellular lipid matrix to enter the lower
      levels of the skin. Beta-glucans are notable for their ability to modulate
      the immune system. They are useful antioxidants and have anti-inflammatory
      properties. Topical beta-glucans can accelerate wound healing and increase
      resistance to infections. Studies also demonstrated that beta glucans
      have photo-protective properties similar to those of vitamin E by their
      ability to sustain levels of reduced glutathione in the skin following UV
      radiation.
    </p>
    <p>
      Of medical significance is the fact that beta glucan creams promote wound
      healing and reduction in scaring following surgical procedures.
      Beta glucan can be used as a transdermal delivery system to feed drugs
      and other compounds into the skin.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
