{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Mastic gum oil</h3>
    <p>
      Mastic Gum Oil is derived from the tree named Pistacia lentiscus that is
      grown only in Island of Hios in Greece. The pharmacology and medicinal use
      of mastic is diverse. The resin has been used in cancer, infection,
      surgical wound adhesion, and ulcers. Studies also document its use as
      an antioxidant and antibacterial agent. It is rich in essential fatty
      acids, vitamin E and polyphenols.
    </p>
    <p>
      The reason mastic is called mastic gum, is that it was historically
      used as chewing gum, and as a spice for at least 2,400 years.
      It continues to be used as a spice in Greece, Turkey and Lebanon to
      flavour liquors, cakes, pastries, and desserts. All types of mastic gum
      have anti-bacterial and anti-fungal properties, and it has long been used
      in the treatment of skin disorders and other infections. Historically
      mastic gum was even used to treat bronchial infections. Currently research
      has found it to be effective in destroying mouth bacteria, and helping to
      eradicate H. pylori infections.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}

