{% set carouselItems %}
  <div class="swiper-slide">
    <h3 class="u-type--capitalize u-type--normal u-mb">Avocado oil</h3>
    <p>
      Avocado oil has good moisturizing capacity due its high fat content
      and this comes with added benefits of Vitamin E and Vitamin A and
      antioxidants - xanthophylls (lutein and cryptoxanthin and zeaxanthin).
      Avocado's highly bioavailable lutein and zeaxanthin may help protect the
      skin from damage from both UV and visible radiation. Oil is rapidly absorbed
      into skin and seeps deep into dermis. In couple of studies, avocado oil
      has shown to alter the collagen structure, contribute to anti-aging benefits.
      It has been shown to promote wound healing in animal models.
    </p>
  </div>
{% endset %}

{% set carouselNavigation %}
  <div class="u-pt">
    <button class="o-btn js-carousel__prev u-mr-">{{ macro.icon("arrow-left") }}</button>
    <button class="o-btn js-carousel__next">{{ macro.icon("arrow-right") }}</button>
  </div>
{% endset %}

{{ macro.carousel(carouselItems, navigation=carouselNavigation) }}
