<div class="o-wrapper o-wrapper--small">
  <h1 class="u-text-center u-mb+">FAQ</h1>
  <dl class="c-definition-list">
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="200">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="200">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="350">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="350">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="500">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="500">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="650">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="650">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="800">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="800">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="950">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="950">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1100">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1100">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1250">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1250">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1400">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1400">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
    <dt class="c-definition-list__title u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1550">Do I need to register to order your products?</dt>
    <dd class="c-definition-list__text u-transparent js-animated" data-anim="fadeInUp" data-anim-delay="1550">
      No, there is no need for registering. You can make orders even if you are not
      our user. Case omnis pertinax eam ea, mei no ignota vivendo lobortis. Eu
      mea dolorem accusam nominati, ea usu dicam prompta, in eum etiam
      meliore sapientem.
    </dd>
  </dl>
</div>
