<div class="layout layout--large">
  <div class="layout__item u-1/2-medium-and-up">
    {% set carouselPagination %}
    <div class="u-mb u-mt+ medium-and-up-mt++">
      <div class="c-horizontal-line u-inline-block u-align-middle"></div>
      <div class="c-carousel js-carousel__pagination u-inline-block u-align-middle u-ph--"></div>
      <div class="c-horizontal-line u-inline-block u-align-middle"></div>
    </div>
    {% endset %}
    {% set carouselItems %}
    <div class="swiper-slide">
      <h6 class="u-type--bold u-mb--">Which product can help me with my dry skin?</h6>
      <p>
        Lorem ipsum dolor sit amet, an has putent expetenda, ei solum populo
        essent duo. Nec at stet fabulas gloriatur, at mutat elaboraret scribentur
        sea. Per albucius deseruisse in, eam vero iudicabit honestatis te, doctus
        <a href="#">Corrective Cell Definer</a>. Mei te ferri semper, his ei
        apeirian consectetuer, eam omnium offendit et. Pri ex odio natum definitiones,
        mentitum euripidis consetetur vis id.
      </p>
    </div>
    <div class="swiper-slide">
      <h6 class="u-type--bold u-mb--">Which product can help me with my dry skin?</h6>
      <p>
        Lorem ipsum dolor sit amet, an has putent expetenda, ei solum populo
        essent duo. Nec at stet fabulas gloriatur, at mutat elaboraret scribentur
        sea. Per albucius deseruisse in, eam vero iudicabit honestatis te, doctus
        <a href="#">Corrective Cell Definer</a>. Mei te ferri semper, his ei
        apeirian consectetuer, eam omnium offendit et. Pri ex odio natum definitiones,
        mentitum euripidis consetetur vis id.
      </p>
    </div>
    <div class="swiper-slide">
      <h6 class="u-type--bold u-mb--">Which product can help me with my dry skin?</h6>
      <p>
        Lorem ipsum dolor sit amet, an has putent expetenda, ei solum populo
        essent duo. Nec at stet fabulas gloriatur, at mutat elaboraret scribentur
        sea. Per albucius deseruisse in, eam vero iudicabit honestatis te, doctus
        <a href="#">Corrective Cell Definer</a>. Mei te ferri semper, his ei
        apeirian consectetuer, eam omnium offendit et. Pri ex odio natum definitiones,
        mentitum euripidis consetetur vis id.
      </p>
    </div>
    <div class="swiper-slide">
      <h6 class="u-type--bold u-mb--">Which product can help me with my dry skin?</h6>
      <p>
        Lorem ipsum dolor sit amet, an has putent expetenda, ei solum populo
        essent duo. Nec at stet fabulas gloriatur, at mutat elaboraret scribentur
        sea. Per albucius deseruisse in, eam vero iudicabit honestatis te, doctus
        <a href="#">Corrective Cell Definer</a>. Mei te ferri semper, his ei
        apeirian consectetuer, eam omnium offendit et. Pri ex odio natum definitiones,
        mentitum euripidis consetetur vis id.
      </p>
    </div>
    <div class="swiper-slide">
      <h6 class="u-type--bold u-mb--">Which product can help me with my dry skin?</h6>
      <p>
        Lorem ipsum dolor sit amet, an has putent expetenda, ei solum populo
        essent duo. Nec at stet fabulas gloriatur, at mutat elaboraret scribentur
        sea. Per albucius deseruisse in, eam vero iudicabit honestatis te, doctus
        <a href="#">Corrective Cell Definer</a>. Mei te ferri semper, his ei
        apeirian consectetuer, eam omnium offendit et. Pri ex odio natum definitiones,
        mentitum euripidis consetetur vis id.
      </p>
    </div>
    {% endset %}
    {% set carouselNavigation %}
    <div class="o-justifize">
      <button class="c-carousel-btn js-carousel__prev o-btn u-type--uppercase u-mt+">
        <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-left") }}</span>
        <span class="u-inline-block u-align-middle u-secondary-font-family u-ml--">Previous</span>
      </button>
      <button class="c-carousel-btn js-carousel__next o-btn u-type--uppercase u-mt+">
        <span class="u-inline-block u-align-middle u-secondary-font-family u-mr--">Next</span>
        <span class="u-inline-block u-align-middle">{{ macro.icon("arrow-right") }}</span>
      </button>
    </div>
    {% endset %}
    {{ macro.carousel(carouselItems, carouselPagination, carouselNavigation) }}
  </div>
  <div class="layout__item u-1/2-medium-and-up u-text-center">
    <img src="./images/product_1.png" alt="product_1" />
    <p class="u-secondary-font-family u-type--uppercase u-mb- u-mt">Recommended</p>
    <h2 class="u-secondary-font-family u-line-height-1 u-mb-">Corrective cell<br /> definer</h2>
    <a class="c-link u-type--uppercase" href="royal-renewal-serum.html">View product</a>
  </div>
</div>
