/*------------------------------------*\
    #INUIT SETTINGS
\*------------------------------------*/


// Inuit defaults
$inuit-base-background-color:                   $base-background-color;
$inuit-base-font-size:                          $base-font-size;
$inuit-base-line-height:                        $base-line-height;
$inuit-base-text-color:                         $base-text-color;
$inuit-heading-size-1:                          $base-h1-font-size;
$inuit-heading-size-2:                          $base-h2-font-size;
$inuit-heading-size-3:                          $base-h3-font-size;
$inuit-heading-size-4:                          $base-h4-font-size;
$inuit-heading-size-5:                          $base-h5-font-size;
$inuit-heading-size-6:                          $base-h6-font-size;

// Inuit responsive
$breakpoints: (
    'medium'                'screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})',
    'medium-and-up'         'screen and (min-width: #{$breakpoint-medium})',
    'large'                 'screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-extralarge - 1})',
    'large-and-up'          'screen and (min-width: #{$breakpoint-large})',
    'extralarge-and-up'     'screen and (min-width: #{$breakpoint-extralarge})',
    'widescreen-and-up'     'screen and (min-width: #{$breakpoint-widescreen})'
);


// Spacings
$inuit-enable-margins:                          true;
$inuit-enable-margins--tiny:                    true;
$inuit-enable-margins--small:                   true;
$inuit-enable-margins--large:                   true;
$inuit-enable-margins--huge:                    true;

$inuit-enable-margins--none:                    true;

$inuit-enable-paddings:                         true;
$inuit-enable-paddings--tiny:                   true;
$inuit-enable-paddings--small:                  true;
$inuit-enable-paddings--large:                  true;
$inuit-enable-paddings--huge:                   true;

$inuit-enable-paddings--none:                   true;


// Spacings responsive
$inuit-enable-responsive-margins:                   true;
$inuit-enable-responsive-margins--tiny:             true;
$inuit-enable-responsive-margins--small:            true;
$inuit-enable-responsive-margins--large:            true;
$inuit-enable-responsive-margins--huge:             true;

$inuit-enable-responsive-margins--negative:         true;
$inuit-enable-responsive-margins--negative-tiny:    true;
$inuit-enable-responsive-margins--negative-small:   true;
$inuit-enable-responsive-margins--negative-large:   true;
$inuit-enable-responsive-margins--negative-huge:    true;

$inuit-enable-responsive-margins--none:             true;

$inuit-enable-responsive-paddings:                  true;
$inuit-enable-responsive-paddings--tiny:            true;
$inuit-enable-responsive-paddings--small:           true;
$inuit-enable-responsive-paddings--large:           true;
$inuit-enable-responsive-paddings--huge:            true;

$inuit-enable-responsive-paddings--none:            true;


// Flag
$inuit-enable-flag--tiny:                       true;
$inuit-enable-flag--small:                      true;
$inuit-enable-flag--large:                      true;
$inuit-enable-flag--huge:                       true;
$inuit-enable-flag--rev:                        true;
$inuit-enable-flag--flush:                      true;
$inuit-enable-flag--top:                        true;
$inuit-enable-flag--bottom:                     true;
$inuit-enable-flag--responsive:                 false;
$inuit-flag-collapse-at:                        720px;


// Layout
$inuit-enable-layout--tiny:                     true;
$inuit-enable-layout--small:                    true;
$inuit-enable-layout--large:                    true;
$inuit-enable-layout--huge:                     true;
$inuit-enable-layout--flush:                    true;
$inuit-enable-layout--rev:                      true;
$inuit-enable-layout--middle:                   true;
$inuit-enable-layout--bottom:                   true;
$inuit-enable-layout--right:                    true;
$inuit-enable-layout--center:                   true;
$inuit-enable-layout--auto:                     true;

$inuit-widths-columns: (
    1,
    2,
    3,
    4,
    5,
    6,
    8,
    9,
    10,
    12
);

$inuit-widths-columns-responsive: (
    1,
    2,
    3,
    4,
    5,
    6,
    8,
    9,
    10,
    12
);
