/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/

// High-level base settings.
$base-background-color:                         #fff;
$base-font-family:                              "pt-serif", serif;
$base-font-size:                                14px;
$base-line-height:                              20px;
$base-link-color:                               #ffb0b0;
$base-text-color:                               #3e3e3e;
$secondary-font-family:                         "proxima-nova", sans-serif;
// Define font-sizes with modular scale function
// ms() - modular scale (http://www.modularscale.com/)
// can't use function before declaration
$base-h1-font-size:                             40px; // ms(9)
$base-h2-font-size:                             28px; // ms(6)
$base-h3-font-size:                             25px; // ms(5)
$base-h4-font-size:                             16px; // ms(1)
$base-h5-font-size:                             15px; // ms(0) + 1px
$base-h6-font-size:                             14px; // ms(0)
$base-transition:                               .15s cubic-bezier(.445, .05, .55, .95); // Ease in out sine


// Layout
$spacing-unit:                                  $base-line-height;
$spacing-unit--tiny:                            round($spacing-unit / 4);
$spacing-unit--small:                           round($spacing-unit / 2);
$spacing-unit--large:                           round($spacing-unit * 2);
$spacing-unit--huge:                            round($spacing-unit * 4);


// Breakpoints
$breakpoint-medium:                             481px;
$breakpoint-large:                              961px;
$breakpoint-extralarge:                         1025px;
$breakpoint-widescreen:                         1367px;


// Colors
$brand-colors: (
   // Primary colors
  'pink':             #ffb0b0,
  'red':              #f00,
  'gold':             #c2ad6e,

  // Tint/shades
  'light-pink':       #f7cdcd,
  'opacity-white':    rgba(255, 255, 255, .7),
  'deep-gray':        #3e3e3e,
  'dark-gray':        #535353,
  'medium-gray':      #6a6a6a,
  'second-gray':      #828282,
  'light-gray':       #d8d8d8
);

$colors: map-merge(
    $brand-colors, (
        // Contextual colors
        'background':         'pink' ('rgba': .7),
        'input':              #3a3a3a,
        'input--hover':       #ffb9b9,
        'input-text':         'deep-gray',
        'input-placeholder':  'second-gray',
        'error':              'red',
        'radio-border':       rgba(#000, .54),
        'checkbox-border':    'radio-border',
        'radio-mark':         'pink'
    )
);

// Modular scale setup
$ms-base:   14px;
$ms-ratio:  1.125;

$input-height: 40px; // ms(9)

$icon-sizes: (
    'normal':  24px,
    'small':   12px,
    'large':   42px
);

// Animations
$base-duration: 1.5s;
$base-distance: 50px;

// scss-lint:disable NameFormat
$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeInLeft: true;
$use-fadeInRight: true;
$use-fadeOut: true;
$use-fadeOutLeft: true;
$use-zoomIn: true;
// scss-lint:enable NameFormat
