/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

@mixin ie11 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin fill-parent($offset: 0) {
    position: absolute;
    top: $offset;
    left: $offset;
    right: $offset;
    bottom: $offset;
}

@mixin accelerate($name: transform) {
    will-change: $name;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;

    /**
     * 1. Backface visibility is not working in ie11 (2016-12-29)
     */
    @include ie11 {
        backface-visibility: visible; /* [1] */
    }
}

@mixin sprite-anim($spritesheet, $steps, $duration) {
    @include accelerate(content);
    background-image: url($spritesheet);
    background-size: (100% * $steps) 100%;
    background-repeat: no-repeat;
    animation: sprite-anim $duration steps($steps) forwards;
}

@keyframes sprite-anim {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

